<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Form Add Exclude Number</h4>
          <form method="post" id="form">
            <div
              class="wells"
              style="background: #eaeaea;padding:20px;border-radius: 3px;"
            >
              <table style="font-size: 12px">
                <tr>
                  <td>Date</td>
                  <td width="20px">:</td>
                  <td id="dateNow">2018-02-14</td>
                </tr>
                <tr>
                  <td>Requester</td>
                  <td width="20px">:</td>
                  <td id="requester">User</td>
                </tr>
                <tr id="rejectSection" style="display:none;">
                  <td>Reject Reason</td>
                  <td width="20px">:</td>
                  <td id="rejectReason"></td>
                </tr>
              </table>
            </div>
  
            <hr />
 
  
            <div class="table-responsive" style="margin-bottom:20px;">
              <table id="tblProduct" class="table table-bordered">

                <tbody id="rowBody">
                  <tr>
                    <td width="30%">
                      Code Exclude
                    </td>
                    <td>
                      <input
                        type="text"
                        class="form-control senderMask"
                        name="sender"
                        id="sender"
                        required
                      />
                    </td>
                  </tr>
                  
                  <tr>
                    <td>
                      Description
                    </td>
                    <td>
                      <textarea
                        class="form-control msgTetun"
                        name="tetun"
                        id="tetun"
                        maxlength="160"
                        required
  
                      />
                    </td>
                  </tr>
                  
                  <tr id="tr_upload">
                    <td>
                      Exclude
                    </td>
                    <td>
                      <input
                        type="file"
                        name="file_upload"
                        class="form-control"
                        id="file_upload"
                      />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <hr />
            <div>
              <button type="submit" class="btn btn-outline-success btn-fw" >
                <i class="mdi mdi-send"></i>Submit
              </button>
              <button
                type="reset"
                class="btn btn-outline-danger btn-fw"
              >
                <i class="mdi mdi-cancel"></i>Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(function() {
      var date = datePHPJS("d, M Y", new Date());
      $("#dateNow").html(date);
      $("#requester").html(localStorage['name'])
      $("#iduser").val(localStorage["id"]);
    
      $("#form").submit(function(){
        save_sms()
        return false
      })
    
    });
    
    
    function save_sms() {
      //alert('asu');
        $.ajax({
          url: 'http://localhost/smsbc_student/process/processSMSContent.php?action=insert&user='+localStorage['username'],
          method: 'post',
          data: $("#form").serialize(),
          dataType: 'json',
          success:function(ar) {
            console.log("msg",ar);
            if (ar.success) {
              swal({
                title: 'Success',
                text: ar.msg,
                type: 'success',
                showCancelButton: true,
                button: '#4fa7f3',
                allowOutsideClick: false,
                button: 'Ok',
              });
              $(".content-wrapper").load("mainmenu/smscontent.html");
            }else{
              showErrorWithNoAction(ar.msg)
            }
          },
          error:function(xhr) {
            $("#loaderNew").remove();
            
            // console.log(xhr);
            showErrorWithNoAction('Internal server error. Please contact administrator website.');
          }
        });
    }
    
    </script>