<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Form Add Campaign</h4>
        <form method="post" id="form">
          <div
            class="wells"
            style="background: #eaeaea;padding:20px;border-radius: 3px;"
          >
            <table style="font-size: 12px">
              <tr>
                <td>Date</td>
                <td width="20px">:</td>
                <td id="dateNow">2018-02-14</td>
              </tr>
              <tr>
                <td>Requester</td>
                <td width="20px">:</td>
                <td id="requester">User</td>
              </tr>
              <tr id="rejectSection" style="display:none;">
                <td>Reject Reason</td>
                <td width="20px">:</td>
                <td id="rejectReason"></td>
              </tr>
            </table>
          </div>

          <hr />

          <p class="pull-right" style="float: right;">
            <!-- <button class="btn btn-primary"><i class="fa fa-plus-circle"></i></button> -->
            <!-- <button
              type="button"
              id="btn-add-row"
              class="btn btn-outline-danger btn-fw"
            >
              <i class="mdi mdi-table-row-plus-after"></i>Add new row
            </button> -->
          </p>

          <div class="table-responsive" style="margin-bottom:20px;">
            <table id="tblProduct" class="table" style="width: 100%">
              <!-- <thead>
                <th width="40px">No</th> 
                <th>Product</th>
                <th>Quantity</th>
                <th width="50px"></th>
              </thead> -->
              <tbody id="rowBody">
                <tr>
                  <td>
                    Send To
                  </td>
                  <td>
                    <select
                      class="form-control"
                      id="send_to"
                      name="send_to"
                      style="width: 200px;"
                      onchange="checkSendTo()"
                    >
                      <option value="*-*">All</option>
                      <!-- <option value="AUTO">Auto</option> -->
                      <option value="MAN">Based Location</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td valign="top">
                    Time Window
                  </td>
                  <td>
                    <input
                      class="form-control msgTetun"
                      name="time_window"
                      id="time_window"
                      type="number"
                      max="24"
                      required
                    />
                  </td>
                </tr>
                <tr id="tr_list_location">
                  <td>
                    List Location
                  </td>
                  <td>
                    <select
                      class="select2 select2-multiple"
                      id="list_location"
                      name="list_location"
                      style="width: 200px;"
                      required
                    >
                      <option value="">- Choose SMS Content -</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>
                    SMS Content
                  </td>
                  <td>
                    <select
                      class="select2 select2-multiple"
                      id="sms_content"
                      name="sms_content"
                      onchange="getLanguage()"
                      style="width: 200px;"
                      required
                    >
                      <option value="">- Choose SMS Content -</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td valign="top">
                    Message in Tetun
                  </td>
                  <td>
                    <textarea
                      class="form-control msgTetun"
                      name="tetun"
                      id="tetun"
                      style="height: 100px"
                      required
                    ></textarea>
                  </td>
                </tr>
                <tr>
                  <td>
                    Message in English
                  </td>
                  <td>
                    <textarea
                      class="form-control msgEnglish"
                      name="english"
                      id="english"
                      style="height: 100px"
                      required
                    ></textarea>
                  </td>
                </tr>
                <tr>
                  <td>
                    Message in Bahasa
                  </td>
                  <td>
                    <textarea
                      class="form-control msgBahasa"
                      name="bahasa"
                      id="bahasa"
                      style="height: 100px"
                      required
                    ></textarea>
                  </td>
                </tr>
                <!-- <tr>
                  <td>Destinoation Area</td>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                    />
                  </td>
                </tr>
                <tr>
                  <td>CVG</td>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                    />
                  </td>
                </tr>
                <tr>
                  <td>Destinoation Number</td>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                    />
                  </td>
                </tr> -->
                <tr>
                  <td>
                    Type
                  </td>
                  <td>
                    <select
                      class="form-control"
                      onchange="cektype()"
                      id="schedule_type"
                      name="schedule_type"
                    >
                      <option value="C">Schedule</option>
                      <option value="I">Send Now</option>
                    </select>
                  </td>
                </tr>
                <tr id="tr_schedule">
                  <td>
                    Schedule
                  </td>
                  <td>
                    <input
                      type="datetime-local"
                      class="form-control"
                      name="schedule"
                      id="schedule"
                    />
                  </td>
                </tr>
                <tr id="tr_upload">
                  <td>
                    Exclude
                  </td>
                  <td>
                    <input
                      type="file"
                      name="file_upload"
                      class="form-control"
                      id="file_upload"
                    />
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- <hr>
            <div class="form-group">
              <label for="note">Note</label>
              <textarea class="form-control" name="note" id="note"></textarea>
            </div> -->
            <input type="hidden" name="iduser" id="iduser" />
            <input type="hidden" name="idpo" id="idpo" />
          </div>

          <hr />

          <div>
            <button type="submit" class="btn btn-outline-success btn-fw">
              <i class="mdi mdi-send"></i>Submit
            </button>
            <button type="reset" class="btn btn-outline-danger btn-fw">
              <i class="mdi mdi-cancel"></i>Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $data = 0;
  $dataDeleted = [];
  var localhost='http://localhost';
  //var localhost='http://localhost';
  $(document).ready(function() {
    //getContent();
    checkSendTo();

    $("#form").submit(function() {
      save_sms();
      return false;
    });

    var date = datePHPJS("d, M Y", new Date());
    $("#dateNow").html(date);
    $("#requester").html(localStorage["name"]);
    $("#iduser").val(localStorage["id"]);
    //$("#schedule").datepicker();

    $("#sms_content").select2({
      // minimumInputLength: 2,
      allowClear: true,
      placeholder: "insert sms content",
      ajax: {
        dataType: "json",
        url:
          localhost+"/smsbc_student/process/processSMSContent.php?action=getdata",
        delay: 800,
        data: function(params) {
          return {
            search: params.term
          };
        },
        processResults: function(data, page) {
          return {
            results: data
          };
        }
      }
    });
    $("#list_location").select2({
      // minimumInputLength: 2,
      allowClear: true,
      placeholder: "insert based location",
      ajax: {
        dataType: "json",
        url:
          "http://localhost/smsbc_student/process/getBasedLocation.php?f=getDataLocation",
        delay: 800,
        data: function(params) {
          console.log("this params:", params)
          return {
            search: params.term
          };
        },
        processResults: function(data, page) {
          console.log("this data:", data)

          return {
            results: data
          };
        }
      }
    });
  });

  function checkSendTo() {
    var check = $("#send_to").val();
    if (check == "ALL-*" || check == "AUTO") {
      $("#list_location").attr({ hidden: true, required: false });
      $("#tr_list_location").attr("hidden", true);
    } else {
      $("#list_location").attr({ hidden: false, required: true });
      $("#tr_list_location").attr("hidden", false);
    }
  }

  function getLanguage() {
    var content = $("#sms_content").val();
    //alert(content);
    $.ajax({
      url:localhost+"/smsbc_student/process/processSMSContent.php?action=getlanguage&id=" +
        content,
      method: "get",
      dataType: "json",
      success: function(ar) {
        console.log("msg", ar);
        data = ar.data;
        if (ar.success) {
          $("#tetun").val(data[0].tetun);
          $("#english").val(data[0].english);
          $("#bahasa").val(data[0].bahasa);
        } else {
          showErrorWithNoAction(ar.msg);
        }
      },
      error: function(xhr) {
        $("#loaderNew").remove();

        // console.log(xhr);
        showErrorWithNoAction(
          "Internal server error. Please contact administrator website."
        );
      }
    });
  }

  function save_sms() {
    // console.log($("#form").serialize())
    // alert($("#schedule").val());
    // var date = new Date().toJSON().slice(0, 19);
    cektype();
    var inputFile = document.getElementById("file_upload");
    var pathFile = inputFile.value;
    var ekstensiOk = /(\.xlsx|\.xlx|\.csv)$/i;
    if (!ekstensiOk.exec(pathFile) && pathFile != "") {
      showErrorWithNoAction("Incorrect file extension !");
    } else {
      $.ajax({
        url:localhost+"/smsbc_student/process/processSMSBroadcast.php?action=insert&user=" +
          localStorage["username"] +
          "&type=" +
          localStorage["type_broadcast"],
        method: "post",
        data: $("#form").serialize(),
        dataType: "json",
        success: function(ar) {
          console.log(ar);
          if (ar.success) {
            var file = document.getElementById("file_upload").files[0]; //Files[0] = 1st file
            var reader = new FileReader();
            if (file) {
              if (localStorage["type_broadcast"] == "3") {
                reader.readAsDataURL(file);
                reader.onload = shipOff;
                var name = "File" + datePHPJS("His") + file.name;
                updateFoto(name, ar.id);
              }
            }
            swal({
              title: "Success",
              text: ar.msg,
              type: "success",
              showCancelButton: true,
              button: "#4fa7f3",
              allowOutsideClick: false,
              button: "Ok"
            });

            $(".content-wrapper").load("mainmenu/mainmenu.html");
          } else {
            showErrorWithNoAction(ar.msg);
          }
        },
        error: function(xhr) {
          $("#loaderNew").remove();

          console.log("this xhr", xhr);
          showErrorWithNoAction(
            "Internal server error. Please contact administrator website."
          );
        }
      });
    }
  }

  function shipOff(event) {
    var result = event.target.result;
    var fileName =
      "File" +
      datePHPJS("His") +
      document.getElementById("file_upload").files[0].name;
    $.ajax({
      url:localhost+"/smsbc_student/process/processSMSBroadcast.php?action=uploadFile",
      method: "post",
      data: { data: result, name: fileName },
      success: function(dt) {}
    });
  }

  function updateFoto(name, id) {
    $.ajax({
      url:localhost+"/smsbc_student/process/processSMSBroadcast.php?action=updateFile",
      data: { id: id, name: name },
      method: "post",
      success: function(data) {}
    });
  }

  function zeroPadded(val) {
    if (val >= 10) return val;
    else return "0" + val;
  }

  function cektype() {
    var a = $("#schedule_type").val();
    var d = new Date();
    var dateTime =
      d.getFullYear() +
      "-" +
      zeroPadded(d.getMonth() + 1) +
      "-" +
      zeroPadded(d.getDate()) +
      "T" +
      zeroPadded(d.getHours()) +
      ":" +
      zeroPadded(d.getMinutes() + 20);

    if (a == "I") {
      $("#schedule").attr({ hidden: true, required: false });
      // .val(dateTime);
      $("#tr_schedule").attr({ hidden: true, required: false });
    } else {
      $("#schedule").attr({ hidden: false, required: true });
      $("#tr_schedule").attr({ hidden: false, required: true });
    }
  }
</script>
