<div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Form Add SMS Content</h4>
              <form method="post" id="form">
                <div
                  class="wells"
                  style="background: #eaeaea;padding:20px;border-radius: 3px;"
                >
                  <table style="font-size: 12px">
                    <tr>
                      <td>Date</td>
                      <td width="20px">:</td>
                      <td id="dateNow">2018-02-14</td>
                    </tr>
                    <tr>
                      <td>Requester</td>
                      <td width="20px">:</td>
                      <td id="requester">User</td>
                    </tr>
                    <tr id="rejectSection" style="display:none;">
                      <td>Reject Reason</td>
                      <td width="20px">:</td>
                      <td id="rejectReason"></td>
                    </tr>
                  </table>
                </div>
      
                <hr />
      
                <p class="pull-right" style="float: right;">
                  <!-- <button class="btn btn-primary"><i class="fa fa-plus-circle"></i></button> -->
                  <!-- <button
                    type="button"
                    id="btn-add-row"
                    class="btn btn-outline-danger btn-fw"
                  >
                    <i class="mdi mdi-table-row-plus-after"></i>Add new row
                  </button> -->
                </p>
      
                <div class="table-responsive" style="margin-bottom:20px;">
                  <table id="tblProduct" class="table table-bordered">
                    <!-- <thead>
                      <th width="40px">No</th>
                      <th>Product</th>
                      <th>Quantity</th>
                      <th width="50px"></th>
                    </thead> -->
                    <tbody id="rowBody">
                      <tr>
                        <td width="30%">
                          Sender
                        </td>
                        <td>
                          <input
                            type="text"
                            class="form-control senderMask"
                            name="sender"
                            id="sender"
                          />
                        </td>
                      </tr>
                      <tr>
                        <td width="30%">
                          SMS Blast Name
                        </td>
                        <td>
                          <input
                            type="text"
                            class="form-control senderMask"
                            name="name"
                            id="name"
                          />
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Message in Tetun
                        </td>
                        <td>
                          <textarea
                            class="form-control msgTetun"
                            name="tetun"
                            id="tetun"
                            maxlength="160"
                          />
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Message in English
                        </td>
                        <td>
                          <textarea
                            class="form-control msgEnglish"
                            name="english"
                            id="english"
                            maxlength="160"
                          />
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Message in Bahasa
                        </td>
                        <td>
                          <textarea
                            class="form-control msgBahasa"
                            name="bahasa"
                            id="bahasa"
                            maxlength="160"
                          />
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- <hr>
                  <div class="form-group">
                    <label for="note">Note</label>
                    <textarea class="form-control" name="note" id="note"></textarea>
                  </div> -->
                  <input type="hidden" name="iduser" id="iduser" />
                  <input type="hidden" name="idpo" id="idpo" />
                </div>
      
                <hr />
      
                <div>
                  <button type="button" class="btn btn-outline-success btn-fw" onclick="save_sms()">
                    <i class="mdi mdi-send"></i>Submit
                  </button>
                  <button
                    type="reset"
                    class="btn btn-outline-danger btn-fw"
                  >
                    <i class="mdi mdi-cancel"></i>Cancel
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      
      <script type="text/javascript">
      $data = 0;
      $dataDeleted = [];
      $(document).ready(function() {
        var date = datePHPJS("d, M Y", new Date());
        $("#dateNow").html(date);
        $("#requester").html(localStorage['name'])
        $("#iduser").val(localStorage["id"]);
        // gantiProduct();
      
        // $('form').submit(function(e) {
        //     e.preventDefault();
        //     $.ajax({
        //       url: 'http://localhost/smsbc/process/processSMSContent.php?action=insert',
        //       method: 'post',
        //       data: $(this).serialize(),
        //       dataType: 'json',
        //       success:function(ar) {
        //         console.log("msg",ar);
        //         if (ar.success) {
        //           swal({
        //             title: 'Success',
        //             text: ar.msg,
        //             type: 'success',
        //             showCancelButton: true,
        //             button: '#4fa7f3',
        //             allowOutsideClick: false,
        //             button: 'Ok',
        //           });
        //         }else{
        //           showErrorWithNoAction(ar.msg)
        //         }
        //       },
        //       error:function(xhr) {
        //         $("#loaderNew").remove();
                
        //         // console.log(xhr);
        //         showErrorWithNoAction('Internal server error. Please contact administrator website.');
        //       }
        //     })
        //   }
      });
      
      function save_sms() {
        //alert('asu');
          $.ajax({
            url: 'http://localhost/smsbc_student/process/processSMSContent.php?action=insert&user='+localStorage['username'],
            method: 'post',
            data: $("#form").serialize(),
            dataType: 'json',
            success:function(ar) {
              console.log("msg",ar);
              if (ar.success) {
                swal({
                  title: 'Success',
                  text: ar.msg,
                  type: 'success',
                  showCancelButton: true,
                  button: '#4fa7f3',
                  allowOutsideClick: false,
                  button: 'Ok',
                });
                $(".konten").load("mainmenu/smscontent.html");
              }else{
                showErrorWithNoAction(ar.msg)
              }
            },
            error:function(xhr) {
              $("#loaderNew").remove();
              
              // console.log(xhr);
              showErrorWithNoAction('Internal server error. Please contact administrator website.');
            }
          });
      }
      
      </script>
      