<div class="row">
  <div class="col-md-12"></div>
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          <label class="pull-right" style="float:right;">
            <button
              id="btnAdd"
              class="btn btn-outline-primary btn-fw"
              onclick="newSMSContent()"
            >
              <i class="mdi mdi-plus"></i> Add Specific Number
            </button>
          </label>
          List of Specific Number
        </h4>

        <div class="table-responsive" style="width: 100%">
          <table class="dataTable table table-hovered" id="dataTable">
            <thead>
              <tr>
                <th>No</th>
                <th>Code Specific</th>
                <th>Total Msisdn</th>
                <th>Created Date</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody id="bodyTable"></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog" style="max-width: 700px;">
    <!-- Modal content-->
    <div class="modal-content" style="background-color: white;">
      <div class="modal-header">
        <h4 class="card-title">Exclude MSISDN</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <div class="modal-body" style="text-align: center;">
        <table class="dataTable table table-hovered" id="dataExclude">
          <thead>
            <tr>
              <th>No</th>
              <th>MSISDN</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody id="bodyTable"></tbody>
        </table>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>


<div class="modal fade" id="myModalAdd" role="dialog">
  <div class="modal-dialog" style="max-width: 500px;">
    <!-- Modal content-->
    <!-- Modal content-->
    <div class="modal-content">
      <form method="post" id="form_add">
        <div class="modal-header">
          <h4 class="modal-title">Add MSISDN</h4>
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </div>
        <div class="modal-body">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Form Add MSISDN</h4>
                <hr />
                <div class="table-responsive" style="margin-bottom:20px;">
                  <table id="tblProduct" class="table table-bordered">
                    <tbody id="rowBody">
                      <tr>
                        <td width="30%">
                          Code Specific
                        </td>
                        <td>
                          <input
                            type="text"
                            class="form-control senderMask"
                            name="code_spesifik"
                            id="code_spesifik"
                            readonly
                            required
                          />
                        </td>
                      </tr>
                      <tr>
                        <td width="30%">
                          MSISDN
                        </td>
                        <td>
                          <input
                            type="text"
                            class="form-control senderMask"
                            name="msisdn"
                            id="msisdn"
                            required
                          />
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <hr />
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div>
            <button type="submit" class="btn btn-outline-success btn-fw">
              <i class="mdi mdi-send"></i>Submit
            </button>
            <button type="button" class="btn btn-outline-danger btn-fw"  data-dismiss="modal">
              <i class="mdi mdi-cancel"></i>Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<style>
  #dataExclude{
    margin: 0 auto;
    width: 700px;
    word-wrap:break-word;
  }
</style>

<script type="text/javascript">

	// var restHost = "http://localhost:8080/";
  $(document).ready(function() {
    console.log("terload");
    // var restHost = 'http://'+window.location.hostname+":8080/";

    // console.log('IP',restHost);
    // runPages();
    DataTable();
    $("#form_add").submit(function() {
      save_msisdn();
      return false;
    });
  });

  function newSMSContent() {
    var url = "reportspesifik/action/addDataSpesifik.html",
      modul = "Add Spesifik",
      title = "New Add Spesifik";

    callPage(url);
  }

  function DataTable() {
    $("#dataTable")
      .DataTable()
      .clear()
      .destroy();

    $("#dataTable").DataTable({
      processing: true,
      serverSide: true,
      searching: true,
      columns: [
        { data: "No" },
        { data: "Code Specific" },
        { data: "Total Msisdn" },
        { data: "Created Date" },
        { data: "Action" }
      ],
      columnDefs: [
        {
          // targets: [0, 0],
          orderable: false
        }
      ],
      ajax: {
        url: link_local+"/smsbc_student/process/getSpesifik.php?f=getSpesifik",
        type: "get",
        dataType: "json"
      }
    });

    $(".container-fluid").attr("style", "background:transparent !important;");
  }

function detail(id) {
  $("#dataExclude")
    .DataTable()
    .clear()
    .destroy();

  $("#dataExclude").DataTable({
    processing: true,
    serverSide: true,
    searching: true,
    columns: [
      { data: "No" },
      { data: "MSISDN" },
      { data: "Action"}
    ],
    columnDefs: [
      {
        // targets: [0, 0],
        orderable: false
      }
    ],
    ajax: {
      url: link_local+"/smsbc_student/process/getSpesifik.php?f=getExcludeDetail&id="+id,
      type: "get",
      dataType: "json"
    }
  });

  $(".container-fluid").attr("style", "background:transparent !important;");
}

function add_msisdn(code_spesifik) {
    document.getElementById('code_spesifik').value = code_spesifik;
}

function save_msisdn() {
    $.ajax({
      url: link_local+"/smsbc_student/process/processSpesifik.php?f=AddMsisdn",
      method: 'post',
      data: $("#form_add").serialize(),
      dataType: 'json',
      success:function(ar) {
        console.log("msg",ar);
        if (ar.success) {
            swal({
              title: "Success",
              text: ar.msg,
              type: "success",
              showCancelButton: true,
              allowOutsideClick: false
            }).then(function() {
              $(".content-wrapper").load("reportspesifik/showDataReport.html");
            });
            $("#myModal").modal("hide");
            $("#myModalAdd").modal("hide");
        }else{
          showErrorWithNoAction(ar.msg)
        }
      },
      error:function(xhr) {
        $("#loaderNew").remove();
        
        // console.log(xhr);
        showErrorWithNoAction('Internal server error. Please contact administrator website.');
      }
    });
}

function delete_msisdn(id) {
    $.ajax({
      url: link_local+"/smsbc_student/process/processSpesifik.php?f=DeleteMsisdn&id="+id,
      method: 'get',
      dataType: 'json',
      success:function(ar) {
        console.log("msg",ar);
        if (ar.success) {
            swal({
              title: "Success",
              text: ar.msg,
              type: "success",
              showCancelButton: true,
              allowOutsideClick: false
            }).then(function() {
              $(".content-wrapper").load("reportspesifik/showDataReport.html");
            });
            $("#myModal").modal("hide");
            $("#myModalAdd").modal("hide");
        }else{
          showErrorWithNoAction(ar.msg)
        }
      },
      error:function(xhr) {
        $("#loaderNew").remove();
        
        // console.log(xhr);
        showErrorWithNoAction('Internal server error. Please contact administrator website.');
      }
    });
}
</script>
