<div class="row">
  <div class="col-md-12"></div>
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          <label class="pull-right" style="float:right;">
            <button
              id="btnAdd"
              class="btn btn-outline-primary btn-fw"
              onclick="newSMSContent()"
            >
              <i class="mdi mdi-plus"></i> Add SMS Content
            </button>
          </label>
          List of SMS Contents
        </h4>

        <div class="table-responsive" style="width: 100%">
          <table class="dataTable table table-hovered" id="dataTable">
            <thead>
              <tr>
                <th>No</th>
                <th>Sender</th>
                <th>SMS Blast Name</th>
                <th>Tetun</th>
                <th>English</th>
                <th>Bahasa</th>
                <th>Created Date</th>
                <th style="width: 120px;">Action</th>
              </tr>
            </thead>
            <tbody id="bodyTable"></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <form method="post" id="form">
        <div class="modal-header">
          <h4 class="modal-title">Add Sender</h4>
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </div>
        <div class="modal-body">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Form Add SMS Content</h4>
                <div
                  class="wells"
                  style="background: #eaeaea;padding:20px;border-radius: 3px;"
                >
                  <table style="font-size: 12px">
                    <tr>
                      <td>Date</td>
                      <td width="20px">:</td>
                      <td id="dateNow">2018-02-14</td>
                    </tr>
                    <tr>
                      <td>Requester</td>
                      <td width="20px">:</td>
                      <td id="requester">User</td>
                    </tr>
                    <tr id="rejectSection" style="display:none;">
                      <td>Reject Reason</td>
                      <td width="20px">:</td>
                      <td id="rejectReason"></td>
                    </tr>
                  </table>
                </div>

                <hr />

                <p class="pull-right" style="float: right;">
                  <!-- <button class="btn btn-primary"><i class="fa fa-plus-circle"></i></button> -->
                  <!-- <button
									  type="button"
									  id="btn-add-row"
									  class="btn btn-outline-danger btn-fw"
									>
									  <i class="mdi mdi-table-row-plus-after"></i>Add new row
									</button> -->
                </p>

                <div class="table-responsive" style="margin-bottom:20px;">
                  <table id="tblProduct" class="table table-bordered">
                    <input type="hidden" id="id" name="id" />
                    <!-- <thead>
										<th width="40px">No</th>
										<th>Product</th>
										<th>Quantity</th>
										<th width="50px"></th>
									  </thead> -->
                    <tbody id="rowBody">
                      <tr>
                        <td width="30%">
                          Sender
                        </td>
                        <td>
                          <input
                            type="text"
                            class="form-control senderMask"
                            name="sender"
                            id="sender"
                            required
                          />
                        </td>
                      </tr>
                      <tr>
                        <td width="30%">
                          SMS Blast Name
                        </td>
                        <td>
                          <input
                            type="text"
                            class="form-control senderMask"
                            name="name"
                            id="name"
                            required
                          />
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Message in Tetun
                        </td>
                        <td>
                          <textarea
                            class="form-control msgTetun"
                            name="tetun"
                            id="tetun"
                            maxlength="160"
                            required
                          />
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Message in English
                        </td>
                        <td>
                          <textarea
                            class="form-control msgEnglish"
                            name="english"
                            id="english"
                            maxlength="160"
                            required
                          />
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Message in Bahasa
                        </td>
                        <td>
                          <textarea
                            class="form-control msgBahasa"
                            name="bahasa"
                            id="bahasa"
                            maxlength="160"
                            required
                          />
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- <hr>
									<div class="form-group">
									  <label for="note">Note</label>
									  <textarea class="form-control" name="note" id="note"></textarea>
									</div> -->
                  <input type="hidden" name="iduser" id="iduser" />
                  <input type="hidden" name="idpo" id="idpo" />
                </div>

                <hr />
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div>
            <button type="submit" class="btn btn-outline-success btn-fw">
              <i class="mdi mdi-send"></i>Submit
            </button>
            <button type="reset" class="btn btn-outline-danger btn-fw">
              <i class="mdi mdi-cancel"></i>Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
  // var localhost='http://localhost';
  //var localhost='http://localhost';
  $(document).ready(function() {
    console.log("terload")
    // runPages();
    DataTable();

    if (localStorage["jabatan"] == 3 || localStorage["jabatan"] == 4) {
      $("#btnAdd").hide();
    }

    $("#form").submit(function() {
      update();
      return false;
    });

    // var ctSms = [
    // 	[
    // 	"Baihira Pakote remata otomatikamente sei Konsumu saldo ho precu normal",
    // 	"When internet data is finished, it will automatically consume regular credit",
    // 	"Baihira Pakote remata otomatikamente sei Konsumu saldo ho precu normal",
    // 	"Ketika data internet selesai di gunakan maka secara otomatis akan menkonsumsi pulsa reguler"
    // 	],
    // 	[
    // 	"Aproveita Assesu internet tuir kuota nebe iha",
    // 	"Enjoy internet access with existing quota",
    // 	"Aproveita Assesu internet tuir kuota nebe iha",
    // 	"Nikmati akses internet dengan kuota yang ada"
    // 	],
    // 	[
    // 	"Pakote sei renova outomatikamente depois nia validade remata",
    // 	"Autorenewal automatic package when the validity period is over",
    // 	"Pakote sei renova outomatikamente depois nia validade remata",
    // 	"paket otomatis Autorenewal ketika masa berlaku selesai"
    // 	],
    // 	[
    // 	"Atu hapara Autorenewal hakerek \"NO ba 155\"",
    // 	"To Stop Autorenewal, type \"NO to 155\"",
    // 	"Atu hapara Autorenewal hakerek \"NO ba 155\"",
    // 	"Untuk Berhenti Autorenewal ketik \"NO ke 155\""
    // 	],
    // 	[
    // 	"Baihira Pakote remata otomatikamente sei Konsumu saldo ho precu normal",
    // 	"When internet data is finished, it will automatically consume regular credit",
    // 	"Baihira Pakote remata otomatikamente sei Konsumu saldo ho precu normal",
    // 	"Ketika data internet selesai di gunakan maka secara otomatis akan menkonsumsi pulsa reguler"
    // 	]
    // ];
    // for(var i=1; i<= 5; i++){
    // 	var ht = "<tr>"+
    // 				"<td>"+i+"</td>"+
    // 				"<td>SMSCSTS"+i+"</td>"+
    // 				"<td></td>"+
    // 				"<td></td>"+
    // 				"<td></td>"+
    // 				"<td></td>"+
    // 			"</tr>"+

    // 	$("#ct").append(ht);
    // 	if(i==4){

    // 		runDataTable();

    // 	}
    // }
  });

  function newSMSContent() {
    var url = "mainmenu/action/addsmscontent.html",
      modul = "SMS Content",
      title = "New SMS Content";

    callPage(url);
    // moveUrl(url, modul, title, "", function() {
    //   loadDataProducts();
    // });
  }

  // function callPage(pageRef) {
  //   $.ajax({
  //     url: pageRef,
  //     type: "GET",
  //     dataType: "text",
  //     success: function(response) {
  //       // console.log("this page was loaded", response);
  //       $(".content-wrapper").html(response);
  //     },
  //     error: function(error) {
  //       console.log("this page was NOT loaded", error);
  //     },
  //     complete: function(xhr, status) {
  //       console.log("the request complete");
  //     }
  //   });
  // }

  function DataTable() {
    $("#dataTable")
      .DataTable()
      .clear()
      .destroy();

    $("#dataTable").DataTable({
      processing: true,
      serverSide: true,
      searching: true,
      columns: [
        { data: "No" },
        { data: "Sender" },
        { data: "SMS Blast Name" },
        { data: "Tetun" },
        { data: "English" },
        { data: "Bahasa" },
        { data: "Created Date" },
        { data: "Action" }
      ],
      columnDefs: [
        {
          targets: [0, 0],
          orderable: false
        }
      ],
      ajax: {
        url: link_local+"/smsbc_student/process/getSMSContent.php",
        type: "post",
        dataType: "json"
      }
    });

    $(".container-fluid").attr("style", "background:transparent !important;");
  }

  function edit(id) {
    //alert(content);
    $.ajax({
      url:link_local+"/smsbc_student/process/processSMSContent.php?action=getContent&id=" +
        id,
      method: "get",
      dataType: "json",
      success: function(ar) {
        console.log("msg", ar);
        data = ar.data;
        if (ar.success) {
          $("#id").val(data[0].id);
          $("#sender").val(data[0].sender);
          $("#name").val(data[0].name);

          $("#tetun").val(data[0].tetun);
          $("#english").val(data[0].english);
          $("#bahasa").val(data[0].bahasa);
        } else {
          showErrorWithNoAction(ar.msg);
        }
      },
      error: function(xhr) {
        $("#loaderNew").remove();

        // console.log(xhr);
        showErrorWithNoAction(
          "Internal server error. Please contact administrator website."
        );
      }
    });
  }

  function update() {
    //alert('asu');
    $.ajax({
      url:link_local+"/smsbc_student/process/processSMSContent.php?action=update&user=" +
        localStorage["username"],
      method: "post",
      data: $("#form").serialize(),
      dataType: "json",
      success: function(ar) {
        // console.log("msg", ar);

        if (ar.success) {
          swal({
            title: "Success",
            text: ar.msg,
            type: "success",
            showCancelButton: true,
            allowOutsideClick: false
          }).then(function() {
            $(".content-wrapper").load("mainmenu/smscontent.html");
          });
          $("#myModal").modal("hide");
        } else {
          showErrorWithNoAction(ar.msg);
        }
      },
      error: function(xhr) {
        $("#loaderNew").remove();

        // console.log(xhr);
        showErrorWithNoAction(
          "Internal server error. Please contact administrator website."
        );
      }
    });
  }

  function deleteBangsat(id) {
    //alert('asu');
    $.ajax({
      url:link_local+"/smsbc_student/process/processSMSContent.php?action=delete&id=" +
        id,
      method: "get",
      dataType: "json",
      success: function(ar) {
        console.log("msg", ar);
        if (ar.success) {
          swal({
            title: "Success",
            text: ar.msg,
            type: "success",
            showCancelButton: true,
            button: "#4fa7f3",
            allowOutsideClick: false,
            button: "Ok"
          });
          // $(".konten").load("mainmenu/smscontent.html");
          $(".content-wrapper").load("mainmenu/smscontent.html");
        } else {
          showErrorWithNoAction(ar.msg);
        }
      },
      error: function(xhr) {
        $("#loaderNew").remove();

        // console.log(xhr);
        showErrorWithNoAction(
          "Internal server error. Please contact administrator website."
        );
      }
    });
  }
</script>
