<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          <label class="pull-right" style="float:right;"> </label>
          List product Category
        </h4>
        <div class="pull-right">
          <a
            href="#"
            class="btn btn-sm btn-success"
            data-toggle="modal"
            data-target="#ModalaAdd"
            ><span class="fa fa-plus"></span>Add Items</a
          >
        </div>

        <div class="table-responsive">
          <div id="reload">
            <table class="table table-striped" id="mydata">
              <thead>
                <tr>
                  <th>idproducts_category</th>
                  <th>category_name</th>
                  <th>created_date</th>
                  <th>status</th>
                  <th style="text-align: right;">Action</th>
                </tr>
              </thead>
              <tbody id="show_data"></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- proses -->
<!-- MODAL ADD -->
<div
  class="modal fade"
  id="ModalaAdd"
  tabindex="-1"
  role="dialog"
  aria-labelledby="largeModal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="myModalLabel">Add Items</h3>

        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-hidden="true"
        >
          ×
        </button>
      </div>
      <form class="form-horizontal">
        <div class="modal-body">
          <div class="form-group">
            <label class="control-label col-xs-3">idproducts_category</label>
            <div class="col-xs-9">
              <input
                name="idproducts_category"
                id="idproducts_category1"
                class="form-control"
                type="text"
                placeholder="idproducts_category"
                style="width:335px;"
                disabled
              />
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-3">category_name</label>
            <div class="col-xs-9">
              <input
                name="category_name"
                id="category_name1"
                class="form-control"
                type="text"
                placeholder="category_name"
                style="width:335px;"
                required
              />
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-3">created_date</label>
            <div class="col-xs-9">
              <input
                name="created_date"
                id="created_date1"
                class="form-control"
                placeholder="created_date"
                style="width:335px;"
                disabled
              />
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-xs-3">status</label>
            <div class="col-xs-9">
              <input
                name="status"
                id="status1"
                class="form-control"
                type="text"
                placeholder="status"
                style="width:335px;"
                required
              />
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">
            Tutup
          </button>
          <button class="btn btn-info" id="btn_simpan_cty">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!--END MODAL ADD-->

<!-- MODAL EDIT -->
<div
  class="modal fade"
  id="ModalaEdit"
  tabindex="-1"
  role="dialog"
  aria-labelledby="largeModal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="myModalLabel">Edit Product</h3>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-hidden="true"
        >
          ×
        </button>
      </div>
      <form class="form-horizontal">
        <div class="modal-body">
          <div class="form-group">
            <label class="control-label col-xs-3">idproducts_category</label>
            <div class="col-xs-9">
              <input
                name="idproducts_category"
                id="idproducts_category"
                class="form-control"
                type="text"
                placeholder="Kode Barang"
                style="width:335px;"
                readonly
              />
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-3">category_name</label>
            <div class="col-xs-9">
              <input
                name="category_name"
                id="category_name"
                class="form-control"
                type="text"
                placeholder="category_name"
                style="width:335px;"
                required
              />
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-3">created_date</label>
            <div class="col-xs-9">
              <input
                name="created_date"
                id="created_date"
                class="form-control"
                type="text"
                placeholder="created_date"
                style="width:335px;"
                required
              />
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-xs-3">status</label>
            <div class="col-xs-9">
              <input
                name="status"
                id="status"
                class="form-control"
                type="text"
                placeholder="status"
                style="width:335px;"
                required
              />
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">
            Tutup
          </button>
          <button class="btn btn-info" id="btn_update">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!--END MODAL EDIT-->

<!--MODAL HAPUS-->
<div
  class="modal fade"
  id="ModalHapus"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Delete Product</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">X</span>
        </button>
      </div>
      <form class="form-horizontal">
        <div class="modal-body">
          <input type="hidden" name="kode" id="textkode" value="" />
          <div class="alert alert-warning">
            <!-- <p>Apakah Anda yakin mau memhapus product ini?</p> -->
            <p>Are you sure you want to delete this item?</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Tutup
          </button>
          <button class="btn_hapus btn btn-danger" id="btn_hapus">
            Delete
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!--END MODAL HAPUS-->

<script type="text/javascript">
  $(document).ready(function() {
    tampil_data_barang(); //pemanggilan fungsi tampil barang.

    // $('#mydata').dataTable();

    //fungsi tampil barang
    function tampil_data_barang() {
      $.ajax({
        type: "ajax",
        // url: "<?php echo base_url() ?>index.php/barang/data_barang",
        url: api_url + "barang/data_barang",
        async: false,
        dataType: "json",
        success: function(data) {
          var html = "";
          var i;
          for (i = 0; i < data.length; i++) {
            html +=
              "<tr>" +
              "<td>" +
              data[i].idproducts_category +
              "</td>" +
              "<td>" +
              data[i].category_name +
              "</td>" +
              "<td>" +
              data[i].created_date +
              "</td>" +
              "<td>" +
              data[i].status +
              "</td>" +
              '<td style="text-align:right;">' +
              '<a href="javascript:;" class="btn btn-info btn-xs item_edit" data="' +
              data[i].idproducts_category +
              '">Edit</a>' +
              " " +
              '<a href="javascript:;" class="btn btn-danger btn-xs item_hapus" data="' +
              data[i].idproducts_category +
              '">Delete</a>' +
              "</td>" +
              "</tr>";
          }
          $("#show_data").html(html);
        }
      });
    }

    //GET UPDATE
    $("#show_data").on("click", ".item_edit", function() {
      var id = $(this).attr("data");
      $.ajax({
        type: "GET",
        // url: "<?php echo base_url('index.php/barang/get_barang') ?>",
        url: api_url + "barang/get_barang",
        dataType: "JSON",
        data: {
          id: id
        },
        success: function(data) {
          $.each(data, function(
            idproducts_category,
            category_name,
            created_date,
            status
          ) {
            $("#ModalaEdit").modal("show");
            $('[name="idproducts_category"]').val(data.idproducts_category);
            $('[name="category_name"]').val(data.category_name);
            $('[name="created_date"]').val(data.created_date);
            $('[name="status"]').val(data.status);
          });
        }
      });
      return false;
    });

    //GET HAPUS
    $("#show_data").on("click", ".item_hapus", function() {
      var id = $(this).attr("data");
      $("#ModalHapus").modal("show");
      $('[name="kode"]').val(id);
    });

    //Simpan Barang
    $("#btn_simpan_cty").on("click", function() {
      var idproducts_category = $("#idproducts_category1").val();
      var category_name = $("#category_name1").val();
      var created_date = $("#created_date1").val();
      var status = $("#status1").val();
      $.ajax({
        type: "POST",
        // url: "<?php echo base_url('index.php/barang/simpan_barang') ?>",
        url: api_url + "barang/simpan_barang",
        dataType: "JSON",
        data: {
          idproducts_category: idproducts_category,
          category_name: category_name,
          created_date: created_date,
          status: status
        },
        success: function(data) {
          $('[name="idproducts_category"]').val("");
          $('[name="category_name"]').val("");
          $('[name="created_date"]').val("");
          $('[name="status"]').val("");
          $("#ModalaAdd").modal("hide");
          tampil_data_barang();
        }
      });
      return false;
    });

    //Update Barang
    $("#btn_update").on("click", function() {
      var idproducts_category = $("#idproducts_category").val();
      var category_name = $("#category_name").val();
      var created_date = $("#created_date").val();
      var status = $("#status").val();
      $.ajax({
        type: "POST",
        // url: "<?php echo base_url('index.php/barang/update_barang') ?>",
        url: api_url + "barang/update_barang",
        dataType: "JSON",
        data: {
          idproducts_category: idproducts_category,
          category_name: category_name,
          created_date: created_date,
          status: status
        },
        success: function(data) {
          $('[name="idproducts_category"]').val("");
          $('[name="category_name"]').val("");
          $('[name="created_date"]').val("");
          $('[name="status"]').val("");
          $("#ModalaEdit").modal("hide");
          tampil_data_barang();
        }
      });
      return false;
    });

    //Hapus Barang
    $("#btn_hapus").on("click", function() {
      var kode = $("#textkode").val();
      $.ajax({
        type: "POST",
        // url: "<?php echo base_url('index.php/barang/hapus_barang') ?>",
        url: api_url + "barang/hapus_barang",

        dataType: "JSON",
        data: {
          kode: kode
        },
        success: function(data) {
          $("#ModalHapus").modal("hide");
          tampil_data_barang();
        }
      });
      return false;
    });
  });
</script>
