<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          <label class="pull-right" style="float:right;"> </label>
          List product
        </h4>
        <div class="pull-right">
          <a
            href="#"
            class="btn btn-sm btn-success"
            data-toggle="modal"
            data-target="#ModalaAdd"
            ><span class="fa fa-plus"></span> Add Items</a
          >
        </div>

        <div class="table-responsive">
          <div id="reload">
            <table class="table table-striped" id="mydata">
              <thead>
                <tr>
                  <th>idproducts</th>
                  <th>product_name</th>
                  <th>idcategory</th>
                  <th>unit_price</th>
                  <th>discount</th>
                  <th>created_date</th>
                  <th>status</th>
                  <th style="text-align: right;">Action</th>
                </tr>
              </thead>
              <tbody id="show_data"></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- proses -->
<!-- MODAL ADD -->

<div
  id="ModalaAdd"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
  style="display: none;"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Product</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-hidden="true"
        >
          ×
        </button>
      </div>
      <form>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="field-1" class="control-label">idproducts</label>
                <input
                  type="number"
                  class="form-control"
                  id="idproducts1"
                  name="idproducts"
                  placeholder="idproducts"
                  disabled
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="field-2" class="control-label">product_name</label>
                <input
                  type="text"
                  class="form-control"
                  id="product_name1"
                  name="product_name"
                  placeholder="product_name"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="idcategory" class="control-label">idcategory</label>
                <input
                  type="number"
                  class="form-control"
                  id="idcategory1"
                  name="idcategory"
                  placeholder="idcategory"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="field-2" class="control-label">unit_price</label>
                <input
                  type="number"
                  class="form-control"
                  id="unit_price1"
                  name="unit_price"
                  placeholder="unit_price"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="field-1" class="control-label">discount</label>
                <input
                  type="number"
                  class="form-control"
                  id="discount1"
                  name="discount"
                  placeholder="discount"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="field-2" class="control-label">created_date</label>
                <input
                  type="datetime-local"
                  class="form-control"
                  name="created_date"
                  id="created_date1"
                  placeholder="created_date"
                  disabled
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="field-1" class="control-label">status</label>
                <!-- <input
                  type="number"
                  class="form-control"
                  id="status1"
                  name="status"
                  placeholder="status"
                /> -->
                <select class="form-control" id="status1" name="status">
                  <option value="">=======pilih status=======</option>
                  <option value="0">0</option>
                  <option value="1">1</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary waves-effect"
            data-dismiss="modal"
          >
            Close
          </button>
          <button id="btn_simpan" class="btn btn-info ">
            Save changes
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- /.modal -->
<!--END MODAL ADD-->

<!-- MODAL EDIT -->
<div
  id="ModalaEdit"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
  style="display: none;"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Update Product</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-hidden="true"
        >
          ×
        </button>
      </div>
      <form>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="field-1" class="control-label">idproducts</label>
                <input
                  type="number"
                  class="form-control"
                  id="idproducts"
                  name="idproducts"
                  placeholder="idproducts"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="field-2" class="control-label">product_name</label>
                <input
                  type="text"
                  class="form-control"
                  id="product_name"
                  name="product_name"
                  placeholder="product_name"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="idcategory" class="control-label">idcategory</label>
                <input
                  type="number"
                  class="form-control"
                  id="idcategory"
                  name="idcategory"
                  placeholder="idcategory"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="field-2" class="control-label">unit_price</label>
                <input
                  type="number"
                  class="form-control"
                  id="unit_price"
                  name="unit_price"
                  placeholder="unit_price"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="field-1" class="control-label">discount</label>
                <input
                  type="number"
                  class="form-control"
                  id="discount"
                  name="discount"
                  placeholder="discount"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="field-2" class="control-label">created_date</label>
                <input
                  type="datetime-local"
                  class="form-control"
                  name="created_date"
                  id="created_date"
                  placeholder="created_date"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="field-1" class="control-label">status</label>
                <input
                  type="number"
                  class="form-control"
                  id="status"
                  name="status"
                  placeholder="status"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary waves-effect"
            data-dismiss="modal"
          >
            Close
          </button>
          <button
            type="button"
            id="btn_update"
            class="btn btn-info waves-effect waves-light"
          >
            Save changes
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!--END MODAL EDIT-->

<!--MODAL HAPUS-->
<div
  class="modal fade"
  id="ModalHapus"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Delete Product</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">X</span>
        </button>
      </div>
      <form class="form-horizontal">
        <div class="modal-body">
          <input type="hidden" name="kode" id="textkode" value="" />
          <div class="alert alert-warning">
            <!-- <p>Apakah Anda yakin mau memhapus barang ini?</p> -->
            <p>Are you sure you want to delete this item?</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Tutup
          </button>
          <button class="btn_hapus btn btn-danger" id="btn_hapus">
            Delete
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!--END MODAL HAPUS-->

<!-- <script type="text/javascript" src="<?php echo base_url() . 'assets/js/jquery.dataTables.js' ?>"></script> -->
<script type="text/javascript">
  $(document).ready(function() {
    tampil_data_product(); //pemanggilan fungsi tampil barang.

    // $('#mydata').dataTable();

    //fungsi tampil barang
    function tampil_data_product() {
      $.ajax({
        type: "ajax",
        // url: "<?php echo base_url() ?>index.php/barang/data_barang",
        url: api_url + "product/data_product",
        async: false,
        dataType: "json",
        success: function(data) {
          var html = "";
          var i;
          for (i = 0; i < data.length; i++) {
            html +=
              "<tr>" +
              "<td>" +
              data[i].idproducts +
              "</td>" +
              "<td>" +
              data[i].product_name +
              "</td>" +
              "<td>" +
              data[i].idcategory +
              "</td>" +
              "<td>" +
              data[i].unit_price +
              "</td>" +
              "<td>" +
              data[i].discount +
              "</td>" +
              "<td>" +
              data[i].created_date +
              "</td>" +
              "<td>" +
              data[i].status +
              "</td>" +
              '<td style="text-align:right;">' +
              '<a href="javascript:;" class="btn btn-info btn-xs item_edit" data="' +
              data[i].idproducts +
              '">Edit</a>' +
              " " +
              '<a href="javascript:;" class="btn btn-danger btn-xs item_hapus" data="' +
              data[i].idproducts +
              '">Delete</a>' +
              "</td>" +
              "</tr>";
          }
          $("#show_data").html(html);
        }
      });
    }

    //GET UPDATE
    $("#show_data").on("click", ".item_edit", function() {
      var id = $(this).attr("data");
      $.ajax({
        type: "GET",
        // url: "<?php echo base_url('index.php/barang/get_barang') ?>",
        url: api_url + "product/get_product",
        dataType: "JSON",
        data: {
          id: id
        },
        success: function(data) {
          $.each(data, function(
            idproducts,
            product_name,
            idcategory,
            unit_price,
            discount,
            created_date,
            status
          ) {
            $("#ModalaEdit").modal("show");
            $('[name="idproducts"]').val(data.idproducts);
            $('[name="product_name"]').val(data.product_name);
            $('[name="idcategory"]').val(data.idcategory);
            $('[name="unit_price"]').val(data.unit_price);
            $('[name="discount"]').val(data.discount);
            $('[name="created_date"]').val(data.created_date);
            $('[name="status"]').val(data.status);
          });
        }
      });
      return false;
    });

    //GET HAPUS
    $("#show_data").on("click", ".item_hapus", function() {
      var id = $(this).attr("data");
      $("#ModalHapus").modal("show");
      $('[name="kode"]').val(id);
    });

    //Simpan product
    $("#btn_simpan").on("click", function() {
      // alert("hello word");
      var idproducts = $("#idproducts1").val();
      var product_name = $("#product_name1").val();
      var idcategory = $("#idcategory1").val();
      var unit_price = $("#unit_price1").val();
      var discount = $("#discount1").val();
      var created_date = $("#created_date1").val();
      var status = $("#status1").val();
      $.ajax({
        type: "POST",
        url: api_url + "product/simpan_product",
        dataType: "JSON",
        data: {
          //penamaannya form input : nilainya dari atas
          idproducts: idproducts,
          product_name: product_name,
          idcategory: idcategory,
          unit_price: unit_price,
          discount: discount,
          created_date: created_date,
          status: status
        },
        success: function(data) {
          $('[name="idproducts"]').val("");
          $('[name="product_name"]').val("");
          $('[name="idcategory"]').val("");
          $('[name="unit_price"]').val("");
          $('[name="discount"]').val("");
          $('[name="created_date"]').val("");
          $('[name="status"]').val("");
          $("#ModalaAdd").modal("hide");
          tampil_data_product();
        }
      });
      return false;
    });

    //Update product
    $("#btn_update").on("click", function() {
      var idproducts = $("#idproducts").val();
      var product_name = $("#product_name").val();
      var idcategory = $("#idcategory").val();
      var unit_price = $("#unit_price").val();
      var discount = $("#discount").val();
      var created_date = $("#created_date").val();
      var status = $("#status").val();
      $.ajax({
        type: "POST",
        // url: "<?php echo base_url('index.php/barang/update_barang') ?>",
        url: api_url + "product/update_product",
        dataType: "JSON",
        data: {
          idproducts: idproducts,
          product_name: product_name,
          idcategory: idcategory,
          unit_price: unit_price,
          discount: discount,
          created_date: created_date,
          status: status
        },
        success: function(data) {
          $('[name="idproducts"]').val("");
          $('[name="product_name"]').val("");
          $('[name="idcategory"]').val("");
          $('[name="unit_price"]').val("");
          $('[name="discount"]').val("");
          $('[name="created_date"]').val("");
          $('[name="status"]').val("");
          $("#ModalaEdit").modal("hide");
          tampil_data_product();
        }
      });
      return false;
    });

    //Hapus Barang
    $("#btn_hapus").on("click", function() {
      var kode = $("#textkode").val();
      $.ajax({
        type: "POST",
        // url: "<?php echo base_url('index.php/barang/hapus_barang') ?>",
        url: api_url + "product/hapus_product",
        dataType: "JSON",
        data: {
          kode: kode
        },
        success: function(data) {
          $("#ModalHapus").modal("hide");
          tampil_data_product();
        }
      });
      return false;
    });
  });
</script>
