<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Form Edit Broadcast Student</h4>
        <form method="post" id="form">
          <div
          class="wells"
          style="background: #eaeaea;padding:20px;border-radius: 3px;"
          >
          <table style="font-size: 12px">
            <tr>
              <td>Date</td>
              <td width="20px">:</td>
              <td id="dateNow">2018-02-14</td>
            </tr>
            <tr>
              <td>Requester</td>
              <td width="20px">:</td>
              <td id="requester_s">User</td>
            </tr>
            <tr id="rejectSection" style="display:none;">
              <td>Reject Reason</td>
              <td width="20px">:</td>
              <td id="rejectReason"></td>
            </tr>
          </table>
        </div>

        <hr />

        <p class="pull-right" style="float: right;">

        </p>

        <div class="table-responsive" style="margin-bottom:20px;">
          <table id="tblProduct" class="table" style="width: 100%">

            <tbody id="rowBody">

              <tr>
                <td>
                  Send By 
                </td>
                <td>
                  <input type="text" name="idjurusanedit" id="idjurusanedit" style="display:none;">
                  <input type="text" name="idfakultasedit" id="idfakultasedit" style="display:none;">
                  <input type="text" name="id" id="id" style="display:none;">
                  <select
                  class="form-control"
                  id="selectdata"
                  name="selectdata"
                  class="selectdata"
                  style="width: 200px;"
                  onchange="checkSelect(this.value);"
                  >
                  <option value="U">All</option>
                  <option value="F">Faculty</option>
                  <option value="J">Department</option>
                  <option value="N">Nre</option>
                </select>
              </td>
            </tr>
            <tr id="tr_id_universitas">
              <td>
                id universitas
              </td>
              <td>


                <input type="text" name="id_universitas" id="id_universitas" class="form-control" style="display:none;">
              </td>
            </tr>

            <tr id="tr_fakultas">
              <td>
                Fakultas
              </td>
              <td id="td_id">
                        <!-- <select
                        class="form-control"
                        id="fakultas"
                        name="fakultas"
                        style="width: 200px;"
                        onchange="checkFakultasperJurusan(this.value);"
                      >
                        <option value="">All</option>
                        
                      </select> -->
                      <!-- <input type="checkbox" class="checkbox" id="checkbox" name="checkbox" value="test"> -->
                     <!-- <input id="testt" type="checkbox" name="dataname"  value="datavalue" />
                      <label for="vehicle1"> test</label><br> -->
                      <div  id="fakultasdiv" class="row">

                      </div>

                      <input type="text" name="fakultas" id="fakultas" style="display:none;">
                      
                    </td>
                  </tr>

                  <tr id="tr_jurusan">
                    <td>
                      Department
                    </td>
                    <td>
                       <!--  <select
                          class="form-control"
                          id="jurusan"
                          name="jurusan"
                          style="width: 200px;"
                        >
                          <option value="">All</option>
                          
                        </select> -->

                        <div  id="jurusandiv" class="row">
                        </div>


                        <input type="text" name="jurusan" id="jurusan" style="display:none;"  >
                      </td>
                    </tr>


                    <tr>
                      <td valign="top">
                        Time Window
                      </td>
                      <td>
                        <input
                        class="form-control msgTetun"
                        name="time_window"
                        id="time_window"
                        type="number"
                        max="24"
                        required
                        />
                      </td>
                    </tr>

               <!--  <tr>
                  <td>
                    SMS Content
                  </td>
                  <td>
                    <select
                      class="select2 select2-multiple"
                      id="sms_content"
                      name="sms_content"
                      onchange="getLanguage()"
                      style="width: 200px;"
                      required
                    >
                      <option value="">- Choose SMS Content -</option>
                    </select>
                    <input type="hidden" name="sender" id="sender" class="form-control"  >
                  </td>
                </tr> -->
                <tr>
                  <td valign="top">
                    Message in Tetun
                  </td>
                  <td>
                    <textarea
                    class="form-control msgTetun"
                    name="message"
                    id="message"
                    style="height: 100px"
                    maxlength="160"
                    ></textarea>
                  </td>
                </tr>
                <tr id="tr_msgEnglish">
                  <td>
                    Message in English
                  </td>
                  <td>
                    <textarea
                    class="form-control msgEnglish"
                    name="english"
                    id="english"
                    style="height: 100px"

                    ></textarea>
                  </td>
                </tr>
                <tr id="tr_msgBahasa">
                  <td>
                    Message in Bahasa
                  </td>
                  <td>
                    <textarea
                    class="form-control msgBahasa"
                    name="bahasa"
                    id="bahasa"
                    style="height: 100px"

                    ></textarea>
                  </td>
                </tr>
                
                <tr id="tr_nre">
                  <td>
                    Nre
                  </td>
                  <td>
                    <!-- <input type="text" name="nre" id="nre" class="form-control"  > -->
                    <select name="code_spesifik" id="code_spesifik" class="form-control">
                      <option>-- No Selected--</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>
                    Type
                  </td>
                  <td>
                    <select
                    class="form-control"
                    onchange="cektype()"
                    id="schedule_type"
                    name="schedule_type"
                    >
                    <option value="C">Schedule</option>
                    <option value="I">Send Now</option>
                  </select>
                </td>
              </tr>
              <tr id="tr_schedule">
                <td>
                  Schedule
                </td>
                <td>
                  <input
                  type="datetime-local"
                  class="form-control"
                  name="schedule"
                  id="schedule"
                  />
                </td>
              </tr>
              <tr>
                <td>
                  Priority
                </td>
                <td>
                  <select 
                  name="priority" 
                  id="priority"
                  class="form-control">
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>
              </td>
            </tr>

          </tbody>
        </table>

        <input type="hidden" name="iduser" id="iduser" />
        <input type="hidden" name="idpo" id="idpo" />
      </div>

      <hr />

      <div>
        <button type="submit" class="btn btn-outline-success btn-fw">
          <i class="mdi mdi-send"></i>Submit
        </button>
        <button type="reset" class="btn btn-outline-danger btn-fw">
          <i class="mdi mdi-cancel"></i>Cancel
        </button>
      </div>
    </form>
  </div>
</div>
</div>
</div>


<script type="text/javascript">
  $data = 0;
  $dataDeleted = [];
  var nilaiawalfakultas = $('#idfakultasedit').val();


  
  $(document).ready(function() {
    // $('#id_universitas').hide();
    getdataSessionUniversitas();
    // LoopingFakultas();
    getNreSpesifik();

    

    checkSelect();
    // $('#testt').click(function() {
    //   // alert("Checkbox state (method 1) = " + $('#test').prop('checked'));
    //   // alert("Checkbox state (method 2) = " + $('#test').is(':checked'));
    //   if ($('#testt').prop('checked')) {
    //     console.log("hello wordl");
    //     console.log($("input[type='checkbox']").val());
    //   }else{
    //     console.log('hhhh');
    //   }
    // });

    $(".checkbox").change(function() {
      if(this.checked) {
       console.log("hello wordl");
     }
   });

    // testing();
    console.log("halaman create broadcast berhasil di load,jquery jalan");
    document.getElementById('tr_id_universitas').style.display = 'none';
    document.getElementById('tr_msgEnglish').style.display = 'none';
    document.getElementById('tr_msgBahasa').style.display = 'none';

    console.log("tetsing "+ sessionStorage.getItem("username"));

   // console.log(window.sessionStorage.getItem("id_universitas"));
   // console.log(sessionStorage.getItem("id_universitas"));

   

   $("#form").submit(function() {
    save_sms();
    return false;
  });

   var date = datePHPJS("d, M Y", new Date());
   $("#dateNow").html(date);
    // $("#requester_s").html(sessionStorage.getItem("username"));
    $("#requester_s").html(localStorage.getItem("username"));
    
    $("#iduser").val(sessionStorage.getItem("id"));
    //$("#schedule").datepicker();

    $("#sms_content").select2({
      // minimumInputLength: 2,
      allowClear: true,
      placeholder: "insert sms content",
      ajax: {
        dataType: "json",
        url:
        link_local+"/smsbc_student/process/processSMSContent.php?action=getdata",
        delay: 800,
        data: function(params) {
          return {
            search: params.term
          };
        },
        processResults: function(data, page) {
          return {
            results: data
          };
        }
      }
    });
    $("#list_location").select2({
      // minimumInputLength: 2,
      allowClear: true,
      placeholder: "insert based location",
      ajax: {
        dataType: "json",
        url:
        link_local+"/smsbc_student/process/getBasedLocation.php?f=getDataLocation",
        delay: 800,
        data: function(params) {
          console.log("this params:", params)
          return {
            search: params.term
          };
        },
        processResults: function(data, page) {
          console.log("this data:", data)

          return {
            results: data
          };
        }
      }
    });
  });

  function checkSendTo() {
    var check = $("#send_to").val();
    if (check == "ALL-*" || check == "AUTO") {
      $("#list_location").attr({ hidden: true, required: false });
      $("#tr_list_location").attr("hidden", true);
    } else {
      $("#list_location").attr({ hidden: false, required: true });
      $("#tr_list_location").attr("hidden", false);
    }
  }

  function getLanguage() {
    var content = $("#sms_content").val();
    //alert(content);
    $.ajax({
      url:link_local+"/smsbc_student/process/processSMSContent.php?action=getlanguage&id=" +
      content,
      method: "get",
      dataType: "json",
      success: function(ar) {
        console.log("msg", ar);
        data = ar.data;
        if (ar.success) {
          $("#tetun").val(data[0].tetun);
          $("#sender").val(data[0].sender);
          // $("#english").val(data[0].english);
          // $("#bahasa").val(data[0].bahasa);
        } else {
          showErrorWithNoAction(ar.msg);
        }
      },
      error: function(xhr) {
        $("#loaderNew").remove();

        // console.log(xhr);
        showErrorWithNoAction(
          "Internal server error. Please contact administrator website."
          );
      }
    });
  }


  // ambil Data Session Universitas

  function getdataSessionUniversitas() {
     // ambil session lalu lempar ke api
     const id_universitas = sessionStorage.getItem("username");

     $.ajax({
      url: link_local+"/getbroadcastsms/index.php/JurusanController/getdataSessionUniversitas/"+ id_universitas,
      type: 'GET',
      dataType: 'JSON',
    })
     .done(function(success) {
      document.getElementById('id_universitas').value= success.id_universitas ; 
      console.log("id_universitas yang login = "+success.id_universitas)

    })
     .fail(function() {
      console.log("ini muncul juga kok error");
    })
     .always(function() {
      console.log("complete");
    });

   }

   function save_sms() {

    $.ajax({
      url:link_local+"/smsbc_student/process/processSMSBroadcast.php?action=update&user="+
      localStorage.getItem("username")+"&sender="+localStorage.getItem("name")+"&id_universitas="+localStorage.getItem("univ"),
      method: "post",
      data: $("#form").serialize(),
      dataType: "json",
      success: function(ar) {
        console.log('success',ar.success);
        if (ar.success==true) {
          swal({
            title: "Success",
            text: ar.msg,
            type: "success",
            showCancelButton: true,
            button: "#4fa7f3",
            allowOutsideClick: false,
            button: "Ok"
          });

          $(".content-wrapper").load("mainmenustudent/mainmenustudent.html");
        } else {
          showErrorWithNoAction(ar.msg);
        }
      },
      error: function(xhr) {
        //   $("#loaderNew").remove();

        //   console.log("this xhr", xhr);
        //   showErrorWithNoAction(
        //     "Internal server error. Please contact administrator website."
        //   );
        $(".content-wrapper").load("mainmenustudent/mainmenustudent.html");

      }
    });
  }
  // }

  function shipOff(event) {
    var result = event.target.result;
    var fileName =
    "File" +
    datePHPJS("His") +
    document.getElementById("file_upload").files[0].name;
    $.ajax({
      url:link_local+"/smsbc_student/process/processSMSBroadcast.php?action=uploadFile",
      method: "post",
      data: { data: result, name: fileName },
      success: function(dt) {}
    });
  }

  function updateFoto(name, id) {
    $.ajax({
      url:link_local+"/smsbc_student/process/processSMSBroadcast.php?action=updateFile",
      data: { id: id, name: name },
      method: "post",
      success: function(data) {}
    });
  }

  function zeroPadded(val) {
    if (val >= 10) return val;
    else return "0" + val;
  }

  function cektype() {
    var a = $("#schedule_type").val();
    var d = new Date();
    var dateTime =
    d.getFullYear() +
    "-" +
    zeroPadded(d.getMonth() + 1) +
    "-" +
    zeroPadded(d.getDate()) +
    "T" +
    zeroPadded(d.getHours()) +
    ":" +
    zeroPadded(d.getMinutes() + 20);

    if (a == "I") {
      $("#schedule").attr({ hidden: true, required: false });
      // .val(dateTime);
      $("#tr_schedule").attr({ hidden: true, required: false });
    } else {
      $("#schedule").attr({ hidden: false, required: true });
      $("#tr_schedule").attr({ hidden: false, required: true });
    }
  }
  function FakultasMultiGet(data){
    // console.log(data);

    var fav = [];
    $.each($("input[id='fakultasGet']:checked"), function(){            
      fav.push($(this).val());
    });

    document.getElementById('fakultas').value = fav;

    console.log("Hello Fakultas Jurusan" +fav);
    checkFakultasperJurusan(fav);


  }

  function hello(){
    // console.log(data);

    var fav = [];
    $.each($("input[id='checkbox']:checked"), function(){            
      fav.push($(this).val());
    });
    document.getElementById('jurusan').value = fav;

    console.log("Hello data Get Jurusan" +fav);
    // checkFakultasperJurusan(fav);


  }


  function LoopingFakultas() {
    $('#fakultasdiv').empty() ;
    let datanull = $('#idfakultasedit').val();

    if (datanull == "NULL") {
       $.ajax({
      type: "GET",
        url: link_local+"/getbroadcastsms/index.php/JurusanController/getFakultas?dataId="+$('#idfakultasedit').val(),
        dataType: "JSON",
        success: function (response) {
          console.log(response.data);

          response.data.forEach(index => {

                // cetak pake id bair jelas
                $('#fakultasdiv').append(`
                 <div class="col-md-6">
                 <input type="checkbox" onchange="FakultasMultiGet()" class="checkbox" id="fakultasGet" name="${index.idfaculty}" value="${index.idfaculty}">
                 <label for="vehicle1"> ${index.idfaculty} - ${index.name}</label>
                 </div>
                 `)


              });

          
        }
      });
    }else{
       $.ajax({
      type: "GET",
        // url: link_local+"/smsbc_student/process/processLogin.php?f=getFaculty&iduniv="+localStorage.getItem("univ"),
        url: link_local+"/getbroadcastsms/index.php/JurusanController/getFakultas?dataId="+$('#idfakultasedit').val(),
        dataType: "JSON",
        success: function (response) {
          console.log(response.data);
          
          response.datatampilkanchecked.forEach(index => {
           $('#fakultasdiv').append(`
            <div class="col-md-6">
            <input type="checkbox" onchange="FakultasMultiGet()" class="checkbox" id="fakultasGet" name="${index.idfaculty}" value="${index.idfaculty}" checked>
            <label for="vehicle1"> ${index.idfaculty} - ${index.name}</label>
            </div>
            `)
         });

          response.data.forEach(index => {

                // cetak pake id bair jelas
                $('#fakultasdiv').append(`
                 <div class="col-md-6">
                 <input type="checkbox" onchange="FakultasMultiGet()" class="checkbox" id="fakultasGet" name="${index.idfaculty}" value="${index.idfaculty}">
                 <label for="vehicle1"> ${index.idfaculty} - ${index.name}</label>
                 </div>
                 `)


              });

          
        }
      });
    }
   
  }



  function checkFakultasperJurusan(fakultas='') {
    let test = $('select[name=selectdata]').val()

    if (test == "F") {
      console.log("ini selected faculty");
      $('#jurusan').empty() ;

    }else{
      console.log("bukan selected faculty");

      if (fakultas != '') {

          // alert("hello underfined");
          $('#jurusandiv').empty() ;
          $.ajax({
            type: "GET",
            url:link_local+"/getbroadcastsms/index.php/JurusanController/dataJurusandistinctedit?idfakultas="+fakultas  +
          "&idedit="+$('#id').val()+
          "&idjurusanedit=''",

            dataType: "JSON",
            success: function (response) {


              response.data.forEach(index => {
                $('#jurusandiv').append(`

                 <div class="col-md-6">
                 <input type="checkbox"" id="checkbox" onchange="hello()" name="${index.jurusan}" value="${index.id_jurusan}">
                 <label for="jurusan"> ${index.id_jurusan} -  ${index.jurusan}</label>

                 </div>

                 `);
              });
            } 
          });
        }else{






          // alert("heyy aku gak");
          $('#jurusandiv').empty() ;
          $.ajax({
            type: "GET",
            url:link_local+"/getbroadcastsms/index.php/JurusanController/dataJurusandistinctedit?idfakultas="+$('#idfakultasedit').val()+
          "&idedit="+$('#id').val()+
          "&idjurusanedit="+$('#idjurusanedit').val(),

            dataType: "JSON",
            success: function (response) {

             response.datatampilkanchecked.forEach(index => {
                $('#jurusandiv').append(`

                 <div class="col-md-6">
                 <input type="checkbox"" id="checkbox" onchange="hello()" name="${index.jurusan}" value="${index.id_jurusan}" checked>
                 <label for="jurusan"> ${index.jurusan}</label>

                 </div>

                 `);
              });


              response.data.forEach(index => {
                $('#jurusandiv').append(`

                 <div class="col-md-6">
                 <input type="checkbox"" id="checkbox" onchange="hello()" name="${index.jurusan}" value="${index.id_jurusan}">
                 <label for="jurusan"> ${index.jurusan}</label>

                 </div>

                 `);
              });
            } 
          });
        }

        
      }
    }

    function getNreSpesifik() {
      $('#code_spesifik').empty();
      $.ajax({
        url: link_local+"/smsbc_student/process/processLogin.php?f=getNreSpesifik",
        type: 'GET',
        dataType: 'JSON',
      })
      .done(function(response) {
        console.log("success nre");
        response.data.forEach(function(row) {
        // console.log("data nre"+row.code_spesifik);
        $('#code_spesifik').append(`
          <option value='${row.code_spesifik}'>${row.code_spesifik}</option>
          `);
      });
      })
      .fail(function() {
        console.log("error");
      })
      .always(function() {
        console.log("complete");
      });

    }

    

  // logika show of sesuai select data

  function checkSelect(){

    let selectdata = $('select[name=selectdata]').val()
    if (selectdata == "U") {
     console.log("ini select data semua");
     $('select[name=selectdata]').val()
     $('#tr_fakultas').hide();
     $('#tr_jurusan').hide();
     $('#tr_nre').hide();
         //checkFakultasperJurusan();
         
       }else if(selectdata == "F"){
        $('#tr_fakultas').show();
        $('select[name=jurusan]').val()
        $('.jurusan option[value=val2]').attr('selected','selected');
        
        LoopingFakultas();

        $('#tr_jurusan').hide();
        $('#tr_nre').hide();
      }else if(selectdata == "J"){
        $('#tr_jurusan').show();

        $('#tr_fakultas').show();
        $('#tr_nre').hide();
        LoopingFakultas();
        checkFakultasperJurusan();


      }else if(selectdata == "N"){
       $('#tr_nre').show();
       $('#fakultas').val('');
       $('#jurusan').val('');

       $('#tr_fakultas').hide();
       $('#tr_jurusan').hide();
     }else{
      console.log("failde data");
    }
  }
</script>
