<div class="row">
  <div class="col-md-12"></div>
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          <label class="pull-right" style="float:right;">
            <button
              id="btnAdd"
              class="btn btn-outline-primary btn-fw"
              onclick="newSMSContent()"
            >
              <i class="mdi mdi-plus"></i> Add Exclude Number
            </button>
          </label>
          List of SMS Content
        </h4>

        <div class="table-responsive" style="width: 100%">
          <table class="dataTable table table-hovered" id="dataTable">
            <thead>
              <tr>
                <th>No</th>
                <th>Code Exclude</th>
                <th>Total Msisdn</th>
                <th>Created Date</th>
              </tr>
            </thead>
            <tbody id="bodyTable"></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    console.log("terload");
    // runPages();
    DataTable();
  });

  function newSMSContent() {
    var url = "mainmenu/action/addExclude.html",
      modul = "SMS Content",
      title = "New SMS Content";

    callPage(url);
  }

  function DataTable() {
    $("#dataTable")
      .DataTable()
      .clear()
      .destroy();

    $("#dataTable").DataTable({
      processing: true,
      serverSide: true,
      searching: true,
      columns: [
        { data: "No" },
        { data: "Exclude File" },
        { data: "Total Msisdn" },
        { data: "Created Date" }
      ],
      columnDefs: [
        {
          // targets: [0, 0],
          orderable: false
        }
      ],
      ajax: {
        url: "http://localhost/smsbc_student/process/getExclude.php?f=getExclude",
        type: "post",
        dataType: "json"
      }
    });

    $(".container-fluid").attr("style", "background:transparent !important;");
  }
</script>
