<div class="row">
  <div class="col-md-12"></div>
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="dropdown pull-right" style="float: right;">
          <button id="btnAdd" class="btn btn-outline-primary btn-fw" onclick="newBroadcastStudent()">
            <i class="mdi mdi-plus"></i>Create Campaign
          </button>

          <!-- <button
          id="test"
          class="btn btn-outline-primary btn-fw"
          onclick="test()"
        >
          <i class="mdi mdi-plus"></i>test
        </button> -->
        </div>
        <h4 class="card-title">
          List of Campaign
        </h4>

        <div class="table-responsive">
          <table class="dataTable table table-hovered" id="dataTable">
            <thead>
              <tr>
                <th>No</th>
                <th>Fakultas</th>
                <th>Department</th>
                <!-- <th>Content</th> -->
                <th>Schedule</th>
                <th>Total SMS</th>
                <th>Submit SMS</th>
                <th>Delivered SMS</th>
                <th>Undelivered SMS</th>
                <th>Submit Start</th>
                <th>Submit End</th>
                <th>Status</th>
                <th>Window Time</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody id="bodyTable"></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <form method="post" id="form">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="card-title">Form Edit SMS Broadcast</h4>
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="wells" style="background: #eaeaea; padding: 20px; border-radius: 3px;">
              <table style="font-size: 12px;">
                <tr>
                  <td>Date</td>
                  <td width="20px">:</td>
                  <td id="dateNow">2018-02-14</td>
                </tr>
                <tr>
                  <td>Requester</td>
                  <td width="20px">:</td>
                  <td id="requester"></td>
                </tr>
                <tr id="rejectSection" style="display: none;">
                  <td>Reject Reason</td>
                  <td width="20px">:</td>
                  <td id="rejectReason"></td>
                </tr>
              </table>
            </div>

            <hr />

            <div class="table-responsive" style="margin-bottom: 20px;">
              <table id="tblProduct" class="table" style="width: 100%;">
                <!--    <tbody id="rowBody">

                <tr>
                  <td>
                    Send By 
                  </td>
                  <td>
                    <select
                      class="form-control"
                      id="selectdata"
                      name="selectdata"
                      class="selectdata"
                      style="width: 200px;"
                      onchange="checkSelect(this.value);"
                    >
                      <option value="All">All</option>
                      <option value="Faculty">Faculty</option>
                      <option value="Jurusan">Department</option>
                      <option value="Nre">Nre</option>
                    </select>
                  </td>
                </tr>
                <tr id="tr_id_universitas">
                  <td>
                    id universitas
                  </td>
                  <td>
                 
                    
                    <input type="text" name="id_universitas" id="id_universitas" class="form-control">
                  </td>
                </tr>

                <tr id="tr_fakultas">
                    <td>
                      Fakultas
                    </td>
                    <td id="td_id">
                        <select
                        class="form-control"
                        id="fakultas"
                        name="fakultas"
                        style="width: 200px;"
                        onchange="checkFakultasperJurusan(this.value);"
                      >
                        <option value="">All</option>
                        
                      </select>
                      
                    </td>
                  </tr>

                  <tr id="tr_jurusan">
                      <td>
                        Department
                      </td>
                      <td>
                        <select
                          class="form-control"
                          id="jurusan"
                          name="jurusan"
                          style="width: 200px;"
                        >
                          <option value="">All</option>
                          
                        </select>
                      </td>
                    </tr>


                <tr>
                  <td valign="top">
                    Time Window
                  </td>
                  <td>
                    <input
                      class="form-control msgTetun"
                      name="time_window"
                      id="time_window"
                      type="number"
                      max="24"
                      required
                    />
                  </td>
                </tr>
               
                <tr>
                  <td>
                    SMS Content
                  </td>
                  <td>
                    <select
                      class="select2 select2-multiple"
                      id="sms_content"
                      name="sms_content"
                      onchange="getLanguage()"
                      style="width: 200px;"
                      required
                    >
                      <option value="">- Choose SMS Content -</option>
                    </select>
                    <input type="hidden" name="sender" id="sender" class="form-control"  >
                  </td>
                </tr>
                <tr>
                  <td valign="top">
                    Message in Tetun
                  </td>
                  <td>
                    <textarea
                      class="form-control msgTetun"
                      name="tetun"
                      id="tetun"
                      style="height: 100px"
                      
                    ></textarea>
                  </td>
                </tr>
                <tr id="tr_msgEnglish">
                  <td>
                    Message in English
                  </td>
                  <td>
                    <textarea
                      class="form-control msgEnglish"
                      name="english"
                      id="english"
                      style="height: 100px"
                      
                    ></textarea>
                  </td>
                </tr>
                <tr id="tr_msgBahasa">
                  <td>
                    Message in Bahasa
                  </td>
                  <td>
                    <textarea
                      class="form-control msgBahasa"
                      name="bahasa"
                      id="bahasa"
                      style="height: 100px"
                      
                    ></textarea>
                  </td>
                </tr>
                
                <tr id="tr_nre">
                  <td>
                    Nre
                  </td>
                  <td>
                    
                    <select name="code_spesifik" id="code_spesifik" class="form-control" required="">
                      <option>-- No Selected--</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>
                    Type
                  </td>
                  <td>
                    <select
                      class="form-control"
                      onchange="cektype()"
                      id="schedule_type"
                      name="schedule_type"
                    >
                      <option value="C">Schedule</option>
                      <option value="I">Send Now</option>
                    </select>
                  </td>
                </tr>
                <tr id="tr_schedule">
                  <td>
                    Schedule
                  </td>
                  <td>
                    <input
                      type="datetime-local"
                      class="form-control"
                      name="schedule"
                      id="schedule"
                    />
                  </td>
                </tr>
                <tr>
                  <td>
                    Priority
                  </td>
                  <td>
                    <select 
                      name="priority" 
                      id="priority"
                      class="form-control">
                      <option value="0">0</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                    </select>
                  </td>
                </tr>
                
              </tbody> -->
              </table>
              <input type="hidden" name="iduser" id="iduser" />
              <input type="hidden" name="idpo" id="idpo" />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div>
            <button type="submit" class="btn btn-outline-success btn-fw">
              <i class="mdi mdi-send"></i>Submit
            </button>
            <button type="reset" class="btn btn-outline-danger btn-fw">
              <i class="mdi mdi-cancel"></i>Cancel
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="modal fade" id="myModal2" role="dialog">
  <div class="modal-dialog" style="max-width: 1000px;">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="card-title">Detaill Campaign</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <div class="modal-body" style="text-align: center;">
        <div class="table-responsive" style="margin-bottom: 20px;">
          <table id="tblProduct">
            <tbody id="rowBody">
              <!-- <tr>
                <td style="text-align: left;">
                  Sender
                </td>
                <td>
                  <div id="d_sender">null</div>
                </td>
              </tr> -->
              <tr>
                <td style="text-align: left;">
                  Send To
                </td>
                <td>
                  <div style="width: 10px;">:</div>
                </td>
                <td style="text-align: left; padding: 10px;">
                  <div id="d_sendTo">null</div>
                </td>
              </tr>
              <tr>
                <td style="text-align: left;">
                  SMS Content
                </td>
                <td>
                  <div style="width: 10px;">:</div>
                </td>

                <td style="text-align: left; padding: 10px;">
                  <div id="d_smsContent">null</div>
                </td>
              </tr>
              <tr>
                <td style="text-align: left;">
                  Message in Tetun
                </td>
                <td>
                  <div style="width: 10px;">:</div>
                </td>

                <td style="text-align: left; padding: 10px;">
                  <div id="d_msgTetun" style="width: 500px;">null</div>
                </td>
              </tr>
              <!-- <tr>
                <td style="text-align: left;">
                  Message in English
                </td>
                <td><div style="width: 10px;">:</div></td>

                <td style="text-align: left; padding: 10px;">
                  <div id="d_msgEnglish" style="width: 500px;">null</div>
                </td>
              </tr>
              <tr>
                <td style="text-align: left;">
                  Message in Bahasa
                </td>
                <td><div style="width: 10px;">:</div></td>

                <td style="text-align: left; padding: 10px;">
                  <div id="d_msgBahasa" style="width: 500px;">null</div>
                </td>
              </tr> -->
              <tr>
                <td style="text-align: left;">
                  Submit SMS
                </td>
                <td>
                  <div style="width: 10px;">:</div>
                </td>

                <td style="text-align: left; padding: 10px;">
                  <div id="d_smsSm">null</div>
                </td>
              </tr>
              <tr>
                <td style="text-align: left;">
                  Delivered SMS
                </td>
                <td>
                  <div style="width: 10px;">:</div>
                </td>

                <td style="text-align: left; padding: 10px;">
                  <div id="d_smsDr">null</div>
                </td>
              </tr>
              <tr>
                <td style="text-align: left;">
                  Undelivered SMS
                </td>
                <td>
                  <div style="width: 10px;">:</div>
                </td>

                <td style="text-align: left; padding: 10px;">
                  <div id="d_smsUnd">null</div>
                </td>
              </tr>
              <tr>
                <td style="text-align: left;">
                  Submit Start
                </td>
                <td>
                  <div style="width: 10px;">:</div>
                </td>

                <td style="text-align: left; padding: 10px;">
                  <div id="d_submitSt">null</div>
                </td>
              </tr>
              <tr>
                <td style="text-align: left;">
                  Submit End
                </td>
                <td>
                  <div style="width: 10px;">:</div>
                </td>

                <td style="text-align: left; padding: 10px;">
                  <div id="d_submitEn">null</div>
                </td>
              </tr>
              <tr>
                <td style="text-align: left;">
                  Status
                </td>
                <td>
                  <div style="width: 10px;">:</div>
                </td>

                <td style="text-align: left; padding: 10px;">
                  <div id="d_status">null</div>
                </td>
              </tr>
              <tr>
                <td style="text-align: left;">
                  Time Window
                </td>
                <td>
                  <div style="width: 10px;">:</div>
                </td>

                <td style="text-align: left; padding: 10px;">
                  <div id="d_timeWindow">null</div>
                </td>
              </tr>
              <tr>
                <td style="text-align: left;">
                  Schedule Type
                </td>
                <td>
                  <div style="width: 10px;">:</div>
                </td>

                <td style="text-align: left; padding: 10px;">
                  <div id="d_scheTipe">null</div>
                </td>
              </tr>
              <tr>
                <td style="text-align: left;">
                  Schedule
                </td>
                <td>
                  <div style="width: 10px;">:</div>
                </td>

                <td style="text-align: left; padding: 10px;">
                  <div id="d_sche">null</div>
                </td>
              </tr>
              <tr>
                <!--   <td style="text-align: left;">
                  Upload
                </td>
                <td><div style="width: 10px;">:</div></td>

                <td style="text-align: left; padding: 10px;">
                  <div id="d_upload">null</div>
                </td>
              </tr> -->
              </tr>

              <tr>
                <td style="text-align: left;">
                  Priority
                </td>
                <td>
                  <div style="width: 10px;">:</div>
                </td>

                <td style="text-align: left; padding: 10px;">
                  <div id="d_priority"></div>
                </td>
              </tr>
              <tr>
                <td style="text-align: left;">
                  Created By
                </td>
                <td>
                  <div style="width: 10px;">:</div>
                </td>

                <td style="text-align: left; padding: 10px;">
                  <div id="d_creBy">null</div>
                </td>
              </tr>
              <tr>
                <td style="text-align: left;">
                  Created Date
                </td>
                <td>
                  <div style="width: 10px;">:</div>
                </td>

                <td style="text-align: left; padding: 10px;">
                  <div id="d_creDt">null</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>

<script type="text/javascript">
  // const link_local='http://localhost';
  // const localhost_sever ='http://150.242.111.235';
  $(document).ready(function () {
    // console.log("terload")
    // runPages();
    DataTable();
    $("#requester").html(localStorage.getItem("username"));
    // $("#requester").

    console.log("hello world");

    $("#form").submit(function () {
      save_sms();
      return false;
    });

    if (localStorage["jabatan"] == 3 || localStorage["jabatan"] == 4) {
      $("#btnAdd").hide();
    }
  });

  function test() {
    console.log("hello worjkv");
    sessionStorage.clear();
    // window.location('http://localhost/smsbc_student/');
    window.location.href = "http://localhost/smsbc_student";
    Swal.fire("Good job!", "You clicked the button!", "success");
  }

  function newBroadcastStudent() {
    var url = "mainmenustudent/action/createBroadcastStudent.html",
      modul = "SMS Broadcast Student",
      title = "New SMS Broadcast";

    callPage(url);
  }

  function editHalaman(id) {
    var url = "mainmenustudent/action/editBroadcast.html",
      modul = "SMS Broadcast Student",
      title = "New SMS Broadcast";

    callPage(url);
    edit(id);
  }

  function edit(id) {
    //alert(content);
    console.log(id);
    $.ajax({
      url: link_local +
        "/smsbc_student/process/processSMSBroadcast.php?action=getBroadcast&id=" +
        id,
      method: "get",
      dataType: "json",
      success: function (ar) {
        console.log("msg", ar);
        data = ar.data;
        if (ar.success) {
          if (ar.data[0].type == "F") {
            getFakultas(data[0].id_universitas);
            $("#fakultas :selected").val(data[0].fakultas);
            console.log("fakultas", data[0].fakultas);
          }
          if (ar.data[0].type == "J") {
            getFakultas(data[0].id_universitas, data[0].fakultas);
            getJurusan(
              data[0].id_universitas,
              data[0].fakultas,
              data[0].jurusan
            );

            // $("#fakultas").val(data[0].fakultas);
            // $("#jurusan :selected").val(data[0].jurusan);
          }
          $("#id_universitas").val(data[0].id_universitas);
          $("#idfakultasedit").val(data[0].fakultas);
          $("#fakultas").val(data[0].fakultas);
          $("#jurusan").val(data[0].jurusan);
          $("#idjurusanedit").val(data[0].jurusan);
          $("#selectdata").val(data[0].type);
          $("#message").val(data[0].message);
          $("#nre").val(data[0].nre);
          $("#id").val(data[0].id);
          $("#time_window").val(data[0].time_window);
          $("#schedule_type").val(data[0].schedule_type);
          $("#schedule").val(
            data[0].schedule
            .replace(" ", "T")
            .slice(0, data[0].schedule.length - 3)
          );
        } else {
          showErrorWithNoAction(ar.msg);
        }
      },
      error: function (xhr) {
        $("#loaderNew").remove();

        // console.log(xhr);
        showErrorWithNoAction(
          "Internal server error. Please contact administrator website."
        );
      },
    });
  }

  function DataTable() {
    $("#dataTable").DataTable().clear().destroy();

    $("#dataTable").DataTable({
      processing: true,
      serverSide: true,
      searching: true,
      // pageLength: 20,
      columns: [{
          data: "No",
        },
        {
          data: "fakultas",
        },
        {
          data: "jurusan",
        },
        // { data: "Content" },
        {
          data: "Schedule",
        },
        {
          data: "Total SMS",
        },
        {
          data: "Submit SMS",
        },
        {
          data: "Delivered SMS",
        },
        {
          data: "Undelivered SMS",
        },
        {
          data: "Submit Start",
        },
        {
          data: "Submit End",
        },
        {
          data: "Status",
        },
        {
          data: "Window Time",
        },
        {
          data: "Action",
        },
        // { data: "Created Date" }
        // {data:"Check"},
      ],
      columnDefs: [{
        // targets: [0, 0],
        orderable: false,
      }, ],
      ajax: {
        url: link_local +
          "/smsbc_student/process/getSMSBroadcast.php?userSession=" +
          localStorage.getItem("username"),
        type: "post",
        dataType: "json",
      },
    });

    $(".container-fluid").attr("style", "background:transparent !important;");
  }

  function save_sms() {
    //alert('asu');
    // alert($("#schedule").val());
    // var date = new Date().toJSON().slice(0, 19);

    // var inputFile = document.getElementById("file_upload");
    // var pathFile = inputFile.value;
    // var ekstensiOk = /(\.xlsx|\.xlx|\.csv)$/i;
    // if (!ekstensiOk.exec(pathFile) && pathFile != "") {
    //   showErrorWithNoAction("Incorrect file extension !");
    // } else {
    $.ajax({
      url: link_local +
        "/smsbc_student/process/processSMSBroadcast.php?action=update&user=" +
        sessionStorage.getItem("username") +
        "&type=" +
        localStorage["type_broadcast"],
      method: "post",
      data: $("#form").serialize(),
      dataType: "json",
      success: function (ar) {
        console.log("masuk ke proses ini gak ");
        // if (ar.success) {
        //   var file = document.getElementById("file_upload").files[0]; //Files[0] = 1st file
        //   var reader = new FileReader();
        //   if (file) {
        //     if (localStorage["type_broadcast"] == "3") {
        //       reader.readAsDataURL(file);
        //       reader.onload = shipOff;
        //       var name = "File" + datePHPJS("His") + file.name;
        //       updateFoto(name, ar.id);
        //     }
        //   }
        //   swal({
        //     title: "Success",
        //     text: ar.msg,
        //     type: "success",
        //     showCancelButton: true,
        //     allowOutsideClick: false
        //   }).then(function() {
        //     $(".content-wrapper").load("mainmenustudent/mainmenustudent.html");
        //   });
        //   $("#myModal").modal("hide");
        // } else {
        //   showErrorWithNoAction(ar.msg);
        // }
      },
      error: function (xhr) {
        $("#loaderNew").remove();

        console.log("this xhr", xhr);
        showErrorWithNoAction(
          "Internal server error. Please contact administrator website."
        );
      },
    });
  }
  // }

  function shipOff(event) {
    var result = event.target.result;
    var fileName =
      "File" +
      datePHPJS("His") +
      document.getElementById("file_upload").files[0].name;
    $.ajax({
      url: link_local +
        "/smsbc_student/process/processSMSBroadcast.php?action=uploadFile",
      method: "post",
      data: {
        data: result,
        name: fileName,
      },
      success: function (dt) {},
    });
  }

  function updateFoto(name, id) {
    $.ajax({
      url: link_local +
        "/smsbc_student/process/processSMSBroadcast.php?action=updateFile",
      data: {
        id: id,
        name: name,
      },
      method: "post",
      success: function (data) {},
    });
  }

  function delBroadcast(id) {
    // alert(id);
    $.ajax({
      url: link_local +
        "/smsbc_student/process/processSMSBroadcast.php?action=delete&id=" +
        id,
      method: "get",
      dataType: "json",
      success: function (ar) {
        console.log("msg", ar);
        if (ar.success) {
          swal({
            title: "Success",
            text: ar.msg,
            type: "success",
            showCancelButton: true,
            allowOutsideClick: false,
          });
          // $(".konten").load("mainmenu/smscontent.html");
          $(".content-wrapper").load("mainmenustudent/mainmenustudent.html");
        } else {
          showErrorWithNoAction(ar.msg);
        }
      },
      error: function (xhr) {
        $("#loaderNew").remove();

        // console.log(xhr);
        showErrorWithNoAction(
          "Internal server error. Please contact administrator website."
        );
      },
    });
  }

  function terminate(id) {
    swal({
      title: "Alert",
      type: "warning",
      text: "Are you sure Terminate..?",
      showCancelButton: true,
    }).then(function () {
      $.ajax({
        url: localhost +
          "/smsbc_student/process/processSMSBroadcast.php?action=terminate&id=" +
          id,
        method: "get",
        dataType: "json",
        success: function (ar) {
          if (ar.success) {
            swal({
              title: "Success",
              text: ar.msg,
              type: "success",
              showCancelButton: true,
              allowOutsideClick: false,
            });
            // $(".konten").load("mainmenu/smscontent.html");
            $(".content-wrapper").load("mainmenustudent/mainmenustudent.html");
          } else {
            showErrorWithNoAction(ar.msg);
          }
        },
        error: function (xhr) {
          $("#loaderNew").remove();

          // console.log(xhr);
          showErrorWithNoAction(
            "Internal server error. Please contact administrator website."
          );
        },
      });
    });
  }

  function zeroPadded(val) {
    if (val >= 10) return val;
    else return "0" + val;
  }

  function cektype() {
    var a = $("#schedule_type").val();
    var d = new Date();
    var dateTime =
      d.getFullYear() +
      "-" +
      zeroPadded(d.getMonth() + 1) +
      "-" +
      zeroPadded(d.getDate()) +
      "T" +
      zeroPadded(d.getHours()) +
      ":" +
      zeroPadded(d.getMinutes() + 20);

    if (a == "I") {
      $("#schedule")
        .attr({
          hidden: true,
          required: false,
        })
        .val(dateTime);
    } else {
      $("#schedule").attr({
        hidden: false,
        required: true,
      });
    }
  }

  function checkSendTo() {
    var check = $("#send_to").val();
    if (check == "ALL-*" || check == "AUTO") {
      $("#file_upload").attr("disabled", true);
    } else {
      $("#file_upload").attr("disabled", false);
    }
  }

  function detail_bro(id) {
    //alert(content);
    console.log(id);
    $.ajax({
      url: link_local +
        "/smsbc_student/process/processSMSBroadcast.php?action=getBroadcast&id=" +
        id,
      method: "get",
      dataType: "json",
      success: function (ar) {
        console.log("msg", ar);
        data = ar.data;
        if (ar.success) {
          // $("#d_sender").text(ar.data[0].);
          // $("#d_sendTo").text(ar.data[0].type == "ALL-*" ? "All" : "Manual");
          $("#d_sendTo").text(cekStatusSendTo(ar.data[0].type));
          $("#d_smsContent").text(ar.data[0].name);
          $("#d_msgTetun").text(ar.data[0].message);
          // $("#d_msgEnglish").text(ar.data[0].english);
          // $("#d_msgBahasa").text(ar.data[0].bahasa);
          $("#d_priority").text(ar.data[0].priority);
          $("#d_smsSm").text(ar.data[0].sms_sm);
          $("#d_smsDr").text(ar.data[0].sms_dr);
          $("#d_smsUnd").text(ar.data[0].sms_undelivery);
          $("#d_submitSt").text(ar.data[0].submit_staring);
          $("#d_submitEn").text(ar.data[0].submit_done);
          $("#d_status").text(status(ar.data[0].status));
          $("#d_timeWindow").text(ar.data[0].time_window);
          $("#d_scheTipe").text(
            ar.data[0].schedule_type == "C" ? "Schedule" : "Send Now"
          );
          $("#d_sche").text(ar.data[0].schedule);
          // $("#d_upload").text(ar.data[0].file);
          $("#d_creBy").text(ar.data[0].created_by);
          $("#d_creDt").text(ar.data[0].created_date);
        } else {
          showErrorWithNoAction(ar.msg);
        }
      },
      error: function (xhr) {
        $("#loaderNew").remove();

        // console.log(xhr);
        showErrorWithNoAction(
          "Internal server error. Please contact administrator website."
        );
      },
    });
  }

  function cekStatusSendTo(status) {
    switch (status) {
      case "U":
        return "ALL";
        break;
      case "F":
        return "Fakultas";
        break;

      case "J":
        return "Department";
        break;

      case "N":
        return "Nre";
        break;
    }
  }

  function status(status) {
    switch (status) {
      case "P":
        return "Pending";
        break;
      case "A":
        return "Approvel";
        break;

      case "S":
        return "Send";
        break;

      case "D":
        return "Done";
        break;
      case "E":
        return "Error";
        break;
      case "R":
        return "Running";
        break;
      case "T":
        return "Terminate";
        break;
    }
  }

  function getFakultas(univ = "", fakultas = "") {
    $.ajax({
      type: "GET",
      url: link_local +
        "/smsbc_student/process/processLogin.php?f=getFaculty&iduniv=" +
        univ,
      dataType: "JSON",
      success: function (response) {
        $("#fakultas").append(`
            <option value='X'>All</option>
            `);

        response.data.forEach((index) => {
          if (index.idfaculty == fakultas) {
            $("#fakultas").append(`
              <option id='${index.idfaculty}' value='${index.idfaculty}' selected>${index.name}</option>
              `);
          } else {
            $("#fakultas").append(`
              <option id='${index.idfaculty}' value='${index.idfaculty}'>${index.name}</option>
              `);
          }
          // console.log('kelas');
        });
      },
    });
  }

  function getJurusan(univ, fakultas, jurusan) {
    let test = $("select[name=selectdata]").val();

    if (test == "Faculty") {
      console.log("ini selected faculty");
      $("#jurusan").empty();
    } else {
      console.log("bukan selected faculty");

      $("#jurusan").empty();
      $.ajax({
        type: "GET",
        url: link_local +
          "/smsbc_student/process/processLogin.php?f=getJurusan&iduniv=" +
          univ +
          "&id=" +
          fakultas,
        dataType: "JSON",
        success: function (response) {
          $("#jurusan").append(`
            <option id='X' value='X'>All</option>
            `);
          response.data.forEach((index) => {
            if (index.jurusan == jurusan) {
              $("#jurusan").append(`
                <option id='${index.jurusan}' value='${index.jurusan}' selected>${index.jurusan}</option>
                `);
            } else {
              $("#jurusan").append(`
                <option id='${index.jurusan}' value='${index.jurusan}'>${index.jurusan}</option>
                `);
            }
          });
        },
      });
    }
  }

  // check select per fakultas
</script>