<div class="row">
    <div class="col-md-12"></div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">
            <label class="pull-right" style="float:right;">
              <button
                id="btnAdd"
                class="btn btn-outline-primary btn-fw"
                data-toggle="modal" data-target="#myModalAdd"
              >
                <i class="mdi mdi-plus"></i> Add New User
              </button>
            </label>
            List of User
          </h4>
  
          <div class="table-responsive" style="width: 100%">
            <table class="dataTable table table-hovered" id="dataTable">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Sender Name</th>
                  <th>Username</th>
                  <th>University</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody id="bodyTable"></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="myModalAdd" role="dialog">
    <div class="modal-dialog" style="max-width: 500px;">
      <!-- Modal content-->
      <!-- Modal content-->
      <div class="modal-content">
        <form method="post" id="form_add">
          <div class="modal-header">
            <h4 class="modal-title">Add New User</h4>
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>
          <div class="modal-body">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Form Add New User</h4>
                  <hr />
                  <div class="table-responsive" style="margin-bottom:20px;">
                    <table id="tblProduct" class="table table-bordered">
                      <tbody id="rowBody">
                        <tr>
                          <td width="30%">
                            University
                          </td>
                          <td>
                            <select
                              class="select2 select2-multiple"
                              id="univ"
                              name="univ"
                              style="width: 200px;"
                              
                            >
                              <option value="">- Choose University -</option>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td width="30%">
                            Sender Name
                          </td>
                          <td>
                            <input
                              type="text"
                              class="form-control senderMask"
                              name="name"
                              id="name"
                              required
                            />
                          </td>
                        </tr>
                        <tr>
                          <td width="30%">
                            Username
                          </td>
                          <td>
                            <input
                              type="text"
                              class="form-control senderMask"
                              name="username"
                              id="username"
                              required
                            />
                          </td>
                        </tr>
                        <tr>
                          <td width="30%">
                            Password
                          </td>
                          <td>
                            <input
                              type="password"
                              class="form-control senderMask"
                              name="password"
                              id="password"
                              required
                            />
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <hr />
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div>
              <button type="submit" class="btn btn-outline-success btn-fw">
                <i class="mdi mdi-send"></i>Submit
              </button>
              <button type="button" class="btn btn-outline-danger btn-fw"  data-dismiss="modal">
                <i class="mdi mdi-cancel"></i>Cancel
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="myModalEdit" role="dialog">
    <div class="modal-dialog" style="max-width: 500px;">
      <!-- Modal content-->
      <!-- Modal content-->
      <div class="modal-content">
        <form method="post" id="form_edit">
          <div class="modal-header">
            <h4 class="modal-title">Edit User</h4>
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>
          <div class="modal-body">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Form Edit User</h4>
                  <hr />
                  <div class="table-responsive" style="margin-bottom:20px;">
                    <table id="tblProduct" class="table table-bordered">
                      <tbody id="rowBody">
                        <tr>
                          <td width="30%">
                            Old University
                          </td>
                          <td>
                            <input
                              type="text"
                              class="form-control senderMask"
                              name="e_olduniv"
                              id="e_olduniv"
                              readonly
                            />
                            <input
                              type="hidden"
                              class="form-control senderMask"
                              name="e_oldunivid"
                              id="e_oldunivid"
                              required
                            />
                          </td>
                        </tr>
                        <tr>
                          <td width="30%">
                            New University
                          </td>
                          <td>
                            <select
                              class="select2 select2-multiple"
                              id="e_univ"
                              name="e_univ"
                              style="width: 200px;"
                              
                            >
                              <option value="">- Choose University -</option>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td width="30%">
                            Sender Name
                          </td>
                          <td>
                            <input
                              type="text"
                              class="form-control senderMask"
                              name="e_name"
                              id="e_name"
                              required
                            />
                            <input
                              type="hidden"
                              class="form-control senderMask"
                              name="id"
                              id="id"
                              required
                            />
                          </td>
                        </tr>
                        <tr>
                          <td width="30%">
                            Username
                          </td>
                          <td>
                            <input
                              type="text"
                              class="form-control senderMask"
                              name="e_username"
                              id="e_username"
                              required
                            />
                          </td>
                        </tr>
                        <tr>
                          <td width="30%">
                            Password
                          </td>
                          <td>
                            <input
                              type="password"
                              class="form-control senderMask"
                              name="e_password"
                              id="e_password"
                              required
                            />
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <hr />
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div>
              <button type="submit" class="btn btn-outline-success btn-fw">
                <i class="mdi mdi-send"></i>Submit
              </button>
              <button type="button" class="btn btn-outline-danger btn-fw"  data-dismiss="modal">
                <i class="mdi mdi-cancel"></i>Cancel
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <style>
    #dataExclude{
      margin: 0 auto;
      width: 700px;
      word-wrap:break-word;
    }
  </style>
  
  <script type="text/javascript">
    $(document).ready(function() {
      console.log("terload");
      // var link_local = 'http://'+window.location.hostname+":8080/";
  
      // console.log('IP',link_local);
      // runPages();
      DataTable();
      $("#form_add").submit(function() {
        save_user();
        return false;
      });
      $("#form_edit").submit(function() {
        save_edit();
        return false;
      });


      $("#univ").select2({
        // minimumInputLength: 2,
        allowClear: true,
        placeholder: "insert name university",
        ajax: {
          dataType: "json",
          url:
            link_local+"/smsbc_student/process/processLogin.php?f=getUniv",
          delay: 800,
          data: function(params) {
            return {
              search: params.term
            };
          },
          processResults: function(data, page) {
            return {
              results: data
            };
          }
        }
      });


      $("#e_univ").select2({
        // minimumInputLength: 2,
        allowClear: true,
        placeholder: "insert name university",
        ajax: {
          dataType: "json",
          url:
            link_local+"/smsbc_student/process/processLogin.php?f=getUniv",
          delay: 800,
          data: function(params) {
            return {
              search: params.term
            };
          },
          processResults: function(data, page) {
            return {
              results: data
            };
          }
        }
      });
    });
  
    // function newSMSContent() {
    //   var url = "mainmenu/action/addExclude.html",
    //     modul = "SMS Content",
    //     title = "New SMS Content";
  
    //   callPage(url);
    // }
  
    function DataTable() {
      $("#dataTable")
        .DataTable()
        .clear()
        .destroy();
  
      $("#dataTable").DataTable({
        processing: true,
        serverSide: true,
        searching: true,
        columns: [
          { data: "No" },
          { data: "Sender Name" },
          { data: "Username" },
          { data: "University" },
          { data: "Action" }
        ],
        columnDefs: [
          {
            // targets: [0, 0],
            orderable: false
          }
        ],
        ajax: {
          url: link_local+"/smsbc_student/process/processLogin.php?f=getUser",
          type: "get",
          dataType: "json"
        }
      });
  
      $(".container-fluid").attr("style", "background:transparent !important;");
    }
  
    function save_user() {
        $.ajax({
          url: link_local+"/smsbc_student/process/processLogin.php?f=AddUser",
          method: 'post',
          data: $("#form_add").serialize(),
          dataType: 'json',
          success:function(ar) {
            console.log("msg",ar);
            if (ar.success) {
              swal({
                title: "Success",
                text: ar.msg,
                type: "success",
                showCancelButton: true,
                allowOutsideClick: false
              }).then(function() {
                $(".content-wrapper").load("mainmenustudent/user.html");
              });
              $("#myModalAdd").modal("hide");
            }else{
              showErrorWithNoAction(ar.msg)
            }
          },
          error:function(xhr) {
            $("#loaderNew").remove();
            
            // console.log(xhr);
            showErrorWithNoAction('Internal server error. Please contact administrator website.');
          }
        });
    }

    function edit_user(id) {
        $.ajax({
        url: link_local+"/smsbc_student/process/processLogin.php?f=UserId&id="+id,
        method: 'get',
        dataType: 'json',
        success:function(ar) {
          console.log("msg",ar.data);
          if (ar.success) {
            $('#id').val(ar.data.id);
            $('#e_name').val(ar.data.sender_name);
            $('#e_olduniv').val(ar.data.university);
            $('#e_oldunivid').val(ar.data.id_universitas);
            $('#e_username').val(ar.data.username);
            $('#e_password').val(ar.data.text_password);
          }else{
            showErrorWithNoAction(ar.msg)
          }
        },
        error:function(xhr) {
          $("#loaderNew").remove();
          
          // console.log(xhr);
          showErrorWithNoAction('Internal server error. Please contact administrator website.');
        }
      });
    }

    function save_edit() {
        $.ajax({
          url: link_local+"/smsbc_student/process/processLogin.php?f=EditUser",
          method: 'post',
          data: $("#form_edit").serialize(),
          dataType: 'json',
          success:function(ar) {
            console.log("msg",ar);
            if (ar.success) {
              swal({
                title: "Success",
                text: ar.msg,
                type: "success",
                showCancelButton: true,
                allowOutsideClick: false
              }).then(function() {
                $(".content-wrapper").load("mainmenustudent/user.html");
              });
              $("#myModalEdit").modal("hide");
            }else{
              showErrorWithNoAction(ar.msg)
            }
          },
          error:function(xhr) {
            $("#loaderNew").remove();
            
            // console.log(xhr);
            showErrorWithNoAction('Internal server error. Please contact administrator website.');
          }
        });
    }
  
    function delete_user(id) {
        $.ajax({
          url: link_local+"/smsbc_student/process/processLogin.php?f=DeleteUser&id="+id,
          method: 'get',
          dataType: 'json',
          success:function(ar) {
            console.log("msg",ar);
            if (ar.success) {
              swal({
                title: "Success",
                text: ar.msg,
                type: "success",
                showCancelButton: true,
                allowOutsideClick: false
              }).then(function() {
                $(".content-wrapper").load("mainmenustudent/user.html");
              });
              $("#myModal").modal("hide");
              $("#myModalAdd").modal("hide");
            }else{
              showErrorWithNoAction(ar.msg)
            }
          },
          error:function(xhr) {
            $("#loaderNew").remove();
            
            // console.log(xhr);
            showErrorWithNoAction('Internal server error. Please contact administrator website.');
          }
        });
    }
  </script>
  