<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Form Add Nre Specific Number</h4>
       <form id="submit" enctype="multipart/form-data" method="POST">
          <div class="wells" style="background: #eaeaea;padding:20px;border-radius: 3px;">
            <table style="font-size: 12px">
              <tbody><tr>
                <td>Date</td>
                <td width="20px">:</td>
                <td id="dateNow">12, Mar 2020</td>
              </tr>
              <tr>
                <td>Requester</td>
                <td width="20px">:</td>
                <td id="requester">PT.STS</td>
              </tr>
              <tr id="rejectSection" style="display:none;">
                <td>Reject Reason</td>
                <td width="20px">:</td>
                <td id="rejectReason"></td>
              </tr>
            </tbody></table>
          </div>
        <a href="../msisdn.xlsx" class="btn btn-success mt-2">Donwload Template MSISDN</a>


          <hr>


          <div class="table-responsive" style="margin-bottom:20px;">
            <table id="tblProduct" class="table table-bordered">
              <tbody id="rowBody">
                <tr>
                  <td width="30%">
                    Code NRE
                  </td>
                  <td>
                    <input type="text" class="form-control" name="namepesifik" id="namepesifik" required="">
                  </td>
                </tr>

                <tr>
                  <td>
                    Description
                  </td>
                  <td>
                    <textarea class="form-control" name="description" id="description" maxlength="160" required=""></textarea>
                  </td>
                </tr>

                <tr id="tr_upload">
                  <td>
                    File Upload
                  </td>
                  <td>
                    <!-- <input type="file" name="file_upload" class="form-control" id="file_upload" onchange="readExcel()"> -->
                       <input type="file" name="file" id="file" class="form-control">

                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <hr>
          <div>
            <button type="submit" id="simpan" class="btn btn-outline-success btn-fw">
              <i class="mdi mdi-send"></i>Submit
            </button>
            <button type="reset" class="btn btn-outline-danger btn-fw">
              <i class="mdi mdi-cancel"></i>Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>




<script>

// var link_local = "http://localhost/testing";

 $(document).ready(function () {
   

            $('#submit').submit(function (e) {
               
                e.preventDefault();
                $.ajax({
                    url: link_local + '/getbroadcastsms/index.php/Import/importBack?created_by='+localStorage.getItem('username'),
                    type: "post",
                    data: new FormData(this),
                    processData: false,
                    contentType: false,
                    cache: false,
                    async: false,
                    dataType: "JSON",
                    beforeSend: function () {

                        // alert("hello gaes");

                        $("#proses")
                            .show()
                            .html("<img src='loading.gif' height='100px' width='100px'>");
                        $("#proses").show();


                    },
                    success: function (data) {
                        $("#proses").show(2000).html("<img src='loading.gif' height='100'>");

                        console.log("ini data import" +data);
                        if (data.success) {

                            let timerInterval
                            Swal.fire({
                                title: '',
                                html: 'Loading..',
                                timer: 3000,
                                onBeforeOpen: () => {
                                    Swal.showLoading()
                                    timerInterval = setInterval(() => {
                                        // Swal.getContent().querySelector('strong')
                                        //     .textContent = Swal.getTimerLeft()
                                    }, 100)
                                },
                                onClose: () => {
                                    Swal.fire(
                                        'Success!'
                                        'Import Data Success!',
                                        'success'
                                    )
                                }
                            }).then((result) => {
                                if (
                                    result.dismiss === Swal.DismissReason.timer
                                ) {

                                }
                            });
                            getData();
                            // $("#proses").hide();
                        } else {
                            Swal.fire({
                                position: 'center',
                                type: 'error',
                                title: 'Error Import Data',
                                customClass: {
                                    popup: 'animated tada'
                                },
                                animation: false,
                                html: '<div style="font-size:16px;">' + data.msg + '</div>',
                                showConfirmButton: false,
                                timer: 4000
                            })
                        }
                        $('input[name=file]').val('');
                        $('#modalFormExcel').modal('hide');
                    }
                });

                return false;
            });

        });






</script>