<!-- <div class="row">
  <div style="margin-top: 5%" class="col-md-12 grid-margin">
    <center>
      <h3>SMS Broadcast Telkomcel</h3>
      <br>
      <img src="./../images/telkomcel.png" width="150px" alt="">
    </center>
  </div>
</div> -->

<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
  </div>

  <!-- Content Row -->
  <div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                Campaign Pending
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800" id="pending">
                0
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                Campaign Running
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800" id="running">
                0
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-comments fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                Campaign Terminate
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800" id="terminate">0</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
              Campaign Done
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800" id="done">0</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-success text-uppercase mb-1"
              >
                Submit
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800" id="submit">
                0
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-comments fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-success text-uppercase mb-1"
              >
                Delivered SMS
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800" id="delivered">
                0
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-warning text-uppercase mb-1"
              >
                Undelivered SMS
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800" id="undelivered">0</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4" style="display: none;">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-primary text-uppercase mb-1"
              >
                Message In Queue
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800" id="messque">0</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <figure class="highcharts-figure">
      <div id="container"></div>
      <p class="highcharts-description">
        Chart showing stacked columns for comparing quantities. Stacked charts
        are often used to visualize data that accumulates to a sum. This chart
        is showing data labels for each individual section of the stack.
      </p>
    </figure> -->
    <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <!-- <div class="dropdown pull-right" style="float: right;">
              <button
                id="btnAdd"
                class="btn btn-outline-primary btn-fw"
                onclick="newBroadcast()"
              >
                <i class="mdi mdi-plus"></i>Create Broadcast
              </button>
            </div> -->
            <h4 class="card-title">
              List of SMS Broadcast Running
            </h4>
    
            <div class="table-responsive">
              <table class="dataTable table table-hovered" id="dataTable">
                <thead>
                  <tr>
                    <th>No</th>
                    <th>Sender</th>
                    <th>Content</th>
                    <th>Schedule</th>
                    <th>Total SMS</th>
                    <th>Submit SMS</th>
                    <!-- <th>Message In Queue</th> -->
                    <!-- <th>Delivered SMS</th>
                    <th>Undelivered SMS</th>
                    <th>Estimated Time</th>
                    <th>Status</th>
                    <th>Windows Time</th>
                    <th>Action</th> -->
    
                    <!-- <th>Created Date</th> -->
                    <!-- <th style="width: 120px;">Check</th> -->
                  </tr>
                </thead>
                <tbody id="bodyTable"></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<!-- <script src="../js/dashboard.js"></script>
<script src="../js/chart.js"></script>
<script src="../js/off-canvas.js"></script>
<script src="../js/misc.js"></script> -->

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->

<script src="../js/getRedis.js"></script>

<script>
$(document).ready(function() {
    //runPages();
    DataTable();

    // $("#form").submit(function() {
    //   save_sms();
    //   return false;
    // });

    // if (localStorage["jabatan"] == 3 || localStorage["jabatan"] == 4) {
    //   $("#btnAdd").hide();
    // }
    // $("#sms_content").select2({
    //   // minimumInputLength: 2,
    //   allowClear: true,
    //   placeholder: "- Choose SMS Content -",
    //   ajax: {
    //     dataType: "json",
    //     url:
    //       "http://localhost/smsbc/process/processSMSContent.php?action=getdata",
    //     delay: 800,
    //     data: function(params) {
    //       return {
    //         search: params.term
    //       };
    //     },
    //     processResults: function(data, page) {
    //       return {
    //         results: data
    //       };
    //     }
    //   }
    // });
  });
function DataTable() {
    $("#dataTable")
      .DataTable()
      .clear()
      .destroy();

    $("#dataTable").DataTable({
      processing: true,
      serverSide: true,
      searching: true,
      columns: [
        { data: "No" },
        { data: "Sender" },
        { data: "Content" },
        { data: "Schedule" },
        { data: "Total SMS" },
        { data: "Submit SMS" },
        // { data: "Message In Queue" },
        // { data: "Delivered SMS" },
        // { data: "Undelivered SMS" },
        // { data: "Estimated SMS" },
        // { data: "Status" },
        // { data: "Windows Time" },
        // { data: "Action" }
        
      ],
      columnDefs: [
        {
          targets: [0, 0],
          orderable: false
        }
      ],
      ajax: {
        url: link_local+"/smsbc_student/process/getSMSBroadcastRun.php",
        type: "get",
        dataType: "json"
      }
    });

    $(".container-fluid").attr("style", "background:transparent !important;");
  }
</script>

