<div class="col-6" style="margin: 5% auto;">
<div class="card-box">
	<div class="panel-heading">
		<center>
			<h1><strong class="text-danger">SMS Broadcast</strong></h1>
			<span style="text-align: center; font-size:20px;"> <small><b>Reset Your Password First</b></small></span>
		</center>
	</div>

	<form method="post" action="javascript:void(0)" id="frmReset">
		<div class="p-20">

			<div class="form-group ">
				<div class="col-12">
					<input class="form-control" id="passwordnew" type="text" required placeholder="New Password" name="passwordnew">
				</div>
			</div>

			<div class="form-group">
				<div class="col-12">
					<input class="form-control" id="retypePassword" type="retypePassword" required placeholder="Retype New Password" name="retypepassword">
				</div>
			</div>
			<div class="form-group text-center m-t-20">
				<div class="col-12">
					<button id="submit-form" class="btn btn-danger btn-block text-uppercase waves-effect waves-light">Submit
					</button>
				</div>
			</div>

		</div>
	</form>
</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$("form").submit(function() {
			alert('Login');
			// $.ajax({
			// 	url: api_url + 'Auth/resetPassword',
			// 	dataType: 'json',
			// 	type: 'post',
			// 	data: {id:localStorage['id'],newpass:$("#passwordnew").val(),repass:$("#retypePassword").val()},
			// 	success: function (data) {
			// 		if (data.isError) {
			// 			returnErrorMessage(data.msg);
			// 		}else{
			// 			if (data.success) {
			// 				localStorage.removeItem('firstLog');
			// 				returnSuccessMessage(data.msg);
			// 				setTimeout(function() {
			// 					window.location.href = '../pages/';
			// 				},1000);
			// 			}else{
			// 				returnErrorMessage(data.msg);

			// 			}
			// 		}
			// 	}
			// });
		})
	})
</script>