<div class="row">
    <div class="col-md-12"></div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">
            <label class="pull-right" style="float:right;">
            </label>
            Report SMS
          </h4>
  
          <div class="table-responsive" style="width: 100%">
            <table class="dataTable table table-hovered" id="dataTable">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Sender</th>
                  <th>MSISDN</th>
                  <th>Submit Date</th>
                  <th>Delivery Date</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody id="bodyTable"></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script type="text/javascript">
    $(document).ready(function() {
      console.log("terload")
      // runPages();
      DataTable();
  
      if (localStorage["jabatan"] == 3 || localStorage["jabatan"] == 4) {
        $("#btnAdd").hide();
      }
    });
  
    function DataTable() {
      $("#dataTable")
        .DataTable()
        .clear()
        .destroy();
  
      $("#dataTable").DataTable({
        processing: true,
        serverSide: true,
        searching: true,
        columns: [
          { data: "No" },
          { data: "Sender" },
          { data: "MSISDN" },
          { data: "Submit Date" },
          { data: "Delivery Date" },
          { data: "Status" },
        ],
        columnDefs: [
          {
            targets: [0, 0],
            orderable: false
          }
        ],
        ajax: {
          url: link_local+"/smsbc_student/process/getCDR.php",
          type: "post",
          dataType: "json"
        }
      });
  
      $(".container-fluid").attr("style", "background:transparent !important;");
    }
  </script>
  