<style>
  table tr td,table tr th,table tr td input,table tr select{
    font-size: 10px !important;
  }
</style>


<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Form Add Purchase Order</h4>
        <form method="post" action="javascript:void(0)">
          <div
            class="wells"
            style="background: #eaeaea;padding:20px;border-radius: 3px;"
          >
            <table style="font-size: 12px">
              <tr>
                <td>Date</td>
                <td width="20px">:</td>
                <td id="dateNow">2018-02-14</td>
              </tr>
              <tr>
                <td>Requester</td>
                <td width="20px">:</td>
                <td id="requester">MUCO MUCO</td>
              </tr>
            </table>
          </div>

          <hr />

          <p class="pull-right" style="float: right;">
            <!-- <button class="btn btn-primary"><i class="fa fa-plus-circle"></i></button> -->
            <button
              type="button"
              id="btn-add-row"
              class="btn btn-outline-danger btn-fw"
            >
              <i class="mdi mdi-table-row-plus-after"></i>Add new row
            </button>
          </p>

          <div class="table-responsive" style="margin-bottom:20px;">
            <table style="font-size:10px !important" id="tblProduct" class="table table-bordered">
              <thead>
                <th width="30px">No</th>
                <th>PO Number</th>
                <th>Product</th>
                <th width="115px">Qty</th>
                <th width="50px">Unit Price</th>
                <th>Total Price</th>
                <th width="120px">Pay</th>
                <th width="120px">Disc</th>
                <th width="80px">Calc</th>
                <th width="50px"></th>
              </thead>
              <tbody id="rowBody">
                <tr id="row0">
                  <td>1</td>
                  <td>
                    <select
                      name="purchaseid"
                      id="po"
                      class="form-control"
                      onchange="gantiProduct(this,0)"
                    ></select>
                    <!-- <input type="hidden" name="unit_price" id="quantityFirst" /> -->
                  </td>
                  <td>
                    <select
                      name="product"
                      id="product"
                      class="form-control"
                      onchange="gantiSelect(this,0)"
                      >test</select
                    >
                  </td>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      id="quantity0"
                      name="quantity"
                      readonly
                    />
                  </td>
                  <td width="50px">
                    <input
                      class="form-control"
                      type="text"
                      id="unitPrice"
                      name="unit_price"
                      readonly
                    />
                  </td>
                  <td width="50px">
                    <input class="form-control" type="text" id="totalPrice0" name="totalPrice" readonly />
                  </td>
                  <td>
                    <input
                      class="form-control"
                      type="number"
                      step="any"
                      class="two-decimals"
                      placeholder="Input Pay"
                      name="pay"
                      id="pay"
                      disabled
                      onchange="hitungorder('row0','0')"
                    />
                    <input type="hidden" name="" value="" />
                  </td>
                  <td>
                    <input type="number" name="discount" id="discount0" min="0" step="0.5" max="100" disabled onchange="calculation('row0','0')" class="form-control">
                    <input type='hidden' name='calc'>
                  </td>
                  <td id="calc">
                  </td>
                  <td>&nbsp;</td>
                </tr>
              </tbody>
            </table>

            <hr>
            <div class="form-group">
              <label for="note">Attachment File</label>
              <input type="file" required class="form-control" name="attach_transfer" id="attach_transfer">
            </div>
            <input type="hidden" name="iduser" id="iduser" />
          </div>


          <hr />

          <div>
            <button type="submit" class="btn btn-outline-success btn-fw">
              <i class="mdi mdi-send"></i>Submit
            </button>
            <button
              type="reset"
              onclick="cancelTransaction('payment/payment_management.html','Payment')"
              class="btn btn-outline-info btn-fw"
            >
              <i class="mdi mdi-cancel"></i>Cancel
            </button>
          </div>
          
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var paymentcode = "kosong";

  $(document).ready(function() {
    var date = datePHPJS("d, M Y", new Date());
    $("#dateNow").html(date);
    $("#requester").html(localStorage['name']);
    $("#iduser").val(localStorage["id"]);
    $("button[type='submit']").attr('disabled',true);
    loadDataPo();
    $(".two-decimals").change(function () {
      this.value = parseFloat(this.value).toFixed(2);
    });
    //     loadDataProducts();
    //     gantiProduct();

    var scntDiv = $("#rowBody"),
      data = 0;

    $("#btn-add-row").click(function() {
      var number = $("#rowBody tr").length + 1;
      data += 1;

      scntDiv.append(
        '<tr id="row' +
          data +
          '">' +
          "<td>" +
          number +
          "</td>" +
          "<td>" +
          '<select required="" name="purchaseid" id="rowId' +
          data +
          '" onchange="gantiProductDua(\'rowId' +
          data +
          "','rowProduct" +
          data +
          '\','+data+')" name="product" class="selectProduct form-control"><option value="">None</option>' +
          "</select>" +
          "</td>" +
          "<td>" +
          '<select required="" id="rowProduct' +
          data +
          '" onchange="gantiSelectDua(\'rowProduct' +
          data +
          "','" +
          data +
          '\')"  id="product" name="product" class="selectProduct form-control"><option value="">select</option>' +
          "</select>" +
          "</td>" +
          "<td>" +
          '<input type="number" class="form-control input-sm" min="0" class="form-control" readonly name="quantity" id="qty' +
          data +
          '" value="0">' +
          "</td>" +
          "<td>" +
          '<input type="number" class="form-control input-sm" min="0" class="form-control" readonly name="unit_price" id="unitprice' +
          data +
          '" value="0">' +
          "</td>" +
          "<td>" +
          '<input type="number" class="form-control input-sm" min="0" class="form-control" readonly name="totalPrice" id="totalPrice' +
          data +
          '" value="0">' +
          "</td>" +
          "<td>" +
          '<input type="number" class="form-control input-sm" disabled min="0" step="any" class="two-decimals" class="form-control" name="pay" id="pay" value="0" onchange="hitungorder(\'row'+data+'\',\'' + data +'\')">' +
          "</td>" +
          "<td>" +
          '<input type="number" class="form-control input-sm" step="0.5" max="100" min="0" class="form-control" onchange="calculation(\'row'+data+'\',\''+data+'\')" disabled name="discount" id="discount' +
          data +
          '" value="0"><input type="hidden" name="calc">' +
          "</td>" +
          "<td id='calc'></td>"+
          "<td>" +
          "<center>" +
          '<a class="btn btn-danger btn-sm" href="javascript:void(0)" onclick="removeRow(\'row' +
          data +
          "')\">" +
          '<i class="mdi mdi-close"></i>' +
          "</a>" +
          "</center>" +
          "</td>" +
          "</tr>"
      );
      getProductData("rowId" + data);
      data++;
      return false;
    });

    $("form").submit(function(e) {
      e.preventDefault();
      var formDATA = new Array();
      var checkRange = true, checkDecimal = true;
      $("#tblProduct tr").each(function(k) {
        var obj = {};
        $(this).find("input,textarea,select").each(function(i) {
            obj[$(this)[0].name] = $(this)[0].value;
        });
        var inputPay = $("#row"+k).find('td').find('input#pay'),
            totalOrder = $("#row" + k).find('td#quantity').text(),
            inputCalc = $("#row"+k).find("td#calc").text(),
            inputUnitPrice =  $("#row" + k).find('td').find('input[name="unit_price"]').val(),
            inputTotalPrice =  $("#row" + k).find('td').find('input[name="totalPrice"]').val(),
            inputQty =  $("#row" + k).find('td').find('input[name="quantity"]').val(),
            calcQty = (parseFloat(inputCalc) / parseFloat(inputUnitPrice));
        if (parseFloat(inputPay.val()).toFixed(2) > parseFloat(inputTotalPrice)) {
          showErrorWithNoAction("Oops, Payment must not exceed the total order.");
          inputPay.focus();
          
          checkRange = false;
        } else {
          checkRange = true;
        }
        debugger;

        if(parseFloat(calcQty)<=parseFloat(inputQty)){
          if(hasDecimal(parseFloat(calcQty))){
            showErrorWithNoAction("Oops, Calculation cannot decimal places.");
            checkDecimal = false;
          }else{
            checkDecimal = true;
          }
        }
        debugger;

        formDATA.push(obj);
      });
      formDATA.splice(0, 1);
      if (formDATA[0].quantity == "0") {
        returnErrorMessage("Quantity cannot be set to 0");
        return false;
      }
      if (checkRange != true) {
        return false;
      }
      if (checkDecimal != true) {
        return false;
      }
      $.ajax({
        url: api_url + "Payment/addPayment",
        method: "post",
        data: {
          iduser: localStorage["id"],
          productdata: JSON.stringify(formDATA)
        },
        dataType: "json",
        success: function(ar) {
          // showNotifSuccess(d)
          if (ar.success) {
            var file;
            file = document.getElementById('attach_transfer').files[0]; //Files[0] = 1st file
            var reader = new FileReader();
						
						if (file!=undefined) {
              paymentcode = ar.code;
							reader.readAsDataURL(file);
							reader.onload = shipOff;
							// var name = datePHPJS('MdHis') + file.name;
              var filetype = file.type,
                  ft = filetype.split("/"),
                  ftextension = ft[1];
              var name = ar.code + "." + ftextension;
							updateFoto(name,ar.idpayment);
							
						}
            
            
            swal({
              title: "Success",
              text: ar.msg,
              type: "success",
              showCancelButton: true,
              confirmButtonColor: "#4fa7f3",
              cancelButtonColor: "#d57171",
              allowOutsideClick: false,
              confirmButtonText: "Back to List Requests",
              cancelButtonText: "Add more Transaction"
            }).then(function() {
              var url = "payment/payment_management.html",
                modul = "payment Product",
                title = "payment Product";
              moveUrl(url, modul, title);
              $("form")[0].reset();
            });
          } else {
            showErrorWithNoAction(ar.msg);
          }
        },
        error: function(xhr) {
          showErrorWithNoAction(
            "Internal server error. Please contact administrator website."
          );
        }
      });
    });
  });

  function shipOff(event) {
      var result = event.target.result;
      // var fileName = datePHPJS('MdHis') + document.getElementById('attach_transfer').files[0].name;
      var filetype = document.getElementById('attach_transfer').files[0].type,
          ft = filetype.split("/"),
          ftextension = ft[1];
      
      var fileName = paymentcode + "." + ftextension;
      $.ajax({
        url: api_url + 'Payment/addPaymentsFoto',
        method: 'post',
        data: { data: result, name: fileName },
        success: function (dt) {
        }
      })
    }
    function updateFoto(name, id) {
      $.ajax({
        url: api_url + 'Payment/updateDataPayments',
        data: { id: id, name: name },
        method: 'post',
        success: function (data) {
        }
      })
    }

  function hitungorder(idtr,data) {
    var idrow = $("#"+idtr);
    var priceTotal = parseFloat(idrow.find('td').find('input[name="totalPrice"]').val()).toFixed(2);
    var val = parseFloat(idrow.find('td').find('input[name="pay"]').val());
    if(val!=0){
      if (val > priceTotal) {
        returnErrorMessage("Your payment exceed the number of orders");
        $("button[type='submit']").attr('disabled', true);
      } else {
        $("button[type='submit']").attr('disabled', false);
      }
    }else{
      returnErrorMessage("Your payment must be highest from zero");
      $("button[type='submit']").attr('disabled', true);
      
    }
    idrowdata = 'row'+data;
    calculation(idrowdata,data);
  }

  function getProductData(rowId) {
    var id = localStorage["id"];
    $.ajax({
      url: api_url + "Payment/getPurchaseDetailPayment?id=" + id,
      type: "get",
      dataType: "json",
      success: function(dt) {
        if (dt.success) {
          for (var i in dt.data) {
            var n = dt.data[i];
            $("#" + rowId).append(
              '<option value="' +
                n.idpurchase_order +
                '">' +
                n.purchase_code +
                "</option>"
            );
          }
        } else {
        }
      }
    });
  }

  //   ini

  function loadDataProducts() {
    var id = localStorage["id"];

    $.ajax({
      url: api_url + "data/getProducts?id=" + id,
      type: "get",
      dataType: "json",
      success: function(data) {
        if (data.success) {
          var dtx = data.data;
          var select = $("#product");
          select.html("");
          select.append('<option value="0">Select products</option>');
          for (x in dtx) {
            var opt =
              "<option value='" +
              dtx[x].idproducts +
              "'>" +
              dtx[x].product_name +
              "</option>";
            select.append(opt);
          }
        }
      }
    });
  }

  function loadDataPo() {
    var id = localStorage["id"];
    $.ajax({
      url: api_url + "Payment/getPurchaseDetailPayment?id=" + id,
      type: "get",
      dataType: "json",
      success: function(data) {
        if (data.success) {
          var dtx = data.data;
          var select = $("#po");
          select.html("");
          select.append('<option value="0">Select PO</option>');
          for (x in dtx) {
            var opt =
              "<option value='" +
              dtx[x].idpurchase_order +
              "'>" +
              dtx[x].purchase_code +
              "</option>";
            select.append(opt);
          }
        }
      }
    });
  }

  function removeRow(id) {
    $("#" + id).remove();
    var number;
    $("#rowBody tr").each(function(i) {
      number = i + 1;
      $(this)
        .find("td:first")
        .text(number);
    });
    return false;
  }
  // x dari this yang di function ganti product
  function gantiProduct(isi,rowid) {
    var id = localStorage["id"];
    $("#discount"+rowid).attr('disabled',false);
    $.ajax({
      url: api_url + "data/getProductsPayment?id=" + isi.value,
      type: "get",
      dataType: "json",
      success: function(data) {
        if (data.success) {
          var dtx = data.data;
          var select = $("#product");
          select.html("");
          select.append('<option value="0">Select products</option>');
          var totPrice = 0;
          for (isi in dtx) {
            var opt =
              "<option value='" +
              dtx[isi].idproducts +
              "'>" +
              dtx[isi].product_name +
              "</option>";
            select.append(opt);
          }
        }
      }
    });
  }
  function gantiProductDua(isi, param2,rowid) {
    var id = $("#" + isi).val();
    $("#discount" + rowid).attr('disabled', false);
    $.ajax({
      url: api_url + "data/getProductsPayment?id=" + id,
      type: "get",
      dataType: "json",
      success: function(data) {
        if (data.success) {
          var dtx = data.data;
          var select = $("#" + param2);
          select.html("");
          select.append('<option value="0">Select products</option>');
          for (isi in dtx) {
            var opt =
              "<option value='" +
              dtx[isi].idproducts +
              "'>" +
              dtx[isi].product_name +
              "</option>";
            select.append(opt);
          }
        }
      }
    });
  }
  function gantiSelect(x, idrow) {
    var id = localStorage["id"];
    var idpo = $("#po").val();
    $("#row" + idrow).find('td').find('input#pay').attr('disabled', false);

    $.ajax({
      url:
        api_url + "payment/selectData?idproducts=" + x.value + "&idpo=" + idpo,
      type: "get",
      dataType: "json",
      success: function(data) {
        if (data.success) {
          var dtx = data.data[0];
          var up = $("#unitPrice");
          var qty = $("#quantity0");
          
          var itemLastCheckpoint = dtx.qty - dtx.item_payed;
          up.val(dtx.unit_price_po);
          qty.val(itemLastCheckpoint);
          var amountTot = itemLastCheckpoint * dtx.unit_price_po;
          
          $("#totalPrice" + idrow).val(amountTot.toFixed(2));
        }
      }
    });
  }
  function gantiSelectDua(x, idrow) {
    var id = $("#" + x).val();
    var idpo = $("#rowId" + idrow).val();
    $("#row" + idrow).find('td').find('input[name="pay"]').attr('disabled', false);

    $.ajax({
      url: api_url + "payment/selectData?idproducts=" + id + "&idpo=" + idpo,
      type: "get",
      dataType: "json",
      success: function(data) {
        if (data.success) {
          var dtx = data.data[0];
          var up = $("#unitprice" + idrow);
          var qty = $("#qty" + idrow);
          var itemLastCheckpoint = dtx.qty - dtx.item_payed;
          up.val(dtx.unit_price_po);
          qty.val(itemLastCheckpoint);
          var amountTot = itemLastCheckpoint * dtx.unit_price_po;
          $("#totalPrice" + idrow).val(amountTot);

        }
      }
    });
  }


  function calculation(idrow,x) {
    var pay = $("#"+idrow).find('td').find('#pay').val(),
        totPrice = $("#"+idrow).find('td').find('#totalPrice'+x).val(),
        diskon = $("#" + idrow).find('td').find('[name="discount"]').val(),
        calc = parseFloat(pay) / (100 - parseFloat(diskon)) * 100;
    if(parseFloat(calc).toFixed(2)>parseFloat(totPrice)){
      returnErrorMessage("Oops, PO Amount cannot exceed total price");
      $("[type='submit']").attr('disabled',true);
      return false;
    }else{
      $("[type='submit']").attr('disabled',false);
    }
    if(diskon==null || diskon==""){
      calc = 0;
    }

    $("#"+idrow).find('td').find('[name="calc"]').val(calc.toFixed(2));
    $("#"+idrow).find('td#calc').text(calc.toFixed(2));
    return true;
  }
</script>
