<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    <label class="pull-right" style="float:right;">
                        <button id="btnAdd" class="btn btn-outline-primary btn-fw" onclick="newPayment()">
                            <i class="mdi mdi-cart-plus"></i> Add Payment
                        </button>
                    </label>
                    List Purchase Payment
                </h4>

                <div class="table-responsive">
                    <table class="dataTable table table-hovered">
                        <thead>
                            <tr>
                                <th>NO</th>
                                <th>Payment Code</th>
                                <th>Payment Date</th>
                                <th>Payment Status</th>
                                <th style="width: 120px;" class="act">Action</th>
                            </tr>
                        </thead>
                        <tbody id="ct"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        runPages();
        getData();


        if (localStorage['jabatan'] != 2) {
            $("#btnAdd").hide();

        }
    });
    function getData() {
        $.ajax({
            url: api_url + "Payment/getPurchasePaymentBillco",
            type: "get",
            dataType: "json",
            success: function (data) {
                // debugger;
                if (data.success) {
                    setTableDataPayment(data.data);
                }
            }
        });
    }
    function setTableDataPayment(d) {
        var i = 1;
        var tbl = $("#ct");
        tbl.html("");
        var buttonFU = "";
        for (ix in d) {
            var ndata = d[ix];
            
            // debugger;
            var htmlTable =
                "<tr>" +
                "<td>" +
                i +
                "</td>" +
                "<td><a onclick=\"openDetail('" +
                ndata.idpayment +
                '\')" href="javascript:void(0)">' +
                ndata.payment_number +
                "</a></td>" +
                "<td>" +
                ndata.created_date +
                "</td>" +
                "<td>" +
                '<label class="badge badge-' +
                ndata.statusClass +
                '">' +
                ndata.statusname +
                "</label>" +
                "</td>" +
                buttonFU +
                "</tr>";
            tbl.append(htmlTable);
            i++;
        }
        runDataTableCustom(2);
    }
    function openDetail(id) {
            var url = "payment/payment_detail.html",
                modul = "Payment Product",
                title = "Payment Product Detail";

            moveUrl(url, modul, title, "", function () {
                $.ajax({
                    url: api_url + "payment/getPaymentDetail?id=" + id,
                    type: "get",
                    dataType: "json",
                    beforeSend: function () { },
                    success: function (data) {
                        if (data.success) {
                            var summaryData = data.summary_data[0];

                            var konten = $("#ctTrx").html();
                            konten = replaceAll(
                                konten,
                                "[PONUMBER]",
                                summaryData.payment_number
                            );
                            konten = replaceAll(
                                konten,
                                "[PAYNUM]",
                                summaryData.payment_number
                            );
                            konten = replaceAll(
                                konten,
                                "[MUNICIPIO]",
                                summaryData.municipio
                            );
                            konten = replaceAll(konten, "[MUCONAME]", summaryData.namaMuco);
                            konten = replaceAll(
                                konten,
                                "[ARCOAPPROVED]",
                                summaryData.namaArco
                            );
                            konten = replaceAll(konten, "[ATTACHRECEIPT]", '<button class="btn btn-sm btn-info" onclick="openModalAttach(\'' + summaryData.attach_transfer + '\')">Open Attachment</button>');
                            konten = replaceAll(konten, "[ARCOAREA]", summaryData.area);
                            konten = replaceAll(konten, "[PSAPPROVED]", summaryData.psname);
                            konten = replaceAll(
                                konten,
                                "[REJECTREASON]",
                                summaryData.reason_reject
                            );
                            konten = replaceAll(
                                konten,
                                "[DATEPURCHASE]",
                                datePHPJS("d, F Y", strtotime(summaryData.created_date))
                            );
                            $("#ctTrx").html(konten);
                            if (
                                localStorage["jabatan"] == "3" &&
                                summaryData.payment_status == "5" || localStorage["jabatan"] == "3" &&
                                summaryData.payment_status == "9"
                            ) {
                                $("#btnApprove")
                                    .attr("style", "")
                                    .data("id", summaryData.idpayment)
                                    .attr("onclick", "followUp('','arco')");
                                $("#btnReject").attr('style', '').data('id', summaryData.idpayment);
                            } else if (
                                localStorage["jabatan"] == "4" &&
                                summaryData.payment_status == "6"
                            ) {
                                $("#btnApprove")
                                    .attr("style", "")
                                    .data("id", summaryData.idpayment)
                                    .attr("onclick", "followUp('','ps')");
                                $("#btnReject").attr('style', '').data('id', summaryData.idpayment).data('by', "ps");
                                $("#approvedArco").attr("style", "");
                            } else if (summaryData.payment_status == 6) {
                                $("#approvedArco").attr("style", "");
                            } else if (summaryData.payment_status == 8) {
                                $("#approvedArco").attr("style", "");
                                $("#approvedPs").attr("style", "");
                            }

                            if (summaryData.payment_status == 7 || summaryData.payment_status == 9) {
                                $("#rowReject").attr("style", "");
                                $("#rejectTitle")
                                    .html("Rejected Payment")
                                    .attr("style", "color:red");
                            }
                            if (data.data.length > 0) {
                                var dataRow = data.data;
                                var tblCt = $("#tblCT");
                                tblCt.html("");
                                var no = 1,
                                    totalQty = 0,
                                    totalAmount = 0;
                                for (var x in dataRow) {
                                    var discprice = dataRow[x].discount / 100 * dataRow[x].total_bayar;
                                    // var payment = dataRow[x].jml_bayar * dataRow[x].unit_price_po;
                                    var payment = dataRow[x].jml_bayar;
                                    var qtyBayar = dataRow[x].jml_qty_after_calc;
                                    var html =
                                        "<tr>" +
                                        "<td>" +
                                        no +
                                        "</td>" +
                                        "<td>" +
                                        dataRow[x].purchase_code +
                                        "</td>" +
                                        "<td>" +
                                        dataRow[x].product_name +
                                        "</td>" +
                                        "<td align='right'>" +
                                        qtyBayar +
                                        "</td>" +
                                        "<td align='right'>" +
                                        dataRow[x].unit_price +
                                        "</td>" +
                                        "<td align='right'>" +
                                        replaceDuitTigaDigit(payment) +
                                        "</td>" +
                                        "<td align='right'>" +
                                        dataRow[x].discount +
                                        "</td>" +
                                        "<td align='right'>" +
                                        replaceDuitTigaDigit(dataRow[x].jml_bayar_after_discount) +
                                        // replaceDuitTigaDigit(dataRow[x].total_bayar) +
                                        "</td>" +
                                        "</tr>";
                                    tblCt.append(html);
                                    if (dataRow[x].idcategory != 3) {
                                        totalQty += parseFloat(dataRow[x].jml_bayar);
                                    }

                                    totalAmount += parseFloat(dataRow[x].jml_bayar_after_discount);
                                    no++;
                                }

                                $("#totalQty").html(replaceDuitTigaDigit(totalQty));
                                $("#totalAmount").html(replaceDuitTigaDigit(totalAmount));
                                // console.log(data.data);
                                // runDataTable()
                            }
                        }
                    }
                });
            });
        }
</script>