<div class="row">
  <div class="col-md-12" id="ctTrx">
    <div class="card">
      <div class="card-body">
        <center>
          <h4 class="card-title" id="rejectTitle">Payment Product</h4>
        </center>

        <div class="wells">
          <div class="row">
            <div class="col-md-12">
              <table style="font-size: 13px">
                <tr>
                  <td width="150px">Payment Number</td>
                  <td width="50px">:</td>
                  <td>[PAYNUM]</td>
                </tr>
                <tr>
                  <td width="150px">Payment</td>
                  <td width="50px">:</td>
                  <td>Consignment</td>
                </tr>
                <tr>
                  <td width="150px">TO</td>
                  <td width="50px">:</td>
                  <td>PERSONAL SALES</td>
                </tr>
                <tr>
                  <td width="150px">Municipio</td>
                  <td width="50px">:</td>
                  <td>[MUNICIPIO]</td>
                </tr>
                <tr>
                  <td width="150px">MUCO</td>
                  <td width="50px">:</td>
                  <td>[MUCONAME]</td>
                </tr>
                <tr>
                  <td width="150px">Attention</td>
                  <td width="50px">:</td>
                  <td>Finance</td>
                </tr>
                <tr>
                  <td>Date</td>
                  <td width="50px">:</td>
                  <td>[DATEPURCHASE]</td>
                </tr>
                <tr>
                  <td>Attachment File</td>
                  <td width="50px">:</td>
                  <td>[ATTACHRECEIPT]</td>
                  <td>[ATTACHRECEIPTDOWNLOAD]</td>
                </tr>
                <tr id="rowReject" style="display:none;">
                  <td>Rejected Reason</td>
                  <td width="50px">:</td>
                  <td style="color:red">[REJECTREASON]</td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <hr />

        <div class="table-responsive">
          <table class="dataTable table">
            <thead>
              <th>No</th>
              <th>PO ID</th>
              <th>Product</th>
              <th>QTY</th>
              <th>Unit Price</th>
              <th>Payment (USD)</th>
              <th>Discount (%)</th>
              <th>PO Amount (USD)</th>
            </thead>
            <tbody id="tblCT"></tbody>
            <tfoot>
              <td colspan="5">&nbsp;</td>
              <td id="totalQty" align="right"></td>
              <td colspan="1">&nbsp;</td>
              <td id="totalAmount" align="right"></td>
            </tfoot>
          </table>
        </div>

        <hr />

        <div class="wells" style="margin-top: 50px;">
          <div class="row" align="center">
            <div class="col-md-4">
              <p>Created By</p>
              <p>Muco [MUNICIPIO]</p>
              <p><img src="../images/logosmall.png" /></p>
              <p>[MUCONAME]</p>
            </div>
            <div style="display:none" id="approvedArco" class="col-md-4">
              <p>Approve By</p>
              <p>Arco [ARCOAREA]</p>
              <p><img src="../images/logosmall.png" /></p>
              <p>[ARCOAPPROVED]</p>
            </div>
            <div style="display:none" id="approvedPs" class="col-md-4">
              <p>Approve By</p>
              <p>PS Support</p>
              <p><img src="../images/logosmall.png" /></p>
              <p>[PSAPPROVED]</p>
            </div>
          </div>
        </div>

        <div
          align="center"
          style="margin-top:100px;bottom:0;right: 0;position: relative;clear: both;"
        >
          <button
            type="button"
            class="btn btn-outline-secondary btn-fw"
            onclick="cancelTransaction('payment/payment_management.html','Payment')"
          >
            <i class="fa fa-angle-left"></i>Back
          </button>
          <button type="button" class="btn btn-outline-success btn-fw">
            <i class="mdi mdi-printer"></i>Print
          </button>
          <button
            type="button"
            onclick="followUp()"
            style="display:none;"
            id="btnApprove"
            class="btn btn-primary btn-fw"
          >
            <i class="mdi mdi-marker-check"></i> Approve
          </button>
          <button
            type="button"
            onclick="rejectTrxPayment()"
            style="display:none;"
            id="btnReject"
            class="btn btn-danger btn-fw"
          >
            <i class="mdi mdi-cancel"></i> Reject
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function downloadFile(filename){
    var url = api_urlapp + "assets/images/attachment_receipt/"+filename;
    window.open(url,'_blank');
  }
  function openModalAttach(filename) {
    var url = api_urlapp + "assets/images/attachment_receipt/";
    $("#modalAttach").modal('show');

    if(filename=="null"){
      $("#modalAttach .modal-content .modal-body").html('<center><h4><i style="font-size:4em;" class="mdi mdi-information-variant"></i><br> Image Not Found</h4></center>')
    }else{
      var imgUrl = url + filename;
      // $("#modalAttach .modal-dialog").attr('style','width:800px;');
      // $("#modalAttach .modal-content").attr('style','width:100%;');
      $("#modalAttach .modal-content .modal-body").attr('style',"background:url('" + url + filename + "') center center no-repeat;background-size:100%;height:500px;");
      // $("#modalAttach .modal-content .modal-body").html('<center><img src="'+ imgUrl +'" height="400"></center>');
    }
  }
  
  function followUp(id,by) {
    var btn = $("#btnApprove");
    swal({
      title: "Are you sure want to approved this Payment?",
      type: "question",
      html: "",
      showCloseButton: true,
      showCancelButton: true,
      confirmButtonClass: "btn btn-success",
      cancelButtonClass: "btn btn-danger m-l-10",
      confirmButtonText: '<i class="fa fa-check"></i> Approved!',
      cancelButtonText: '<i class="fa fa-close"></i> Cancel'
    }).then(function() {
      approvedPO(btn.data("id"), by);
    });
  }
  function approvedPO(id, by) {
    if (id == "") {
      returnErrorMessage(
        "Oops! Sorry failed to processing approval. Please try again later :) 500 Error"
      );
    } else {
      var url = api_url;
      if (by == "arco") {
        url = api_url + "payment/approvedPObyArco";
      } else if (by == "ps") {
        url = api_url + "payment/approvedPObyPs";
      }

      $.ajax({
        url: url,
        method: "POST",
        data: { id: id, idu: localStorage["id"] },
        dataType: "JSON",
        success: function(dt) {
          // debugger;
          if (dt.success) {
            returnSuccessMessage(dt.msg);
            cancelTransaction('payment/payment_management.html','Payment');
          } else {
            showErrorWithNoAction(dt.msg);
          }
        },
        error: function(xhr) {
          console.log(xhr);
          showErrorWithNoAction("Oops! " + xhr.status + " " + xhr.statusText);
        }
      });
    }
  }

  function followUpPs(id) {
    var btn = $("#btnApprove");
    swal({
      title: "Are you sure want to approved this Purchase Order?",
      type: "question",
      html: "",
      showCloseButton: true,
      showCancelButton: true,
      confirmButtonClass: "btn btn-success",
      cancelButtonClass: "btn btn-danger m-l-10",
      confirmButtonText: '<i class="fa fa-check"></i> Approved!',
      cancelButtonText: '<i class="fa fa-close"></i> Cancel'
    }).then(function() {
      approvedPObyPS(btn.data("id"), "ps");
    });
  }
  function approvedPObyPS(id) {
    var url = "po/allocationApproval.html",
      modul = "Purchase Order",
      title = "Purchase Order Approval Allocation";

    moveUrl(url, modul, title, "", function() {
      $.ajax({
        url: api_url + "purchase/getDetailPurchase?id=" + id,
        type: "get",
        dataType: "json",
        beforeSend: function() {},
        success: function(data) {
          if (data.success) {
            if (data.row == 0) {
              setTimeout(() => {
                cancelTransaction('payment/payment_management.html','Payment');
              }, 2500);
              return showErrorWithNoAction("Oops! Sorry Data not found");
            }
            var summaryData = data.summary_data[0];

            var konten = $("#ctTrx").html();
            konten = replaceAll(
              konten,
              "[PONUMBER]",
              summaryData.purchase_code
            );
            konten = replaceAll(
              konten,
              "[MUNICIPIO]",
              summaryData.municipioname
            );
            konten = replaceAll(konten, "[MUCONAME]", summaryData.full_name);
            konten = replaceAll(
              konten,
              "[ARCOAPPROVED]",
              summaryData.fnameparent
            );
            konten = replaceAll(konten, "[ARCOAREA]", summaryData.area);
            konten = replaceAll(konten, "[PSAPPROVED]", summaryData.psname);
            konten = replaceAll(
              konten,
              "[REJECTREASON]",
              summaryData.reason_reject
            );
            konten = replaceAll(
              konten,
              "[DATEPURCHASE]",
              datePHPJS("d, F Y", strtotime(summaryData.purchase_date))
            );
            $("#ctTrx").html(konten);
            if (
              (localStorage["jabatan"] == "3" &&
                summaryData.purchase_status == "1") ||
              (localStorage["jabatan"] == "3" &&
                summaryData.purchase_status == "3")
            ) {
              $("#btnApprove")
                .attr("style", "")
                .data("id", summaryData.idpurchase_order);
              $("#btnReject")
                .attr("style", "")
                .data("id", summaryData.idpurchase_order);
            } else if (
              localStorage["jabatan"] == "4" &&
              summaryData.purchase_status == "6"
            ) {
              $("#btnApprove")
                .attr("style", "")
                .data("id", summaryData.idpurchase_order)
                .attr("onclick", "followUpPs()");
              $("#btnReject")
                .attr("style", "")
                .data("id", summaryData.idpurchase_order)
                .data("by", "ps");
              $("#approvedArco").attr("style", "");
            } else if (summaryData.purchase_status == 10) {
              $("#approvedArco").attr("style", "");
            } else if (summaryData.purchase_status == 11) {
              $("#approvedPs").attr("style", "");
            }

            if (
              summaryData.purchase_status == 7 ||
              summaryData.purchase_status == 9
            ) {
              $("#rowReject").attr("style", "");
              $("#rejectTitle")
                .html("Rejected Payment")
                .attr("style", "color:red");
            }
            if (data.data.length > 0) {
              var dataRow = data.data;
              var tblCt = $("#tblCTApproval");
              tblCt.html("");
              var no = 1,
                totalQty = 0,
                totalAmount = 0;
              for (var x in dataRow) {
                var html =
                  '<tr align="center">' +
                  "<td>" +
                  no +
                  "</td>" +
                  "<td>" +
                  dataRow[x].product_name +
                  "</td>" +
                  '<td width="30px">' +
                  dataRow[x].total_order +
                  "</td>" +
                  '<td width="30px">' +
                  dataRow[x].total_bayar +
                  "</td>" +
                  '<td><input minValue="0" required onchange="gantiDiscount(\'' +
                  dataRow[x].jml_bayar +
                  '\')" class="form-control" type="number" name="discount"> <input type="hidden" name="discountPrice"></td>' +
                  '<td width="30px">' +
                  dataRow[x].sisa_bayar +
                  "</td>" +
                  '<td><input required class="form-control" type="number" name="stMsisdn"> - <input required type="number" name="endMsisdn" class="form-control"></td>' +
                  "</tr>";
                tblCt.append(html);
                if (dataRow[x].idcategory != 3) {
                  totalQty += parseFloat(dataRow[x].jml_bayar);
                }

                totalAmount += parseFloat(dataRow[x].amount_total);
                no++;
              }

              $("#totalQty").html(totalQty);
              $("#idpo").val(dataRow[x].idpurchase_order);
              $("input[name='created_by']").val(localStorage["id"]);
              $("#totalAmount").html(totalAmount + " USD");
              console.log(data.data);
            }
          }
        }
      });
    });
  }
</script>
