<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Form Add Purchase Order</h4>
        <form method="post" action="javascript:void(0)">
          <div
            class="wells"
            style="background: #eaeaea;padding:20px;border-radius: 3px;"
          >
            <table style="font-size: 12px">
              <tr>
                <td>Date</td>
                <td width="20px">:</td>
                <td id="dateNow">2018-02-14</td>
              </tr>
              <tr>
                <td>Requester</td>
                <td width="20px">:</td>
                <td id="requester">MUCO MUCO</td>
              </tr>
              <tr id="rejectSection" style="display:none;">
                <td>Reject Reason</td>
                <td width="20px">:</td>
                <td id="rejectReason"></td>
              </tr>
            </table>
          </div>

          <hr />

          <p class="pull-right" style="float: right;">
            <!-- <button class="btn btn-primary"><i class="fa fa-plus-circle"></i></button> -->
            <button
              type="button"
              id="btn-add-row"
              class="btn btn-outline-danger btn-fw"
            >
              <i class="mdi mdi-table-row-plus-after"></i>Add new row
            </button>
          </p>

          <div class="table-responsive" style="margin-bottom:20px;">
            <table id="tblProduct" class="table table-bordered">
              <thead>
                <th width="40px">No</th>
                <th>Product</th>
                <th>Quantity</th>
                <th width="50px"></th>
              </thead>
              <tbody id="rowBody">
                <tr>
                  <td>1</td>
                  <td>
                    <select
                      name="product"
                      id="product"
                      class="form-control"
                      onchange="gantiProduct('product','quantityFirst')"
                    ></select>
                    <input type="hidden" name="unit_price" id="quantityFirst" />
                  </td>
                  <td>
                    <input
                      type="number"
                      class="form-control quantity"
                      placeholder="Input quantity"
                      name="quantity"
                      id="quantity"
                    />
                  </td>
                  <td>&nbsp;</td>
                </tr>
              </tbody>
            </table>
            <hr>
            <div class="form-group">
              <label for="note">Note</label>
              <textarea class="form-control" name="note" id="note"></textarea>
            </div>
            <input type="hidden" name="iduser" id="iduser" />
            <input type="hidden" name="idpo" id="idpo" />
          </div>

          <hr />

          <div>
            <button type="submit" class="btn btn-outline-success btn-fw">
              <i class="mdi mdi-send"></i>Submit
            </button>
            <button
              type="reset"
              onclick="cancelTransaction()"
              class="btn btn-outline-info btn-fw"
            >
              <i class="mdi mdi-cancel"></i>Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$data = 0;
$dataDeleted = [];
  $(document).ready(function() {
    var date = datePHPJS("d, M Y", new Date());
    $("#dateNow").html(date);
    $("#requester").html(localStorage['name'])
    $("#iduser").val(localStorage["id"]);
    // gantiProduct();
    var scntDiv = $("#rowBody");

    $("#btn-add-row").click(function() {
      var number = $("#rowBody tr").length + 1;
      $data += 1;

      scntDiv.append(
        '<tr id="row' +
          $data +
          '">' +
          "<td>" +
          number +
          "</td>" +
          "<td>" +
          '<select required="" id="rowId' +
          $data +
          '" onchange="gantiProduct(\'rowId' +
          $data +
          "','price" +
          $data +
          '\')" name="product" class="selectProduct form-control input-sm"><option value="">None</option>' +
          "</select>" +
          "</td>" +
          "<td>" +
          '<input type="number" class="quantity form-control input-sm" min="0"  name="quantity" value="0"><input id="price' +
          $data +
          '" name="unit_price" type="hidden" class="quantity form-control input-sm" value="0">' +
          "</td>" +
          "<td>" +
          "<center>" +
          '<a class="btn btn-danger btn-sm" href="javascript:void(0)" onclick="removeRow(\'row' +
          $data +
          "')\">" +
          '<i class="mdi mdi-close"></i>' +
          "</a>" +
          "</center>" +
          "</td>" +
          "</tr>"
      );
      getProductData("rowId" + $data);
      $data++;
      return false;
    });
    
    $("form").submit(function(e) {
      e.preventDefault();
      var formDATA = new Array();
      $("#tblProduct tr").each(function(k) {
        var obj = {};
        $(this)
          .find("input,textarea,select")
          .each(function(i) {
            obj[$(this)[0].name] = $(this)[0].value;
          });
        formDATA.push(obj);
      });
      formDATA.splice(0, 1);
      if (formDATA[0].quantity == "0") {
        returnErrorMessage("Quantity cannot be set to 0");
        return false;
      }
      $.ajax({
        url: api_url + "purchase/addPurchase",
        method: "post",
        data: {
          iduser: $("#iduser").val(),
          note: $("#note").val(),
          idpo: $("#idpo").val(),
          productdata: JSON.stringify(formDATA),
          deletedproduct: JSON.stringify($dataDeleted)
        },
        dataType: "json",
        success: function(ar) {
          // showNotifSuccess(d)
          if (ar.success) {
            swal({
              title: "Success",
              text: ar.msg,
              type: "success",
              showCancelButton: true,
              confirmButtonColor: "#4fa7f3",
              cancelButtonColor: "#d57171",
              allowOutsideClick: false,
              confirmButtonText: "Back to List Requests",
              cancelButtonText: "Add more Transaction"
            }).then(function() {
              var url = "po/purchase_order.html",
                modul = "Purchase Order",
                title = "Purchase Order";
              moveUrl(url, modul, title);
              $("form")[0].reset();
            });
          } else {
            showErrorWithNoAction(ar.msg);
          }
        },
        error: function(xhr) {
          showErrorWithNoAction(
            "Internal server error. Please contact administrator website. <br>" + xhr.status + ' ' + xhr.statusText
          );
        }
      });
    });
  });

  //Edited PO
  function hasEdit(id) {
    $("#rejectSection").attr('style','');
    // $("#btn-add-row").attr('style','display:none');
    getDataPO(id);
  }

  function getDataPO(id) {
    $.ajax({
      url: api_url + 'purchase/getDetailPurchase?id=' + id,
      type: 'get',
      dataType: 'json',
      beforeSend: function () {
      },
      success: function (data) {
        if (data.success) {
          $("#tblProduct tbody").html('');
          setDataEdit(data.data);
          $("#idpo").val(data.summary_data[0].idpurchase_order);
          var no = 1;
          var dtx = 0;
          for(var i in data.data){
            var upedit = $("#row"+dtx).find('td').find('input[name="unit_price_edit"]');
            upedit.val(data.data[i].unit_price_po);
            no++;
            dtx++;
          }
          $("#rejectReason").text(data.summary_data[0].reason_reject);
        }
      }
    });
  }

  function setDataEdit(dtx) {
    var tb = $("#tblProduct tbody"),no=1;
    for (let x = 0; x < dtx.length; x++) {
      const element = dtx[x];
      $data +=1;
      var html = '<tr id="row'+x+'">'
        + '<td>' + no + '</td>'
        + '<td> '
        +'<select required="" id="rowId' +
        x +
        '" onchange="gantiProduct(\'rowId' +
        x +
        "','price" +
        x +
        '\')" name="product" class="selectProduct form-control input-sm"><option value="">None</option>' +
        "</select>" 
        +'</td>'
        + '<td> <input class="form-control" type="number" value="'+ element.qty +'" name="quantity">'
        + '<input id="price' +
        x +
          '" name="unit_price" type="hidden" value="'+element.unit_price_po+'" class="quantity form-control input-sm" value="0"><input type="hidden" name="unit_price_edit"><input type="hidden" name="idpd" value="'+element.idpurchase_detail+'">'
        + '</td>'
        + '<td>'
        +"<center>" +
          '<a class="btn btn-danger btn-sm" href="javascript:void(0)" onclick="removeRowEdit(\'row' +x+"','"+element.idpurchase_detail+"')\">" +
          '<i class="mdi mdi-close"></i>' +
          "</a>" +
          "</center>"
        + '</td>'
        + '</tr>';
      tb.append(html);
      getProductData('rowId'+x,element.idproducts);
      no++;
    }
  }


  function cancelTransaction() {
    var url = "po/purchase_order.html",
      modul = "Purchase Order",
      title = "Purchase Order";

    moveUrl(url, modul, title, "", "");
  }

  function loadDataProducts() {
    $.ajax({
      url: api_url + "data/getProducts",
      type: "get",
      dataType: "json",
      success: function(data) {
        if (data.success) {
          var dtx = data.data;
          var select = $("#product");
          select.html("");
          select.append('<option value="0">Select products</option>');
          for (x in dtx) {
            var opt =
              "<option value='" +
              dtx[x].idproducts +
              "'>" +
              dtx[x].product_name +
              "</option>";
            select.append(opt);
          }
        }
      }
    });
  }
  function getProductData(rowId,idp) {
    console.log(idp);
    $.ajax({
      url: api_url + "data/getProducts",
      type: "get",
      dataType: "json",
      success: function(dt) {
        if (dt.success) {
          for (var i in dt.data) {
            var n = dt.data[i];
            var sel = false;
            if (idp!=undefined && idp==n.idproducts) {
              opt = '<option selected value="' +
                n.idproducts +
                '">' +
                n.product_name +
                "</option>";
                console.log('sama');
              $("#" + rowId).append(opt);
            }
            $("#" + rowId).append(
              '<option value="' +
                n.idproducts +
                '">' +
                n.product_name +
                "</option>"
            );
          }
        } else {
        }
      }
    });
  }
  function removeRow(id) {
    $("#" + id).remove();
    var number;
    $("#rowBody tr").each(function(i) {
      number = i + 1;
      $(this)
        .find("td:first")
        .text(number);
    });
    return false;
  }
  function removeRowEdit(id,idpd) {
      $("#" + id).remove();
      var number;
      $("#rowBody tr").each(function (i) {
        number = i + 1;
        $(this)
          .find("td:first")
          .text(number);
      });
      $dataDeleted.push(idpd);
      return false;
  }
  function gantiProduct(id, to) {
    var val = $("#" + id).val();
    if (val != "") {
      $.ajax({
        url: api_url + "data/getProducts?id=" + val,
        type: "get",
        dataType: "json",
        success: function(dt) {
          if (dt.success) {
            $("#" + to).val(dt.data[0].unit_price);
          } else {
          }
        }
      });
    }
  }
</script>
