<div class="row">
    <div class="col-md-12" id="ctTrx">
        
        <div class="card">
            
            <div class="card-body">
                <center>
                    <h4 class="card-title" id="rejectTitle">PURCHASE ORDER ALLOCATION</h4>
                </center>

                <div class="wells">
                    <div class="row">
                        <div class="col-md-12">
                            <table style="font-size: 13px">
                                <tr>
                                    <td width="150px">PO Number</td>
                                    <td width="50px">:</td>
                                    <td>[PONUMBER]</td>
                                </tr>
                                <tr>
                                    <td width="150px">Payment</td>
                                    <td width="50px">:</td>
                                    <td>Consignment</td>
                                </tr>
                                <tr>
                                    <td width="150px">TO</td>
                                    <td width="50px">:</td>
                                    <td>PERSONAL SALES</td>
                                </tr>
                                <tr>
                                    <td width="150px">Municipio</td>
                                    <td width="50px">:</td>
                                    <td>[MUNICIPIO]</td>
                                </tr>
                                <tr>
                                    <td width="150px">MUCO</td>
                                    <td width="50px">:</td>
                                    <td>[MUCONAME]</td>
                                </tr>
                                <tr>
                                    <td width="150px">Attention</td>
                                    <td width="50px">:</td>
                                    <td>Finance</td>
                                </tr>
                                <tr>
                                    <td>Date</td>
                                    <td width="50px">:</td>
                                    <td>[DATEPURCHASE]</td>
                                </tr>
                                <tr id="rowReject" style="display:none;">
                                    <td>Rejected Reason</td>
                                    <td width="50px">:</td>
                                    <td style="color:red">[REJECTREASON]</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                
                <hr>
                <form action="javascript:void(0)" method="POST" id="frmAllocation">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <th>No</th>
                                <th>Product</th>
                                <th width="100px">Qty</th>
                                <th width="50px">Price (USD)</th>
                                <!-- <th width="50px">Discount (%)</th> -->
                                <th width="50px">Amount (USD)</th>
                                <th>Block Range Number</th>
                                <th>Action</th>
                            </thead>
                            <tbody id="tblCTApproval">
                                
                            </tbody>
                        </table>

                        <input type="hidden" name="idpo" id="idpo">
                        <input type="hidden" name="created_by">
                    </div>
                    <hr>
                    
                    <div>
                        <button type="submit" class="btn btn-outline-success btn-fw"><i class="mdi mdi-send"></i>Submit</button>
                        <button type="reset" onclick="cancelTransaction()" class="btn btn-outline-info btn-fw">
                            <i class="mdi mdi-cancel"></i>Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function gantiDiscount(id) {
        var idrow = $("#row" + id),
            valuediscount = idrow.find('td').find('input[name="discount"]').val(),
            discpricedisplay = idrow.find('td').find('input[name="discountPrice"]'),
            amount = idrow.find('td').find('input[name="rawAmount"]'),
            amountAfter = idrow.find('td').find('input[name="rawAmountAfterDiscount"]'),
            amountDisplay = idrow.find('td.amount'),
            valuetotalamount = amount.val(),
            discprice = valuetotalamount * valuediscount / 100,
            discafterprice = valuetotalamount - discprice;

        amountDisplay.text(discafterprice);
        amountAfter.val(discafterprice);
        discpricedisplay.val(discprice);
    }

    function autoCompleteBnumber(idrow) {
        var row = $("#"+idrow),
            qty = parseFloat(row.find('td#qty').text()),
            qtyVal = parseFloat(row.find('td#qty').find("input").val()),
            startNum = parseFloat(row.find('td').find('input[name="stMsisdn"]').val()),
            endNum = row.find('td').find('input[name="endMsisdn"]'),
            qtynya = (isNaN(qty))?qtyVal:qty,
            calcBnumber = startNum + qtynya  - 1;
        debugger;
        endNum.val(calcBnumber);
    }

    function readyFormSubmit() {
        $("#frmAllocation").submit(function (e) {
            e.preventDefault();
            e.preventDefault();
            var formDATA = new Array();
            var checkRange = true;
            $("#tblCTApproval tr").each(function (k,el) {
                var obj = {};
                $(this).find("input,textarea,select").each(function (i) {
                    obj[$(this)[0].name] = $(this)[0].value;
                });
                debugger;
                // Cek tr not Pulsa Digital Product
                if(el.className!='classPulsaDigital3'){
                    var idpd = obj['idpurchase_detail'],
                        blockqty = obj['endMsisdn'] - obj['stMsisdn'] + 1;
                    obj['qty'] = $("#row" + idpd).find('td#qty').text();
                    console.log(blockqty);
                    console.log(obj['qty']);
                    if (blockqty != obj['qty']) {
                        showErrorWithNoAction("Oops, your block number didn't match with quantity");
                        checkRange = false;
                    }
                }
                

                formDATA.push(obj);
            });
            debugger;
            if (formDATA[0].qty == '0') {
                returnErrorMessage('Quantity cannot be set to 0');
                return false;
            }
            if(checkRange!=true){
                returnErrorMessage('Check your quantity');
                return false;
            }

            if (checkRange && formDATA[0].qty!="0") {
                $.ajax({
                    url: api_url + 'allocation/insertAllocation',
                    data: {
                        idpo: $("#idpo").val(),
                        iduser: localStorage['id'],
                        productdata: JSON.stringify(formDATA)
                    },
                    method: 'post',
                    dataType: 'json',
                    success: function (ar) {
                        if (ar.success) {
                            swal({
                                title: "Success",
                                text: ar.msg,
                                type: "success",
                                showCancelButton: true,
                                confirmButtonColor: "#4fa7f3",
                                cancelButtonColor: "#d57171",
                                allowOutsideClick: false,
                                confirmButtonText: "Back to List Requests",
                                cancelButtonText: "Add more Transaction"
                            }).then(function () {
                                var url = "po/allocation.html",
                                    modul = "Purchase Order",
                                    title = "Allocation";
                                moveUrl(url, modul, title);
                                $("form")[0].reset();
                            });
                        } else {
                            showErrorWithNoAction(ar.msg);
                        }
                    },
                    error: function (xhr) {
                        showErrorWithNoAction(
                            "Internal server error. Please contact administrator website."
                        );
                    }
                })
            }

        })
    }
</script>