<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">
					<label class="pull-right" style="float:right;">
						<button id="btnAdd" class="btn btn-outline-primary btn-fw" onclick="newPurchase()"><i class="mdi mdi-cart-plus"></i> Add Purchase</button>
					</label> 
					List Purchase Order
				</h4>


				<div class="table-responsive">
					<table class="dataTable table table-hovered">
						<thead>
							<tr>
								<th>PO Number</th>
								<th>Created Date</th>
								<th>Status</th>
								<th style="width: 120px;">Action</th>
							</tr>
						</thead>
						<tbody id="ct">
							
						</tbody>
					</table>
				</div>



			</div>
		</div>
		
	</div>
</div>

<div class="modal fade" id="modalBAST" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
	<div class="modal-dialog" style="max-width:768px;">
		<div class="modal-content" style="padding:20px;background: #fff;">

		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		runPages();
		getData();

		if (localStorage['jabatan'] == 3 || localStorage['jabatan'] == 4) {
			$("#btnAdd").hide();

		}
	});
	function getData() {
		var idu = localStorage['id'],
			jabatan = localStorage['jabatan'],
			municipio = localStorage['municipio'];
		$.ajax({
			url: api_url + 'purchase/getPurchaseOrder',
			data: {id:idu,municipio:municipio,jabatan:jabatan},
			type: 'get',
			dataType: 'json',
			success: function (data) {
				if (data.success) {
					setTableData(data.data,data);
				}
			}
		});
	}
	function setTableData(d,data) {
		var i = 1;
		var tbl = $("#ct");
		tbl.html('');

		for(ix in d){
			var buttonFU = '';
			var ndata = d[ix];
			if (localStorage['jabatan'] == "3" && ndata.purchase_status!='10' && ndata.purchase_status != '2') {
				buttonFU = '<button class="btn btn-primary btn-fw" onclick="openDetail(\'' + ndata.idpurchase_order +'\')"><i class=" mdi-file-check"></i> Follow Up</button> ' +
					'<button class="btn btn-danger btn-fw" onclick="rejectTrx(\''+ndata.idpurchase_order+'\')"><i class="mdi mdi-cancel"></i> Reject</button>';
			}else if(localStorage['jabatan'] == 4 && ndata.purchase_status == 10){
				buttonFU = '<button class="btn btn-primary btn-fw" onclick="openDetail(\'' + ndata.idpurchase_order + '\')"><i class="mdi mdi-file-check"></i> Follow Up</button> ' +
					'<button class="btn btn-danger btn-fw" onclick="rejectTrx(\'' + ndata.idpurchase_order + '\')"><i class="mdi mdi-cancel"></i> Reject</button>';

			}else if(ndata.purchase_status=='10'){
				buttonFU = '';
			}else if (ndata.purchase_status == '11' || ndata.purchase_status=='13') {
				buttonFU = '<button class="btn btn-primary" onclick="genBAST(\''+ndata.idpurchase_order+'\')">BAST</button>';
			}else if(ndata.purchase_status=='2'){
				buttonFU = '';
			}
			var htmlTable = '<tr>'+
			'<td><a onclick="openDetail(\''+ndata.idpurchase_order+'\')" href="javascript:void(0)">'+ndata.purchase_code+'</a></td>'+
			'<td>'+datePHPJS('Y-m-d H:i:s',ndata.created_date)+'</td>'+
			'<td>'+
			'<label class="badge badge-'+ndata.statusClass+'">'+ndata.status+'</label>'+
			'</td>'+
			'<td>'+
			buttonFU + 
			'</td>'+
			'</tr>';
			tbl.append(htmlTable);
		}
		runDataTableCustom();
	}
	function newPurchase() {
		var url = 'po/addPurchase.html',
		modul = 'Purchase Order',
		title = 'New Purchase Order';

		moveUrl(url, modul, title, '', function () {
			loadDataProducts();
		});
	}
	function openDetail(id) {
		var url = 'po/purchase_detail.html',
		modul = 'Purchase Order',
		title = 'Purchase Order Detail';

		moveUrl(url, modul, title, '', function () {
			$.ajax({
				url: api_url + 'purchase/getDetailPurchase?id=' + id,
				type: 'get',
				dataType: 'json',
				beforeSend: function () {
				},
				success: function (data) {
					if (data.success) {
						if (data.row==0) {
							setTimeout(() => {
								cancelTransaction();
							}, 2500);
							return showErrorWithNoAction("Oops! Sorry Data not found");
						}
						var summaryData = data.summary_data[0];

						var konten = $("#ctTrx").html();
						konten = replaceAll(konten, '[PONUMBER]',summaryData.purchase_code);
						konten = replaceAll(konten, '[MUNICIPIO]',summaryData.municipioname);
						konten = replaceAll(konten, '[MUCONAME]',summaryData.full_name);
						konten = replaceAll(konten, '[ARCOAPPROVED]',summaryData.fnameparent);
						konten = replaceAll(konten, '[ARCOAREA]',summaryData.area);
						konten = replaceAll(konten, '[PSAPPROVED]',summaryData.psname);
						konten = replaceAll(konten, '[REJECTREASON]',summaryData.reason_reject);
						konten = replaceAll(konten, '[NOTE]',nulldefault(summaryData.note));
	                    konten = replaceAll(konten, '[DATEPURCHASE]', datePHPJS('d, M Y', strtotime(summaryData.purchase_date)));
	                    $('#ctTrx').html(konten);
						if (localStorage['jabatan'] == "3" && summaryData.purchase_status == '1' || localStorage['jabatan'] == "3" && summaryData.purchase_status == '3') {
							$("#btnApprove").attr('style','').data('id',summaryData.idpurchase_order);
							$("#btnReject").attr('style','').data('id',summaryData.idpurchase_order);
						}else if(localStorage['jabatan'] == "4" && summaryData.purchase_status == '10'){
							$("#btnApprove").attr('style','').data('id',summaryData.idpurchase_order).attr('onclick', 'followUpPs()');
							$("#btnReject").attr('style','').data('id',summaryData.idpurchase_order).data('by',"ps");
							$("#approvedArco").attr('style', '');
						}else if(summaryData.purchase_status==10){
							$("#approvedArco").attr('style', '');
						} else if (summaryData.purchase_status == 11) {
							$("#approvedArco").attr('style', '');
							$("#approvedPs").attr('style', '');
						}

						if (summaryData.purchase_status==2 || summaryData.purchase_status == 3) {
							$("#rowReject").attr('style','');
							$("#rejectTitle").html("Rejected Purchase Order").attr('style','color:red');
						}
						if (data.data.length > 0) {
							var dataRow = data.data;
							var tblCt = $("#tblCT");
							tblCt.html('');
							var no = 1,totalQty=0,totalAmount=0;
							for(var x in dataRow){
								var html = '<tr>' 
										+ '<td>'+no+'</td>'
										+ '<td>'+dataRow[x].product_name+'</td>'
										+ '<td align="right">'+dataRow[x].qty+'</td>'
										+ '<td align="right">'+replaceDuitTigaDigit(dataRow[x].unit_price_po)+'</td>'
										// + '<td>'+nulldefault(dataRow[x].discount_percent)+'</td>'
										+ '<td align="right">'+replaceDuitTigaDigit(dataRow[x].amount_total)+'</td>'
										+ '</tr>';
								tblCt.append(html);
								if (dataRow[x].idcategory!=3) {
								}
								totalQty += parseFloat(dataRow[x].qty);

								totalAmount += parseFloat(dataRow[x].amount_total);
								console.log(dataRow[x].qty);
								no++;
							}

							$("#totalQty").html(totalQty);
							$("#totalAmount").html(replaceDuitTigaDigit(totalAmount));
						}
					}
				}
			});
		});
	}

	function genBAST(id) {
		$.ajax({
			url: 'po/formBast.html',
			method: 'get',
			type: 'html',
			success:function(ht){
				$("#modalBAST").modal('show');
				$("#modalBAST .modal-content").html(ht);
				setBastForm(id);
				genBastPDF(id);
			}
		})
	}
	function genBastPDF(id) {
		$.ajax({
			url: api_url + 'purchase/bastGenerate?idpo='+id,
			method: 'get',
			success:function(ret){
				console.log(ret);
			}
		});
		return true;
	}
	function genBastPrint() {
		var code = $(".forNoCode").html();
		window.open(api_urlapp + '/uploads/pdf/' + code + '.pdf', '_blank').focus();
	}
	function setBastForm(id) {
		$.ajax({
			url: api_url + 'purchase/getDetailPurchase?id=' + id,
			type: 'get',
			dataType: 'json',
			beforeSend: function () {
			},
			success: function (dt) {
				var summaryData = dt.summary_data[0];
				
				var konten = $("#ctTrxBast").html();
				konten = replaceAll(konten, '[CODENUMBER]', summaryData.purchase_code);
				konten = replaceAll(konten, '[MONTHPO]', datePHPJS('m',new Date(summaryData.purchase_date)));
				konten = replaceAll(konten, '[YEARPO]', datePHPJS('Y',new Date(summaryData.purchase_date)));
				konten = replaceAll(konten, '[DARI]', summaryData.full_name);
				$('#ctTrxBast').html(konten);
				setTableViewBast(dt.allocation);

				$(".forDatePurchase").html(datePHPJS('d F Y', new Date(summaryData.purchase_date)));
				$("#dateNowFooter").html(datePHPJS('d F Y', new Date()));
			}
		});
		return true;

	}
	function setTableViewBast(data) {
		var no = 1,
			tb = $("#tblBast tbody");
			tb.html('');
		for (let n = 0; n < data.length; n++) {
			const element = data[n];
			var qty = element.end_number - element.start_number + 1;
			var htmlTableView = '<tr>'
				+'<td>'+ no+'</td>'
				+'<td>'+ element.product_name+'</td>'
				+'<td>'+ element.start_number + ' - ' + element.end_number +'</td>'
				+'<td>'+ qty +'</td>'
				+'</tr>';
			tb.append(htmlTableView);
			no++;
		}
		return true;
	}
</script>