<div class="row" id="section-to-print" style="margin-top: 5%">
    <div class="col-md-12 print" id="ctTrxBast">
        <div class="card-box">
            <div class="panel-body">
                <div class="clearfix">
                    <div class="pull-right">
                        <h4 class="text-right"><img src="../images/telkomcel.png" style="width: 150px;"
                                alt="Telkomcel"></h4>
                    </div>
                </div>
                <div align="center" style="text-transform: uppercase;" class="clearfix">
                    <p>
                        <strong style="text-transform: uppercase;">Berita acara <br> serah terima barang</strong><br>
                        <label>No.</label> <label class="forNoCode">[CODENUMBER]</label>/<label>TCEL</label>/<label
                            class="forMonth">[MONTHPO]</label>/<label class="forYear">[YEARPO]</label>
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-12">

                        <div class="pull-left m-t-30">
                            <address>
                                <p>
                                    Berdasarkan kepada dokumen-dokumen berikut : <br>
                                    1. Purchase Order (PO) dari <b>[DARI]</b> pada tanggal <label
                                        class="forDatePurchase">4 September 2018</label><br>
                                    2. Persetujuan distribusi STOCK dari unit Sales<br>
                                    Pada hari ini <label class="dateNow"></label> telah dilaksanakan serah terima barang
                                    dari <b>Telekomunikasi Indonesia Internasional (TL)</b>, <b>S.A</b> (Yg Menyerahkan)
                                    kepada <b>[DARI]</b> (Yang Menerima), dengan rincian sebagai berikut:
                                </p>
                            </address>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table id="tblBast" border="1" class="table table-bordered m-b-30">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nama Barang</th>
                                        <th>Block Number Range</th>
                                        <th>Jumlah</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <p>Dengan ditanda tanganinya Berita Acara Serah Terima ini, maka barang tersebut di atas menjadi
                    tanggung jawab pihak yang Menerima</p>
                <p>Dili, <span id="dateNowFooter">12 September 2018</span></p>

                <br>
                <div class="col-md-12">
                    <table width="100%" align="center" border="0">
                        <tr>
                            <td align="center">
                                <b style="font-size:12px;">Yang Menyerahkan,</b>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>
                                    ( <span id="penyerahname">......................................</span> )<br>
                                    <b style="font-size:11px" id="penyerahpos">Petugas Stockiest</b>
                                </p>
                            </td>
                            <td align="center">
                                <b style="font-size:12px;">Yang Menerima,</b>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>
                                    ( <span id="penerimanya">......................................</span> )<br>
                                    <b style="font-size:11px" id="penerimapos">[DARI]</b>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center"><b style="font-size:12px;">Mengetahui,</b></td>
                        </tr>
                        <tr>
                            <td align="center">
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>
                                    ( <span id="mengetahuiDuaname">......................................</span> )<br>
                                    <b id="mengetahuiDuapos" style="font-size:11px">Personal Sales Support</b>
                                </p>
                            </td>
                            <td align="center">
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>
                                    ( <span id="mengetahuiSatuname">......................................</span> )<br>
                                    <b id="mengetahuiSatupos" style="font-size:11px">Mgr. Personal Sales</b>
                                </p>
                            </td>
                        </tr>
                    </table>

                    <hr>
                    <div class="d-print-none">
                        <div class="text-right">
                            <a href="javascript:void(0);" onclick="genBastPrint()" target="_blank"
                                class="btn btn-primary waves-effect waves-light"><i class="mdi mdi-printer"></i></a>
                            <a href="javascript:void(0);" data-dismiss="modal" data-dismiss="modal"
                                class="btn btn-warning waves-effect waves-light">Close</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>