<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">
					<label class="pull-right" style="float:right;">
						<button id="btnAdd" class="btn btn-outline-primary btn-fw" onclick="newPurchase()"><i class="mdi mdi-cart-plus"></i> Add Purchase</button>
					</label> 
					List Purchase Order
				</h4>


				<div class="table-responsive">
					<table class="dataTable table table-hovered">
						<thead>
							<tr>
								<th>PO Number</th>
								<th>Created Date</th>
								<th>Status</th>
								<th style="width: 120px;">Action</th>
							</tr>
						</thead>
						<tbody id="ct">
							
						</tbody>
					</table>
				</div>



			</div>
		</div>
		
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		runPages();
		getData();

		if (localStorage['jabatan'] != 2) {
			$("#btnAdd").hide();

		}
	});
	function getData() {
		var idu = localStorage['id'],
			jabatan = localStorage['jabatan'],
			municipio = localStorage['municipio'],
			idarco = localStorage['idarco'];
		$.ajax({
			url: api_url + 'purchase/getPurchaseOrder',
			data: {id:idu,municipio:municipio,jabatan:jabatan, idarco:idarco},
			type: 'get',
			dataType: 'json',
			success: function (data) {
				if (data.success) {
					setTableData(data.data);
				}else{
					showErrorWithNoAction(data.msg);
				}
			},
			error: function(xhr) {
				// console.log(xhr);
				showErrorWithNoAction("Oops! Something went wrong. Please contact system administrator <br><small>"+ xhr.status +' '+ xhr.statusText +'</small>' );
			}
		});
	}
	function setTableData(d) {
		var i = 1;
		var tbl = $("#ct");
		tbl.html('');

		for(ix in d){
			var buttonFU = '';
			var ndata = d[ix];
			if (localStorage['jabatan'] == "3" && ndata.purchase_status!='10' && ndata.purchase_status != '11' && ndata.purchase_status != '2' && ndata.purchase_status!='13' && ndata.purchase_status!="4" && ndata.purchase_status != "5") {
				buttonFU = '<button class="btn btn-primary btn-fw" onclick="openDetail(\'' + ndata.idpurchase_order +'\')"><i class="mdi mdi-file-check"></i> Follow Up</button> ' +
					'<button class="btn btn-danger btn-fw" onclick="rejectTrx(\''+ndata.idpurchase_order+'\')"><i class="mdi mdi-cancel"></i> Reject</button>';
			}else if(localStorage['jabatan'] == 4 && ndata.purchase_status == 10){
				buttonFU = '<button class="btn btn-primary btn-fw" onclick="openDetail(\'' + ndata.idpurchase_order + '\')"><i class="mdi mdi-file-check"></i> Follow Up</button> ' +
					'<button class="btn btn-danger btn-fw" onclick="rejectTrx(\'' + ndata.idpurchase_order + '\')"><i class="mdi mdi-cancel"></i> Reject</button>';

			}else if(ndata.purchase_status=='10'){
				buttonFU = '';
			}else if(ndata.purchase_status=='2' && localStorage['jabatan']==2){
				buttonFU = '<button onclick="editPO(\''+ndata.idpurchase_order+'\')" class="btn btn-primary">Edit PO</button>';
			}
			var htmlTable = '<tr>'+
			'<td><a onclick="openDetail(\''+ndata.idpurchase_order+'\')" href="javascript:void(0)">'+ndata.purchase_code+'</a></td>'+
			'<td>'+datePHPJS('Y-m-d H:i:s',new Date(ndata.purchase_date))+'</td>'+
			'<td>'+
			'<label class="badge badge-'+ndata.statusClass+'">'+ndata.status+'</label>'+
			'</td>'+
			'<td>'+
			buttonFU + 
			'</td>'+
			'</tr>';
			tbl.append(htmlTable);
		}
		runDataTableCustom();
	}
	function newPurchase() {
		var url = 'po/addPurchase.html',
		modul = 'Purchase Order', 
		title = 'New Purchase Order';

		moveUrl(url, modul, title, '', function () {
			loadDataProducts();
		});
	}
	function openDetail(id) {
		var url = 'po/purchase_detail.html',
		modul = 'Purchase Order',
		title = 'Purchase Order Detail';

		moveUrl(url, modul, title, '', function () {
			$.ajax({
				url: api_url + 'purchase/getDetailPurchase?id=' + id,
				type: 'get',
				dataType: 'json',
				beforeSend: function () {
				},
				success: function (data) {
					if (data.success) {
						if (data.row==0) {
							setTimeout(() => {
								cancelTransaction();
							}, 2500);
							return showErrorWithNoAction("Oops! Sorry Data not found");
						}
						var summaryData = data.summary_data[0];

						var konten = $("#ctTrx").html();
						konten = replaceAll(konten, '[PONUMBER]',summaryData.purchase_code);
						konten = replaceAll(konten, '[MUNICIPIO]',summaryData.municipioname);
						konten = replaceAll(konten, '[MUCONAME]',summaryData.full_name);
						konten = replaceAll(konten, '[ARCOAPPROVED]',summaryData.fnameparent);
						konten = replaceAll(konten, '[ARCOAREA]',summaryData.area);
						konten = replaceAll(konten, '[PSAPPROVED]',summaryData.psname);
						konten = replaceAll(konten, '[REJECTREASON]',summaryData.reason_reject);
						konten = replaceAll(konten, '[NOTE]',nulldefault(summaryData.note));
	                    konten = replaceAll(konten, '[DATEPURCHASE]', datePHPJS('d, M Y', strtotime(summaryData.purchase_date)));
	                    $('#ctTrx').html(konten);
						if (localStorage['jabatan'] == "3" && summaryData.purchase_status == '1' || localStorage['jabatan'] == "3" && summaryData.purchase_status == '3') {
							$("#btnApprove").attr('style','').data('id',summaryData.idpurchase_order);
							$("#btnReject").attr('style','').data('id',summaryData.idpurchase_order);
						}else if(localStorage['jabatan'] == "4" && summaryData.purchase_status == '10'){ //PS follow up when approved by arco
							$("#btnApprove").attr('style','').data('id',summaryData.idpurchase_order).attr('onclick', 'followUpPs()');
							$("#btnReject").attr('style','').data('id',summaryData.idpurchase_order).data('by',"ps");
							$("#approvedArco").attr('style', '');
						}else if(summaryData.purchase_status==10){
							$("#approvedArco").attr('style', '');
						} else if (summaryData.purchase_status == 11) {
							$("#approvedArco").attr('style', '');
							$("#approvedPs").attr('style', '');
						}else if(summaryData.purchase_status==4){//Closed
							$("#approvedArco").attr('style', '');
							$("#approvedPs").attr('style', '');
						}else if (localStorage['jabatan']==3 && summaryData.purchase_status == '12'){
							$("#btnApprove").attr('style', '').data('id', summaryData.idpurchase_order).attr('onclick', 'followUp()');
							$("#btnReject").attr('style', '').data('id', summaryData.idpurchase_order).data('by', "arco");
						}

						if (summaryData.purchase_status==2 || summaryData.purchase_status == 3) {
							$("#rowReject").attr('style','');
							$("#rejectTitle").html("Rejected Purchase Order").attr('style','color:red');
							if (localStorage['jabatan']==2) {
								$("#btnEdit").attr('style', '').data('id',summaryData.idpurchase_order);
							}
						}
						var no = 1,totalQty=0,totalAmount=0;
						if (data.data.length > 0) {
							var dataRow = data.data;
							var tblCt = $("#tblCT");
							tblCt.html('');
							for(var x in dataRow){
								var html = '<tr>' 
										+ '<td>'+no+'</td>'
										+ '<td>'+dataRow[x].product_name+'</td>'
										+ '<td align="right">'+dataRow[x].qty+'</td>'
										+ '<td align="right">'+replaceDuitTigaDigit(parseFloat(dataRow[x].unit_price_po).toFixed(2))+'</td>'
										// + '<td>'+nulldefault(dataRow[x].discount_percent)+'</td>'
										+ '<td align="right">'+replaceDuitTigaDigit(parseFloat(dataRow[x].amount_total).toFixed(2))+'</td>'
										+ '</tr>';
								tblCt.append(html);
								if (dataRow[x].idcategory!=3) {
									totalQty += parseFloat(dataRow[x].qty);
								}

								totalAmount += parseFloat(dataRow[x].amount_total);
								no++;
							}
							console.log(totalQty);
							$("#totalQty").html(totalQty);
							$("#totalAmount").html(replaceDuitTigaDigit(totalAmount.toFixed(2)));
							console.log(data.data);
						}
					}
				}
			});
		});
	}
</script>