<div class="row">
  <div class="col-md-12" id="ctTrx">
    <div class="card">
      <div class="card-body">
        <center>
          <h4 class="card-title" id="rejectTitle">PURCHASE ORDER</h4>
        </center>

        <div class="wells">
          <div class="row">
            <div class="col-md-12">
              <table style="font-size: 13px">
                <tr>
                  <td width="150px">PO Number</td>
                  <td width="50px">:</td>
                  <td>[PONUMBER]</td>
                </tr>
                <tr>
                  <td width="150px">Payment</td>
                  <td width="50px">:</td>
                  <td>Consignment</td>
                </tr>
                <tr>
                  <td width="150px">TO</td>
                  <td width="50px">:</td>
                  <td>PERSONAL SALES</td>
                </tr>
                <tr>
                  <td width="150px">Municipio</td>
                  <td width="50px">:</td>
                  <td>[MUNICIPIO]</td>
                </tr>
                <tr>
                  <td width="150px">MUCO</td>
                  <td width="50px">:</td>
                  <td>[MUCONAME]</td>
                </tr>
                <tr>
                  <td width="150px">Attention</td>
                  <td width="50px">:</td>
                  <td>Finance</td>
                </tr>
                <tr>
                  <td>Date</td>
                  <td width="50px">:</td>
                  <td>[DATEPURCHASE]</td>
                </tr>
                <tr>
                  <td>Note</td>
                  <td width="50px">:</td>
                  <td>[NOTE]</td>
                </tr>
                <tr id="rowReject" style="display:none;">
                  <td>Rejected Reason</td>
                  <td width="50px">:</td>
                  <td style="color:red">[REJECTREASON]</td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <hr />

        <div class="table-responsive">
          <table class="table">
            <thead>
              <th>No</th>
              <th>Product</th>
              <th>Qty</th>
              <th>Price (USD)</th>
              <!-- <th>Discount (%)</th> -->
              <th>Amount (USD)</th>
            </thead>
            <tbody id="tblCT"></tbody>
            <tfoot>
              <td colspan="2" align="right">Total</td>
              <td id="totalQty" align="right"></td>
              <td>&nbsp;</td>
              <td id="totalAmount" align="right"></td>
            </tfoot>
          </table>
        </div>

        <hr />

        <div class="wells" style="margin-top: 50px;">
          <div class="row" align="center">
            <div class="col-md-4">
              <p>Created By</p>
              <p>Muco [MUNICIPIO]</p>
              <p><img src="../images/logosmall.png" /></p>
              <p>[MUCONAME]</p>
            </div>
            <div style="display:none" id="approvedArco" class="col-md-4">
              <p>Approve By</p>
              <p>Arco [ARCOAREA]</p>
              <p><img src="../images/logosmall.png" /></p>
              <p>[ARCOAPPROVED]</p>
            </div>
            <div style="display:none" id="approvedPs" class="col-md-4">
              <p>Approve By</p>
              <p>PS Support</p>
              <p><img src="../images/logosmall.png" /></p>
              <p>[PSAPPROVED]</p>
            </div>
          </div>
        </div>

        <div
          align="center"
          style="margin-top:100px;bottom:0;right: 0;position: relative;clear: both;"
        >
          <button
            type="button"
            class="btn btn-outline-secondary btn-fw"
            onclick="cancelTransaction()"
          >
            <i class="fa fa-angle-left"></i>Back
          </button>
          <button type="button" class="btn btn-outline-success btn-fw">
            <i class="mdi mdi-printer"></i>Print
          </button>
          <button
            type="button"
            onclick="followUp()"
            style="display:none;"
            id="btnApprove"
            class="btn btn-primary btn-fw"
          >
            <i class="mdi mdi-marker-check"></i> Approve
          </button>
          <button type="button" onclick="editPO()" style="display:none;" id="btnEdit" class="btn btn-primary btn-fw">
            <i class="mdi mdi-pencil"></i> Edit PO
          </button>
          <button
            type="button"
            onclick="rejectTrx()"
            style="display:none;"
            id="btnReject"
            class="btn btn-danger btn-fw"
          >
            <i class="mdi mdi-cancel"></i> Reject
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function followUp(id) {
    var btn = $("#btnApprove");
    swal({
      title: "Are you sure want to approved this Purchase Order?",
      type: "question",
      html: "",
      showCloseButton: true,
      showCancelButton: true,
      confirmButtonClass: "btn btn-success",
      cancelButtonClass: "btn btn-danger m-l-10",
      confirmButtonText: '<i class="fa fa-check"></i> Approved!',
      cancelButtonText: '<i class="fa fa-close"></i> Cancel'
    }).then(function() {
      approvedPO(btn.data("id"), "arco");
    });
  }
  function approvedPO(id, by) {
    if (id == "") {
      returnErrorMessage(
        "Oops! Sorry failed to processing approval. Please try again later :) 500 Error"
      );
    } else {
      var url = api_url;
      if (by == "arco") {
        url = api_url + "purchase/approvedPObyArco";
      } else if (by == "ps") {
        url = api_url + "purchase/approvedPObyPs";
      }

      $.ajax({
        url: url,
        method: "POST",
        data: { id: id, idu: localStorage["id"] },
        dataType: "JSON",
        success: function(dt) {
          // debugger;
          if (dt.success) {
            returnSuccessMessage(dt.msg);
            cancelTransaction();
          } else {
            showErrorWithNoAction(dt.msg);
          }
        },
        error: function(xhr) {
          console.log(xhr);
          showErrorWithNoAction("Oops! " + xhr.status + " " + xhr.statusText);
        }
      });
    }
  }

  function followUpPs(id) {
    var btn = $("#btnApprove");
    swal({
      title: "Are you sure want to approved this Purchase Order?",
      type: "question",
      html: "",
      showCloseButton: true,
      showCancelButton: true,
      confirmButtonClass: "btn btn-success",
      cancelButtonClass: "btn btn-danger m-l-10",
      confirmButtonText: '<i class="fa fa-check"></i> Approved!',
      cancelButtonText: '<i class="fa fa-close"></i> Cancel'
    }).then(function() {
      approvedPObyPS(btn.data("id"), "ps");
    });
  }
  function approvedPObyPS(id) {
    var url = "po/allocationApproval.html",
      modul = "Purchase Order",
      title = "Purchase Order Approval Allocation";

    moveUrl(url, modul, title, "", function() {
      $.ajax({
        url: api_url + "purchase/getDetailPurchase?id=" + id,
        type: "get",
        dataType: "json",
        beforeSend: function() {},
        success: function(data) {
          if (data.success) {
            if (data.row == 0) {
              setTimeout(() => {
                cancelTransaction();
              }, 2500);
              return showErrorWithNoAction("Oops! Sorry Data not found");
            }
            var summaryData = data.summary_data[0];

            var konten = $("#ctTrx").html();
            konten = replaceAll(
              konten,
              "[PONUMBER]",
              summaryData.purchase_code
            );
            konten = replaceAll(
              konten,
              "[MUNICIPIO]",
              summaryData.municipioname
            );
            konten = replaceAll(konten, "[MUCONAME]", summaryData.full_name);
            konten = replaceAll(
              konten,
              "[ARCOAPPROVED]",
              summaryData.fnameparent
            );
            konten = replaceAll(konten, "[ARCOAREA]", summaryData.area);
            konten = replaceAll(konten, "[PSAPPROVED]", summaryData.psname);
            konten = replaceAll(
              konten,
              "[REJECTREASON]",
              summaryData.reason_reject
            );
            konten = replaceAll(
              konten,
              "[DATEPURCHASE]",
              datePHPJS("d, M Y", strtotime(summaryData.purchase_date))
            );
            $("#ctTrx").html(konten);
            if (
              (localStorage["jabatan"] == "3" &&
                summaryData.purchase_status == "1") ||
              (localStorage["jabatan"] == "3" &&
                summaryData.purchase_status == "3")
            ) {
              $("#btnApprove")
                .attr("style", "")
                .data("id", summaryData.idpurchase_order);
              $("#btnReject")
                .attr("style", "")
                .data("id", summaryData.idpurchase_order);
            } else if (
              localStorage["jabatan"] == "4" &&
              summaryData.purchase_status == "10"
            ) {
              $("#btnApprove")
                .attr("style", "")
                .data("id", summaryData.idpurchase_order)
                .attr("onclick", "followUpPs()");
              $("#btnReject")
                .attr("style", "")
                .data("id", summaryData.idpurchase_order)
                .data("by", "ps");
              $("#approvedArco").attr("style", "");
            } else if (summaryData.purchase_status == 10) {
              $("#approvedArco").attr("style", "");
            } else if (summaryData.purchase_status == 11) {
              $("#approvedArco").attr("style", "");
              $("#approvedPs").attr("style", "");
            }

            if (
              summaryData.purchase_status == 2 ||
              summaryData.purchase_status == 3
            ) {
              $("#rowReject").attr("style", "");
              $("#rejectTitle")
                .html("Rejected Purchase Order")
                .attr("style", "color:red");
                if(localStorage['jabatan']==2){
                  $("#btnEdit").attr('style','');
                }
            }
            if (data.data.length > 0) {
              var dataRow = data.data;
              var tblCt = $("#tblCTApproval");
              tblCt.html("");
              var no = 1,
                totalQty = 0,
                totalAmount = 0;
              for (var x in dataRow) {
                var qtynya = dataRow[x].qty,
                    btnAdd = '';
                if(dataRow[x].idcategory=='1' || dataRow[x].idcategory=='2'){
                  qtynya = "<input class='' type='number' value='"+dataRow[x].qty+"' name='qtyAllocation'>";
                  btnAdd = '<a id="btn'+no+'" onclick="addRow(\''+dataRow[x].idpurchase_detail+'\',\''+no+'\',true)" class="btn btn-primary">Add new row</a>'
                }
                var html =
                  '<tr align="center" class="classPulsaDigital'+dataRow[x].idcategory+'" id="row'+no +'">' +
                  "<td>" +
                  no +
                  "</td>" +
                  "<td>" +
                  dataRow[x].product_name +
                  "</td>" +
                  '<td width="200px" id="qty" align="right">' +
                  qtynya+
                  "<input type='hidden' id='qtyBefore' value='"+dataRow[x].qty+"'></td>" +
                  '<td width="30px" align="right">' +
                  replaceDuitTigaDigit(parseFloat(dataRow[x].unit_price_po).toFixed(2)) +
                  "</td>" +
                  '<td style="display:none">'+
                    // '<input min="0" value="0" step="0.5" required onchange="gantiDiscount(\'' +dataRow[x].idpurchase_detail +'\')" class="form-control" type="number" name="discount">'+
                    '<input type="hidden" value="' + dataRow[x].amount_total +'" name="rawAmount">'+
                    '<input type="hidden" value="' + dataRow[x].amount_total +'" name="rawAmountAfterDiscount">'+
                    '<input type="hidden" name="discountPrice"></td>' + 
                    '<input type="hidden" name="idproducts" value="'+ dataRow[x].idproducts +'"></td>' + 
                    '<input type="hidden" name="idpurchase_detail" value="'+ dataRow[x].idpurchase_detail +'">'+
                  '</td>' +
                  '<td width="30px" class="amount" align="right">' +
                  replaceDuitTigaDigit(dataRow[x].amount_total) +
                  "</td>" +
                  '<td id="inputNumber'+dataRow[x].idcategory+'"><input class="form-control" onchange="autoCompleteBnumber(\'row'+ no +'\')" type="number" name="stMsisdn"> - <input type="number" name="endMsisdn" class="form-control"></td>' +
                  '<td>'+btnAdd+'</td>'
                  "</tr>";
                tblCt.append(html);
                if (dataRow[x].idcategory != 3) {
                  $("#inputNumber" + dataRow[x].idcategory + ' input').attr('required');
                }else{
                  $("#inputNumber" + dataRow[x].idcategory + ' input').hide();
                }
                totalQty += parseFloat(dataRow[x].qty);
                console.log(dataRow[x].amount_total);
                totalAmount += parseFloat(dataRow[x].amount_total);
                no++;
              }

              $("#totalQty").html(totalQty);
              $("#idpo").val(dataRow[x].idpurchase_order);
              $("input[name='created_by']").val(localStorage["id"]);
              $("#totalAmount").html(replaceDuitTigaDigit(totalAmount));
              readyFormSubmit();
              // console.log(data.data);
            }
          }
        }
      });
    });
  }
  function addRow(idpd,no,firstTime){
    var idtable = "row"+no,
        btnAddnya = $("#btn"+no),
        valueqty = 0;
    $("#"+idtable).find("td#qty").each (function(el,i) {
      if(firstTime){
        valueqty = $(this).find('input').val();
      }else{
        valueqtyNew = $(this).find('input').val();
        valueqtyBefore = $(this).find('input#qtyBefore').val();
        valueqty = parseFloat(valueqtyBefore) - parseFloat(valueqtyNew);
      }
    });
    debugger;
    $.ajax({
        url: api_url + "purchase/getPurchaseDetailbyId?id=" + idpd,
        type: "get",
        dataType: "json",
        beforeSend: function() {},
        success:function(data){
          var dataRow = data.data;
          var tblCt = $("#tblCTApproval"),
              no = tblCt.find("tr").length + 1;
          for(var x in dataRow){
            var qtynya = dataRow[x].qty,
                    btnAdd = '';
          if(dataRow[x].idcategory=='1' || dataRow[x].idcategory=='2'){
            var qtyNew = valueqty;
            if(firstTime){

              qtyNew = parseInt(dataRow[x].qty) - parseInt(valueqty);
            }
            if(qtyNew=="0"){
              showErrorWithNoAction("Oops, change quantity first please");
              return false;
            }
            btnAddnya.remove();
            
            qtynya = "<input class='' type='number' value='"+qtyNew+"' name='qtyAllocation'>";
            btnAdd = '<a id="btn'+no+'" onclick="addRow(\''+dataRow[x].idpurchase_detail+'\',\''+no+'\')" class="btn btn-primary">Add new row</a>'
          }


          var html =
              '<tr align="center" class="classPulsaDigital'+dataRow[x].idcategory+'" id="row'+ no +'">' +
              "<td>" +
              no +
              "</td>" +
              "<td>" +
              dataRow[x].product_name +
              "</td>" +
              '<td width="200px" id="qty" align="right">' +
              qtynya+
              "<input type='hidden' id='qtyBefore' value='"+qtyNew+"'></td>" +
              '<td width="30px" align="right">' +
              replaceDuitTigaDigit(parseFloat(dataRow[x].unit_price_po).toFixed(2)) +
              "</td>" +
              '<td style="display:none">'+
                // '<input min="0" value="0" step="0.5" required onchange="gantiDiscount(\'' +dataRow[x].idpurchase_detail +'\')" class="form-control" type="number" name="discount">'+
                '<input type="hidden" value="' + dataRow[x].amount_total +'" name="rawAmount">'+
                '<input type="hidden" value="' + dataRow[x].amount_total +'" name="rawAmountAfterDiscount">'+
                '<input type="hidden" name="discountPrice"></td>' + 
                '<input type="hidden" name="idproducts" value="'+ dataRow[x].idproducts +'"></td>' + 
                '<input type="hidden" name="idpurchase_detail" value="'+ dataRow[x].idpurchase_detail +'">'+
              '</td>' +
              '<td width="30px" class="amount" align="right">' +
              replaceDuitTigaDigit(dataRow[x].amount_total) +
              "</td>" +
              '<td id="inputNumber'+dataRow[x].idcategory+'"><input class="form-control" onchange="autoCompleteBnumber(\'row'+ no +'\')" type="number" name="stMsisdn"> - <input type="number" name="endMsisdn" class="form-control"></td>' +
              '<td>'+btnAdd+'</td>'
              "</tr>";
            tblCt.append(html);
            if (dataRow[x].idcategory != 3) {
              $("#inputNumber" + dataRow[x].idcategory + ' input').attr('required');
            }else{
              $("#inputNumber" + dataRow[x].idcategory + ' input').hide();
            }
          }
        }
    });
    
  }
</script>
