<div class="row">
    <div class="col-md-12" id="ctTrx">

        <div class="card">

            <div class="card-body">
                <center>
                    <h4 class="card-title" id="rejectTitle">PURCHASE ORDER ALLOCATION</h4>
                </center>

                <div class="wells">
                    <div class="row">
                        <div class="col-md-12">
                            <table style="font-size: 13px">
                                <tr>
                                    <td width="150px">PO Number</td>
                                    <td width="50px">:</td>
                                    <td>[PONUMBER]</td>
                                </tr>
                                <tr>
                                    <td width="150px">Payment</td>
                                    <td width="50px">:</td>
                                    <td>Consignment</td>
                                </tr>
                                <tr>
                                    <td width="150px">TO</td>
                                    <td width="50px">:</td>
                                    <td>PERSONAL SALES</td>
                                </tr>
                                <tr>
                                    <td width="150px">Municipio</td>
                                    <td width="50px">:</td>
                                    <td>[MUNICIPIO]</td>
                                </tr>
                                <tr>
                                    <td width="150px">MUCO</td>
                                    <td width="50px">:</td>
                                    <td>[MUCONAME]</td>
                                </tr>
                                <tr>
                                    <td width="150px">Attention</td>
                                    <td width="50px">:</td>
                                    <td>Finance</td>
                                </tr>
                                <tr>
                                    <td>Date</td>
                                    <td width="50px">:</td>
                                    <td>[DATEPURCHASE]</td>
                                </tr>
                                <tr id="rowReject" style="display:none;">
                                    <td>Rejected Reason</td>
                                    <td width="50px">:</td>
                                    <td style="color:red">[REJECTREASON]</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <hr>
                <form action="javascript:void(0)" method="POST" id="frmAllocation">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <th>No</th>
                                <th>Product</th>
                                <th>Qty</th>
                                <th width="50px">Price (USD)</th>
                                <th width="50px">Amount (USD)</th>
                                <th>Block Range Number</th>
                            </thead>
                            <tbody id="tblCTReeive">

                            </tbody>
                        </table>

                        <input type="hidden" name="idallocation" id="idallocation">
                        <input type="hidden" name="idpo" id="idpo">
                        <input type="hidden" name="created_by" id="creted_by">
                    </div>
                    <hr>

                    <div id="formSubmit">
                        <button type="submit" onclick="readyFormReceive()" class="btn btn-outline-success btn-fw"><i
                                class="mdi mdi-send"></i>Submit</button>
                        <button type="reset" onclick="cancelTransaction()" class="btn btn-outline-info btn-fw">
                            <i class="mdi mdi-cancel"></i>Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

    function readyFormReceive() {
        $.ajax({
            url: api_url + 'allocation/receivePO',
            method: 'POST',
            data: $("form").serialize(),
            dataType: 'json',
            success: function (ar) {
                if (ar.success) {
                    swal({
                        title: "Success",
                        text: ar.msg,
                        type: "success",
                        showCancelButton: false,
                        confirmButtonColor: "#4fa7f3",
                        cancelButtonColor: "#d57171",
                        allowOutsideClick: false,
                        confirmButtonText: "Back to List Allocation"
                    }).then(function () {
                        var url = "po/receive.html",
                        modul = "Purchase Order",
                        title = "Purchase Order Receive";
                        moveUrl(url, modul, title);
                        $("form")[0].reset();
                    });
                } else {
                    showErrorWithNoAction(ar.msg);
                }
            },
            error: function (xhr) {
                showErrorWithNoAction(
                "Internal server error. Please contact administrator website. <br>" + xhr.status + ' ' + xhr.statusText
                );
            }
            
        });
    }
    function getData(idal,idus) {
        $.ajax({
            url: api_url + 'allocation/getAllocation',
            data: {iduser:idus,id:idal},
            method: 'get',
            type: 'json',
            success:function(dt){
                
            },
            error:function(xhr){
                showErrorWithNoAction("Oops! Something went wrong. Please contact system administrator <br><small>" + xhr.status + ' ' + xhr.statusText + '</small>');
            }
        })
    }
    function setTableData(dt) {
        var no = 1,
            tbl = $("#tblCTReeive");
        tbl.html('');
        for (let x = 0; x < dt.length; x++) {
            const el = dt[x];
            var qty = el.end_number - el.start_number + 1;
            var up = el.total_price / qty;
            var ct = '<tr>'
                + '<td>'+ no +'</td>'
                + '<td>'+ el.product_name +'</td>'
                + '<td>'+ qty +'</td>'
                + '<td>'+ replaceDuitTigaDigit(parseFloat(up).toFixed(2)) +'</td>'
                + '<td>'+ replaceDuitTigaDigit(parseFloat(el.total_price).toFixed(2)) +'</td>'
                + '<td>'+ el.start_number + ' - ' + el.end_number +'</td>'
                + '</tr>';

            tbl.append(ct);
            no++
            
        }
    }
    
    function setSummary(summaryData) {
        var konten = $("#ctTrx").html();
        konten = replaceAll(
            konten,
            "[PONUMBER]",
            summaryData.purchase_code
        );
        konten = replaceAll(
            konten,
            "[MUNICIPIO]",
            summaryData.municipioname
        );
        konten = replaceAll(konten, "[MUCONAME]", summaryData.full_name);
        konten = replaceAll(
            konten,
            "[ARCOAPPROVED]",
            summaryData.fnameparent
        );
        konten = replaceAll(konten, "[ARCOAREA]", summaryData.area);
        konten = replaceAll(konten, "[PSAPPROVED]", summaryData.psname);
        konten = replaceAll(
            konten,
            "[REJECTREASON]",
            summaryData.reason_reject
        );
        konten = replaceAll(
            konten,
            "[DATEPURCHASE]",
            datePHPJS("d, M Y", strtotime(summaryData.purchase_date))
        );
        $("#ctTrx").html(konten);
        $("#created_by").val(localStorage['id']);
        $("#idpo").val(summaryData.idpurchase_order);
        $("#idallocation").val(summaryData.idallocation);
    }
    function cancelTransactionReceive() {
        var url = "po/allocation.html",
            modul = "Purchase Order",
            title = "Purchase Order Allocation";

        moveUrl(url, modul, title, "", "");
    }
</script>