<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    List Purchase Order
                </h4>


                <div class="table-responsive">
                    <table class="dataTable table table-hovered">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Allocation Number</th>
                                <th>PO Number</th>
                                <th>Allocation Date</th>
                                <th>Total Payment</th>
                                <th>Status</th>
                                <th style="width: 120px;">Action</th>
                            </tr>
                        </thead>
                        <tbody id="ct">

                        </tbody>
                    </table>
                </div>



            </div>
        </div>

    </div>
</div>

<script>
var iduser = localStorage['id'];
$(document).ready(function() {
    getData();
});

function getData() {
    
    $.ajax({
        url: api_url + 'allocation/getAllocation',
        data: {iduser:iduser},
        method: 'get',
        dataType: 'json',
        success:function(dt){
            if (dt.success) {
                setTable(dt.data);
            }else{
                showErrorWithNoAction(dt.msg);
            }
        },
        error:function(xhr){
            showErrorWithNoAction("Oops! Something went wrong. Please contact system administrator <br><small>" + xhr.status + ' ' + xhr.statusText + '</small>');
        }
        
    });
}

function setTable(data) {
    var no = 1,
        tbl = $("#ct");
    tbl.html('');
    for (let i = 0; i < data.length; i++) {
        const el = data[i];

        var button;
        if (el.statusId=="11") {
            button = '<button onclick="openDetail(\''+el.idallocation+'\',\'fu\')" class="btn btn-primary">Follow Up</button>';
        }else{
            button = '';
        }
        
        var html = '<tr id="row'+i+'">'
            + '<td>'+no+'</td>'
            + '<td><a href="javascript:void(0)" onclick="openDetail(\''+el.idallocation+'\',\'view\')">'+el.allocation_code+'</a></td>'
            + '<td>'+el.purchase_code+'</td>'
            + '<td>'+datePHPJS('d, M Y',new Date(el.allocation_date))+'</td>'
            + '<td>'+el.total_payment+'</td>'
            + '<td><label class="badge badge-'+el.statusClass+'" > '+el.statusName+'</label></td>'
            + '<td>'+ button +'</td>'
            +'</tr>';
        tbl.append(html);
        no++;
    }
    runDataTableCustomAllocation();
}

function openDetail(id,view) {
    var url = 'po/receiveDetail.html',
        title = "Receive",
        modul = "Purchase Order";
    moveUrl(url, title, modul, function () {
        getDataDetail(id,view);
    });
}
function getDataDetail(id,view) {
    $.ajax({
        url: api_url + 'allocation/getAllocation',
        data: { id: id, iduser: iduser },
        method: 'get',
        dataType: 'json',
        success: function (dt) {
            if (dt.success == true && dt.data.length > 0) {
                setSummary(dt.data[0]);
                setTableData(dt.allocation_data);
            } else {
                showErrorWithNoAction("Data missing");
                cancelTransactionReceive();

            }
        },
        error: function () {
            showErrorWithNoAction("Oops! Something went wrong. Please contact system administrator <br><small>" + xhr.status + ' ' + xhr.statusText + '</small>');
        }
    });

    if(view=="view"){
        $("#formSubmit").hide();
    }else{
        $("#formSubmit").show();
    }
}

</script>