<style>
    table thead tr th{
        background:#da2334;
        color:white;
        vertical-align: middle !important;
        text-align: center;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    Debt by Purchase Order
                </h4>
                <div class="wells"
                    style="background:rgba(255,255, 255, .9); border-radius:2px;padding:10px;box-shadow: inset 0 0px 20px 2px #f9f9f9;border:solid 1px #eaeaea;">

                    <p data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                        aria-controls="collapseExample" style="cursor:pointer">Search Option</p>
                    <div class="col-md-12 collapse" id="collapseExample">
                        <form action="javascript:void(0)" id="frmSearch">
                            <div class="row">
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label for="inputArco">Arco</label>
                                        <select onchange="getMuco()" class="form-control input-sm" name="arcoId"
                                            id="inputArco">
                                            <option value="0">Select Arco</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputMuco">Muco</label>
                                        <select onchange="getData('muco')" class="form-control input-sm" name="mucoId"
                                            id="inputMuco">
                                            <option value="0">Select Muco</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputDate">Cut Off Date</label>
                                        <input onchange="getData('date')" class="form-control input-sm"
                                            type="date" data-date-format="YYYY-MM-DD" id="inputDate" name="periodDate">
                                    </div>
                                </div>

                                <div class="col-md-6">


                                    <div class="form-group">
                                        <label for="inputProductSum">Product Summary</label>
                                        <select onchange="getProducts()" class="form-control input-sm"
                                            name="productSumId" id="inputProductSum">
                                            <option value="0">Select Product Summary</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputProduct">Product Name</label>
                                        <select onchange="getData()" class="form-control input-sm" name="productId"
                                            id="inputProduct">
                                            <option value="0">Select Product</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <button class="btn btn-outline-primary" type="submit">Submit</button>
                                        <button class="btn btn-outline-danger" onchange="resetTable()" type="reset"><i
                                                class="menu-icon mdi mdi-refresh"></i> Reset Filter</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
                <hr>
                <div class="table-responsive">
                    <table class="table dataTable table-bordered">
                        <thead>
                            <tr>
                                <th rowspan="2" id="tblRow">Area</th>
                                <th rowspan="2" id="">Product</th>
                                <th colspan="2" id="">PO</th>
                                <th colspan="2" id="">Payment</th>
                                <th colspan="2" id="">Debt</th>
                            </tr>
                            <tr>
                                <td>QTY</td>
                                <td>Amount</td>
                                <td>QTY</td>
                                <td>Amount</td>
                                <td>QTY</td>
                                <td>Amount</td>
                            </tr>
                        </thead>
                        <tbody id="bodyData">
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        runPages();
        getDataArco();
        getProductsCat();
        setInputDate("[type='date']");
        getData('');

    });

    function getDataArco() {
        $.ajax({
            url: api_url + 'Data/getArco',
            method: 'GET',
            dataType: 'json',
            success: function (dt) {
                if (dt.success) {
                    var selArco = $("#inputArco");
                    for (let n = 0; n < dt.data.length; n++) {
                        const el = dt.data[n];
                        var optArco = "<option value='" + el.idusers + "'>" + el.name + "</option>";
                        selArco.append(optArco);
                    }
                } else {
                    returnErrorMessage(dt.msg);
                }
            },
            error: function (xhr) {
                showErrorWithNoAction(
                    "Internal server error. Please contact administrator website. <br>" + xhr.status + ' ' + xhr.statusText
                );
            }
        })
    }
    function getMuco() {
        var val = $("#inputArco").val();
        getData('arco');
        var selMuco = $("#inputMuco");
        selMuco.html('');
        if (val != "0") {
            $.ajax({
                url: api_url + 'Data/getMuco',
                data: { idarco: val },
                method: 'GET',
                dataType: 'json',
                success: function (dt) {
                    if (dt.success) {
                        selMuco.html('<option value="0">Select Muco</option>');
                        for (let n = 0; n < dt.data.length; n++) {
                            const el = dt.data[n];
                            var optArco = "<option value='" + el.idusers + "'>" + el.municipioname + "</option>";
                            selMuco.append(optArco);
                        }
                    } else {
                        returnErrorMessage(dt.msg);
                    }
                },
                error: function (xhr) {
                    showErrorWithNoAction(
                        "Internal server error. Please contact administrator website. <br>" + xhr.status + ' ' + xhr.statusText
                    );
                }
            });
        }
    }
    function getProductsCat() {
        $.ajax({
            url: api_url + 'Data/getProductsCat',
            method: 'GET',
            dataType: 'json',
            success: function (dt) {
                if (dt.success) {
                    var selProdCat = $("#inputProductSum");
                    for (let n = 0; n < dt.data.length; n++) {
                        const el = dt.data[n];
                        var optProductCat = "<option value='" + el.idproducts_category + "'>" + el.category_name + "</option>";
                        selProdCat.append(optProductCat);
                    }
                } else {
                    returnErrorMessage(dt.msg);
                }
            },
            error: function (xhr) {
                showErrorWithNoAction(
                    "Internal server error. Please contact administrator website. <br>" + xhr.status + ' ' + xhr.statusText
                );
            }
        });
    }
    function getProducts() {
        var val = $("#inputProductSum").val();
        getData();
        if (val != "0") {
            $.ajax({
                url: api_url + 'Data/getProducts',
                data: { idcat: val },
                method: 'GET',
                dataType: 'json',
                success: function (dt) {
                    if (dt.success) {
                        var selProd = $("#inputProduct");
                        selProd.html('');
                        selProd.append('<option value="0">Select Product</option>');
                        for (let n = 0; n < dt.data.length; n++) {
                            const el = dt.data[n];
                            var optArco = "<option value='" + el.idproducts + "'>" + el.product_name + "</option>";
                            selProd.append(optArco);
                        }
                    } else {
                        returnErrorMessage(dt.msg);
                    }
                },
                error: function (xhr) {
                    showErrorWithNoAction(
                        "Internal server error. Please contact administrator website. <br>" + xhr.status + ' ' + xhr.statusText
                    );
                }
            });
        }
    }

    function getData() {
        var period = $("#inputDate").val(),
            // periodSplit = period.split("-"),
            // periodStart = datePHPJS('Y-m-d', new Date(periodSplit[0])),
            // periodEnd = datePHPJS('Y-m-d', new Date(periodSplit[1])),
            column = $("#inputColumn").val(),
            row = $("#inputRow").val();
        var params = { cutoffDate: period, col: column, row: row };
        var inputParamArco = $("#inputArco").val(),
            inputParamMuco = $("#inputMuco").val(),
            inputParamStatus = $("#inputStatus").val(),
            inputParamProduct = $("#inputProduct").val(),
            inputParamProductSum = $("#inputProductSum").val();
        if (inputParamArco != "0") {
            params['idarco'] = inputParamArco;
        };
        if (inputParamStatus != "0") {
            params['idstatus'] = inputParamStatus;
        };
        if (inputParamMuco != "0") {
            params['idmuco'] = inputParamMuco;
        };
        if (inputParamProduct != "0") {
            params['idproduct'] = inputParamProduct;
        };
        if (inputParamProductSum != "0") {
            params['idproductsum'] = inputParamProductSum;
        };

        $.ajax({
            url: api_url + 'Report/getReportDebtPO',
            data: params,
            method: 'GET',
            dataType: 'json',
            success: function (dt) {
                if (dt.success) {
                    setTableData(dt);
                }
            }
        });
    }
    function setTableData(dt) {
        var no = 1,
            tblBody = $("#bodyData"),
            html = "",
            totalAll = 0;

        tblBody.html(html);
        var idmunicipio = 0;
        for (var i in dt.grouping) {
            const el = dt.grouping[i];
            var totalPriceArea = 0, totalPriceAreaHeading = 0;;
            if (el.name != "grand_total") {
                for (var lgm in dataGroupMuco) {
                    var sisaBayarnya = 0;
                    const elm = dataGroupMuco[lgm];
                    var dataBody = dt.data[el.idarco].data[elm.idmuco];
                    if (dataBody != undefined) {
                        for (var x in dataBody) {
                            var elx = dataBody[x],
                                totalPayed = (elx.PaymentAmount == null) ? 0 : elx.PaymentAmount;

                            sisaBayar = parseFloat(elx.totalPOPayment) - parseFloat(totalPayed);
                            sisaBayarnya += sisaBayar;
                            console.log('sisa',sisaBayar);
                            console.log('payed',totalPayed);
                        }
                        totalPriceAreaHeading += sisaBayarnya;
                    }
                }
                html += '<tr id="' + el.idarco + '" style="background:#ccc;"><td colspan="7">' + el.name + '</td><td>' + replaceDuitTigaDigit(parseFloat(totalPriceAreaHeading).toFixed(2)) + '</td></tr>';

                var dataGroupMuco = dt.groupingMuco;
                for (var lgm in dataGroupMuco) {
                    var totalperMuco = 0;
                    var elm = dataGroupMuco[lgm];
                    var dataBody = dt.data[el.idarco].data[elm.idmuco];
                    if (dataBody != undefined) {
                        for (var x in dataBody) {
                            var elx = dataBody[x],
                                totalItemPayed = (elx.jmlqtypay==null)?0:elx.jmlqtypay,
                                totalPayed = (elx.totalPayed==null)?0:elx.totalPayed,
                                pAmount = (elx.PaymentAmount==null)?0:elx.PaymentAmount,
                                sisaItem = parseFloat(elx.qtyProduct) - parseFloat(totalItemPayed),
                                poPayment = (elx.totalPOPayment==null)?0: elx.totalPOPayment,
                                poAmount = parseFloat(elx.qtyProduct) * parseFloat(elx.upoTotal).toFixed(2);
                                jmlqtypay = (elx.jmlqtypay==null)?0: elx.jmlqtypay;
                                // sisaBayar =  parseFloat(elx.totalPrice) - parseFloat(totalPayed);
                                sisaBayar =  parseFloat(poPayment) - parseFloat(pAmount);
                            html += '<tr>'
                                + '<td>' + elx.municipio + '</td>'
                                + '<td>' + elx.purchase_code + '</td>'
                                + '<td>' + replaceDuitTigaDigit(parseFloat(elx.qtyProduct)) + '</td>'
                                + '<td>' + replaceDuitTigaDigit(parseFloat(poPayment).toFixed(2)) + '</td>'
                                + '<td>' + replaceDuitTigaDigit(parseFloat(jmlqtypay).toFixed(0)) + '</td>'
                                + '<td>' + replaceDuitTigaDigit(parseFloat(pAmount).toFixed(2)) + '</td>'
                                + '<td>' + replaceDuitTigaDigit(parseFloat(sisaItem).toFixed(0)) + '</td>'
                                + '<td>' + replaceDuitTigaDigit(parseFloat(sisaBayar).toFixed(2)) + '</td>'
                                + '</tr>';
                            totalPriceArea += sisaBayar;
                            totalperMuco += sisaBayar;
                        }
                        html += '</tr><tr style="background:#eaeaea;"><td colspan="7" align="right">Sub Total ' + elm.name + '</td><td>' + replaceDuitTigaDigit(parseFloat(totalperMuco).toFixed(2)) + '</td>';
                    }
                }
                console.log(totalPriceArea);
                totalAll += totalPriceArea;
            }

        }
        html += '</tr><tr style="background:#333;color:#fff;"><td colspan="7" align="right">Total</td><td>' + replaceDuitTigaDigit(parseFloat(totalAll).toFixed(2)) + '</td>'

        tblBody.append(html);
    }

</script>