<style>
    table thead th {
        background: #da2334;
        color: white;
        vertical-align: middle !important;
        text-align: center;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    Debt by Products
                </h4>
                <div class="wells"
                    style="background:rgba(255,255, 255, .9); border-radius:2px;padding:10px;box-shadow: inset 0 0px 20px 2px #f9f9f9;border:solid 1px #eaeaea;">

                    <p data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                        aria-controls="collapseExample" style="cursor:pointer">Search Option</p>
                    <div class="col-md-12 collapse" id="collapseExample">
                        <form action="javascript:void(0)" id="frmSearch">
                            <div class="row">
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label for="inputArco">Arco</label>
                                        <select onchange="getMuco()" class="form-control input-sm" name="arcoId"
                                            id="inputArco">
                                            <option value="0">Select Arco</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputMuco">Muco</label>
                                        <select onchange="getData('muco')" class="form-control input-sm" name="mucoId"
                                            id="inputMuco">
                                            <option value="0">Select Muco</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputDate">Cut Off Date</label>
                                        <input onchange="getData('date')" class="form-control input-sm"
                                            type="date" id="inputDate" name="periodDate">
                                    </div>
                                </div>

                                <div class="col-md-6">


                                    <div class="form-group">
                                        <label for="inputProductSum">Product Summary</label>
                                        <select onchange="getProducts()" class="form-control input-sm"
                                            name="productSumId" id="inputProductSum">
                                            <option value="0">Select Product Summary</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputProduct">Product Name</label>
                                        <select onchange="getData()" class="form-control input-sm" name="productId"
                                            id="inputProduct">
                                            <option value="0">Select Product</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <button class="btn btn-outline-primary" type="submit">Submit</button>
                                        <button class="btn btn-outline-danger" onchange="resetTable()" type="reset"><i
                                                class="menu-icon mdi mdi-refresh"></i> Reset Filter</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
                <hr>
                <div class="table-responsive">
                    <table class="table dataTable table-bordered">
                        <thead>
                            <th id="tblRow">Area</th>
                            <th id="">Product</th>
                            <th id="">Qty</th>
                            <th id="">Price</th>
                            <th>Total</th>
                        </thead>
                        <tbody id="bodyData">
                            <tr id="groupData">

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        runPages();
        getDataArco();
        getProductsCat();
        setInputDate("[type='date']");
        getData('');
    });

    function getDataArco() {
        $.ajax({
            url: api_url + 'Data/getArco',
            method: 'GET',
            dataType: 'json',
            success: function (dt) {
                if (dt.success) {
                    var selArco = $("#inputArco");
                    for (let n = 0; n < dt.data.length; n++) {
                        const el = dt.data[n];
                        var optArco = "<option value='" + el.idusers + "'>" + el.name + "</option>";
                        selArco.append(optArco);
                    }
                } else {
                    returnErrorMessage(dt.msg);
                }
            },
            error: function (xhr) {
                showErrorWithNoAction(
                    "Internal server error. Please contact administrator website. <br>" + xhr.status + ' ' + xhr.statusText
                );
            }
        })
    }
    function getMuco() {
        var val = $("#inputArco").val();
        getData('arco');
        var selMuco = $("#inputMuco");
        selMuco.html('');
        if (val != "0") {
            $.ajax({
                url: api_url + 'Data/getMuco',
                data: { idarco: val },
                method: 'GET',
                dataType: 'json',
                success: function (dt) {
                    if (dt.success) {
                        selMuco.html('<option value="0">Select Muco</option>');
                        for (let n = 0; n < dt.data.length; n++) {
                            const el = dt.data[n];
                            var optArco = "<option value='" + el.idusers + "'>" + el.municipioname + "</option>";
                            selMuco.append(optArco);
                        }
                    } else {
                        returnErrorMessage(dt.msg);
                    }
                },
                error: function (xhr) {
                    showErrorWithNoAction(
                        "Internal server error. Please contact administrator website. <br>" + xhr.status + ' ' + xhr.statusText
                    );
                }
            });
        }
    }
    function getProductsCat() {
        $.ajax({
            url: api_url + 'Data/getProductsCat',
            method: 'GET',
            dataType: 'json',
            success: function (dt) {
                if (dt.success) {
                    var selProdCat = $("#inputProductSum");
                    for (let n = 0; n < dt.data.length; n++) {
                        const el = dt.data[n];
                        var optProductCat = "<option value='" + el.idproducts_category + "'>" + el.category_name + "</option>";
                        selProdCat.append(optProductCat);
                    }
                } else {
                    returnErrorMessage(dt.msg);
                }
            },
            error: function (xhr) {
                showErrorWithNoAction(
                    "Internal server error. Please contact administrator website. <br>" + xhr.status + ' ' + xhr.statusText
                );
            }
        });
    }
    function getProducts() {
        var val = $("#inputProductSum").val();
        getData();
        if (val != "0") {
            $.ajax({
                url: api_url + 'Data/getProducts',
                data: { idcat: val },
                method: 'GET',
                dataType: 'json',
                success: function (dt) {
                    if (dt.success) {
                        var selProd = $("#inputProduct");
                        selProd.html('');
                        selProd.append('<option value="0">Select Product</option>');
                        for (let n = 0; n < dt.data.length; n++) {
                            const el = dt.data[n];
                            var optArco = "<option value='" + el.idproducts + "'>" + el.product_name + "</option>";
                            selProd.append(optArco);
                        }
                    } else {
                        returnErrorMessage(dt.msg);
                    }
                },
                error: function (xhr) {
                    showErrorWithNoAction(
                        "Internal server error. Please contact administrator website. <br>" + xhr.status + ' ' + xhr.statusText
                    );
                }
            });
        }
    }

    function getData() {
        var period = $("#inputDate").val(),
            // periodSplit = period.split("-"),
            // periodStart = datePHPJS('Y-m-d', new Date(periodSplit[0])),
            // periodEnd = datePHPJS('Y-m-d', new Date(periodSplit[1])),
            column = $("#inputColumn").val(),
            row = $("#inputRow").val();
        var params = { cutoffDate: period, col: column, row: row };
        var inputParamArco = $("#inputArco").val(),
            inputParamMuco = $("#inputMuco").val(),
            inputParamStatus = $("#inputStatus").val(),
            inputParamProduct = $("#inputProduct").val(),
            inputParamProductSum = $("#inputProductSum").val();
        if (inputParamArco != "0") {
            params['idarco'] = inputParamArco;
        };
        if (inputParamStatus != "0") {
            params['idstatus'] = inputParamStatus;
        };
        if (inputParamMuco != "0") {
            params['idmuco'] = inputParamMuco;
        };
        if (inputParamProduct != "0") {
            params['idproduct'] = inputParamProduct;
        };
        if (inputParamProductSum != "0") {
            params['idproductsum'] = inputParamProductSum;
        };
        
        $.ajax({
            url: api_url + 'Report/getReportDebt',
            data: params,
            method: 'GET',
            dataType: 'json',
            success:function(dt) {
                if(dt.success){
                    setTableData(dt);
                }
            }
        });
    }
    function setTableData(dt) {
        var no = 1,
            tblBody = $("#bodyData"),
            html = "",
            totalAll = 0;

        tblBody.html(html);
        var idmunicipio = 0;
        for(var i in dt.grouping){
            const el = dt.grouping[i];
            var totalPriceArea = 0, totalPriceAreaHeading = 0;;
            if(el.name!="grand_total"){
                for (var lgm in dataGroupMuco) {
                    const elm = dataGroupMuco[lgm];
                    var dataBody = dt.data[el.idarco].data[elm.idmuco];
                    if (dataBody != undefined) {
                        for (var x in dataBody) {
                            var elx = dataBody[x],
                                totPayment = parseFloat(elx.itemPayed) * parseFloat(elx.unitPriceProduct);
                            totalPriceAreaHeading += elx.totalPrice ;
                        }
                    }
                }
                html += '<tr id="' + el.idarco + '" style="background:#ccc;"><td colspan="4">' + el.name + '</td><td>'+ replaceDuitTigaDigit(totalPriceAreaHeading)+'</td></tr>';
                var idmuco = [];
                var dataGroupMuco = dt.groupingMuco;
                for(var lgm in dataGroupMuco){
                    if(idmuco.includes(dataGroupMuco[lgm]['idmuco'])){
                        // return;
                    }else{

                        var totalperMuco = 0;
                        var elm = dataGroupMuco[lgm];
                        var dataBody = dt.data[el.idarco].data[elm.idmuco];
                        if (dataBody != undefined) {
                            for (var x in dataBody) {
                                var elx = dataBody[x];
                                var itemPayed = elx.itemPayed,
                                    totPayment = parseFloat(itemPayed) * parseFloat(elx.unitPriceProduct),
                                    sisaQty = parseFloat(elx.qtyTotalProduct) - parseFloat(elx.qtyPayedProduct),
                                    sisaHutang = parseFloat(elx.totalPrice);
                                
                                html += '<tr>'
                                    + '<td>' + elx.municipio + '</td>'
                                    + '<td>' + elx.product_name + '</td>'
                                    + '<td>' + sisaQty + '</td>'
                                    + '<td>' + replaceDuitTigaDigit(parseFloat(elx.unitPriceProduct).toFixed(2)) + '</td>'
                                    // + '<td>' + replaceDuitTigaDigit(parseFloat(sisaHutang.toFixed(2))) + '</td>'
                                    + '<td>' + replaceDuitTigaDigit(parseFloat(sisaHutang.toFixed(2))) + '</td>'
                                    + '</tr>';
                                totalPriceArea += sisaHutang;
                                totalperMuco += sisaHutang;
                            }
                            html += '</tr><tr style="background:#eaeaea;"><td colspan="4" align="right">Sub Total '+ elm.name +'</td><td>' + replaceDuitTigaDigit(parseFloat(totalperMuco)) + '</td>';
                        }
                    }
                    idmuco.push(dataGroupMuco[lgm]['idmuco']);

                    
                }
                
                totalAll += totalPriceArea;
            }
           
        }
        html += '</tr><tr style="background:#333;color:#fff;"><td colspan="4" align="right">Total</td><td>' + replaceDuitTigaDigit(parseFloat(totalAll).toFixed(2)) + '</td>'

        tblBody.append(html);

        // for(var i in dt){
        //     const el = dt[i],
        //         dataEl = el.data;
        //     if (el.namagroup!=undefined) {
        //         thGroup += '<tr id="'+el.idgroup+'" style="background:#eaeaea;"><td colspan="5">'+el.namagroup+'</tr>';
        //         var thBody = "";
        //         tblBody.append(thGroup);
                
        //         for(var x in dataEl){
                    // thBody += '<tr>'
                    //     + '<td>'+ dataEl[x].municipio + '</td>'
                    //     + '<td>'+ dataEl[x].product_name +'</td>'
                    //     + '<td>'+ dataEl[x].qtyProduct +'</td>'
                    //     + '<td>'+ dataEl[x].unitPriceProduct +'</td>'
                    //     + '<td>'+ dataEl[x].totalPrice +'</td>'
                    //     + '</tr>';
        //             $("#"+el.idgroup).append(thBody);
        //         }
        //     }else{
        //         thGroup += '<tr style="background:#eaeaea;"><td colspan="5"></tr>';
        //     }
        // }
    }

</script>