<style>
    table thead th {
        background: #da2334;
        color: white;
        vertical-align: middle !important;
        text-align: center;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    Payment Status
                </h4>
                <div class="wells"
                    style="background:rgba(255,255, 255, .9); border-radius:2px;padding:10px;box-shadow: inset 0 0px 20px 2px #f9f9f9;border:solid 1px #eaeaea;">

                    <p data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                        aria-controls="collapseExample" style="cursor:pointer">Search Option</p>
                    <div class="col-md-12 collapse" id="collapseExample">
                        <form action="javascript:void(0)" id="frmSearch">
                            <div class="row">
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label for="inputArco">Arco</label>
                                        <select onchange="getMuco()" class="form-control input-sm" name="arcoId"
                                            id="inputArco">
                                            <option value="0">Select Arco</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputMuco">Muco</label>
                                        <select onchange="getData('muco')" class="form-control input-sm" name="mucoId"
                                            id="inputMuco">
                                            <option value="0">Select Muco</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputNextIncharge">Next Incharge</label>
                                        <select onchange="getData('nextPIC')" class="form-control input-sm"
                                            name="nextIncharge" id="inputNextIncharge">
                                            <option value="0">Select Next PIC</option>
                                            <option value="Muco">MUCO</option>
                                            <option value="Arco">ARCO</option>
                                            <option value="Personal Sales">PERSONAL SALES</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="inputDate">Date PO</label>
                                        <input onchange="getData('date')" class="form-control input-sm"
                                            type="datetimepicker" id="inputDate" name="periodDate">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputStatus">Status</label>
                                        <select onchange="getData('status')" class="form-control input-sm"
                                            name="statusId" id="inputStatus">
                                            <option value="0">Select Status</option>
                                            <option value="1">OPEN</option>
                                            <option value="10">APPROVE BY ARCO</option>
                                            <option value="11">APPROVE BY PS</option>
                                            <option value="5">RECEIVE BY MUCO</option>
                                            <option value="13">PARTIAL PAYMENT</option>
                                            <option value="4">CLOSE</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-outline-primary" type="submit">Submit</button>
                                        <button class="btn btn-outline-danger" onchange="resetTable()" type="reset"><i
                                                class="menu-icon mdi mdi-refresh"></i> Reset Filter</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>

                <div class="table-responsive">
                    <table class="table dataTable" id="tblPO">
                        <thead>
                            <th>NO</th>
                            <th>ARCO</th>
                            <th>MUCO</th>
                            <th>PO Number</th>
                            <th>PO Date</th>
                            <th>Amount</th>
                            <th>Status</th>
                            <th>Next Incharge</th>
                        </thead>
                        <tbody id="bodyData"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        runPages();

        getDataArco();
    })

    function getDataArco() {
        $.ajax({
            url: api_url + 'Data/getArco',
            method: 'GET',
            dataType: 'json',
            success: function (dt) {
                if (dt.success) {
                    var selArco = $("#inputArco");
                    for (let n = 0; n < dt.data.length; n++) {
                        const el = dt.data[n];
                        var optArco = "<option value='" + el.idarco + "'>" + el.name + "</option>";
                        selArco.append(optArco);
                    }
                } else {
                    returnErrorMessage(dt.msg);
                }
            },
            error: function (xhr) {
                showErrorWithNoAction(
                    "Internal server error. Please contact administrator website. <br>" + xhr.status + ' ' + xhr.statusText
                );
            }
        })
    }
    function getMuco() {
        var val = $("#inputArco").val();
        getData('arco');
        var selMuco = $("#inputMuco");
        selMuco.html('');
        if (val != "0") {
            $.ajax({
                url: api_url + 'Data/getMucoNew',
                data: { idarco: val },
                method: 'GET',
                dataType: 'json',
                success: function (dt) {
                    if (dt.success) {
                        selMuco.html('<option value="0">Select Muco</option>');
                        for (let n = 0; n < dt.data.length; n++) {
                            const el = dt.data[n];
                            var optArco = "<option value='" + el.idusers + "'>" + el.municipioname + "</option>";
                            selMuco.append(optArco);
                        }
                    } else {
                        returnErrorMessage(dt.msg);
                    }
                },
                error: function (xhr) {
                    showErrorWithNoAction(
                        "Internal server error. Please contact administrator website. <br>" + xhr.status + ' ' + xhr.statusText
                    );
                }
            });
        }
    }
    function getData(by) {
        var period = $("#inputDate").val(),
            periodSplit = period.split("-"),
            periodStart = datePHPJS('Y-m-d', new Date(periodSplit[0])),
            periodEnd = datePHPJS('Y-m-d', new Date(periodSplit[1])),
            column = $("#inputColumn").val(),
            row = $("#inputRow").val();
        var params = { stperiod: periodStart, endperiod: periodEnd };
        if (by == 'arco') {
            params['idarco'] = $("#inputArco").val();
        }
        if (by == 'date') {
            if ($("#inputMuco").val() != 0) {
                params['idmuco'] = $("#inputMuco").val();
            }
            if ($("#inputArco").val() != 0) {
                params['idarco'] = $("#inputArco").val();
            }
        }
        if (by == 'muco') {
            if ($("#inputMuco").val() != 0) {

                params['idmuco'] = $("#inputMuco").val();
            } else {
                params['idarco'] = $("#inputArco").val();
            }
        }
        if (by == 'status') {
            if ($("#inputMuco").val() != 0) {
                params['idmuco'] = $("#inputMuco").val();
            }
            if ($("#inputArco").val() != 0) {
                params['idarco'] = $("#inputArco").val();
            }
            params['idstatus'] = $("#inputStatus").val();
        }
        if (by == 'nextPIC') {
            params['nextpic'] = $("#inputNextIncharge").val();
            if ($("#inputMuco").val() != 0) {
                params['idmuco'] = $("#inputMuco").val();
            }
            if ($("#inputArco").val() != 0) {
                params['idarco'] = $("#inputArco").val();
            }
        }

        params['table'] = 'payment'

        $.ajax({
            url: api_url + 'report/getReportStatus',
            data: params,
            dataType: 'json',
            method: 'GET',
            success: function (data) {
                if (data.success) {
                    setTable(data.data);
                } else {
                    resetTable();
                }
            },
            error: function (xhr) {
                showErrorWithNoAction(
                    "Internal server error. Please contact administrator website. <br>" + xhr.status + ' ' + xhr.statusText
                );
            }
        })
    }
    function setTable(data) {
        var tblBody = $("#bodyData"),
            htmlCol, no = 1;
        tblBody.html('');
        for (var i in data) {
            var dtx = data[i];
            var html = '<tr><td>' + no + '</td>'
                + '<td>' + dtx.areaname + '</td>'
                + '<td>' + dtx.municipioname + '</td>'
                + '<td>' + dtx.purchase_code + '</td>'
                + '<td>' + datePHPJS('Y-m-d', new Date(dtx.purchase_date)) + '</td>'
                + '<td>' + replaceDuitTigaDigit(parseFloat(dtx.jumBayar).toFixed(2)) + '</td>'

                + '<td>' + dtx.statusName + '</td>'
                + '<td>' + dtx.next_incharge + '</td>'
                + '</tr>';
            tblBody.append(html);
            no++;
        }

    }
    function resetTable() {
        $("#bodyData").html('');
        getData();
    }
</script>