<style>
    table thead th {
        background: #da2334;
        color: white;
        vertical-align: middle !important;
        text-align: center;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    Purchase Order Summary
                </h4>
                <div class="wells" style="background:rgba(255,255, 255, .9); border-radius:2px;padding:10px;box-shadow: inset 0 0px 20px 2px #f9f9f9;border:solid 1px #eaeaea;">
                    <p data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" style="cursor:pointer">Search Option</p>
                    <div class="col-md-12 collapse" id="collapseExample">
                        <form action="javascript:void(0)" id="frmSearch">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputArco">Arco</label>
                                    <select onchange="getMuco()" class="form-control input-sm" name="arcoId" id="inputArco">
                                        <option value="0">Select Arco</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="inputMuco">Muco</label>
                                    <select onchange="getData()" class="form-control input-sm" name="mucoId" id="inputMuco">
                                        <option value="0">Select Muco</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="inputProductSum">Product Summary</label>
                                    <select onchange="getProducts()" class="form-control input-sm" name="productSumId" id="inputProductSum">
                                        <option value="0">Select Product Summary</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="inputRow">Row</label>
                                    <select class="form-control input-sm" onchange="getData()" name="rowId" id="inputRow">
                                        <option value="1">MUCO</option>
                                        <option value="2">ARCO</option>
                                        <option value="3">STATUS</option>
                                        <option value="4">PRODUCT SUMMARY</option>
                                        <option value="5">PRODUCT NAME</option>
                                        <option value="6">DATE PO</option>
                                        <option value="7">PERIOD</option>
                                        <option value="8">PO NUMBER</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputDate">Period Date</label>
                                    <input class="form-control input-sm" onchange="getData('date')" type="datetimepicker" id="inputDate" name="periodDate">
                                </div>
                                <div class="form-group">
                                    <label for="inputStatus">Status</label>
                                    <select onchange="getData()" class="form-control input-sm" name="statusId" id="inputStatus">
                                        <option value="0">Select Status</option>
                                        <option value="1">OPEN</option>
                                        <option value="10">APPROVE BY ARCO</option>
                                        <option value="11">APPROVE BY PS</option>
                                        <option value="5">RECEIVE BY MUCO</option>
                                        <option value="13">PARTIAL PAYMENT</option>
                                        <option value="4">CLOSE</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="inputProduct">Product Name</label>
                                    <select onchange="getData()" class="form-control input-sm" name="productId" id="inputProduct">
                                        <option value="0">Select Product</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="inputColumn">Column</label>
                                    <select onchange="getData()" class="form-control input-sm" name="columnId" id="inputColumn">
                                        <option value="1">MUCO</option>
                                        <option value="2">ARCO</option>
                                        <option value="3">STATUS</option>
                                        <option value="4">PRODUCT SUMMARY</option>
                                        <option value="5">PRODUCT NAME</option>
                                        <option selected value="6">DATE PO</option>
                                        <option value="7">PERIOD</option>
                                        <option value="8">PO NUMBER</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button class="btn btn-outline-danger" type="reset">Reset Filter</button>
                                    <button class="btn btn-outline-primary" type="reset">Submit</button>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="table-responsive">
                    <table class="table dataTable table-bordered">
                        <thead>
                            <th id="tblRow">Muco</th>
                            <th style="display:none" id="tblCol"></th>
                            <th>Total</th>
                        </thead>
                        <tbody id="bodyData"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    runPages();
    getDataArco();
    getProductsCat();
    $("form").submit(function() {
        
    });
})
function getDataArco() {
    $.ajax({
        url: api_url + 'Data/getArco',
        method: 'GET',
        dataType: 'json',
        success:function(dt){
            if (dt.success) {
                var selArco = $("#inputArco");
                for (let n = 0; n < dt.data.length; n++) {
                    const el = dt.data[n];
                    var optArco = "<option value='"+el.idusers+"'>"+el.name+"</option>";
                    selArco.append(optArco);
                }
            }else{
                returnErrorMessage(dt.msg);
            }
        },
        error:function(xhr){
            showErrorWithNoAction(
                "Internal server error. Please contact administrator website. <br>" + xhr.status + ' ' + xhr.statusText
            );
        }
    })
}
function getMuco() {
    var val = $("#inputArco").val();
    getData('arco');
    var selMuco = $("#inputMuco");
    selMuco.html('');
    if (val!="0") {
        $.ajax({
            url: api_url + 'Data/getMuco',
            data: {idarco: val},
            method: 'GET',
            dataType: 'json',
            success: function (dt) {
                if (dt.success) {
                    selMuco.html('<option value="0">Select Muco</option>');
                    for (let n = 0; n < dt.data.length; n++) {
                        const el = dt.data[n];
                        var optArco = "<option value='" + el.idusers + "'>" + el.municipioname + "</option>";
                        selMuco.append(optArco);
                    }
                } else {
                    returnErrorMessage(dt.msg);
                }
            },
            error: function (xhr) {
                showErrorWithNoAction(
                    "Internal server error. Please contact administrator website. <br>" + xhr.status + ' ' + xhr.statusText
                );
            }
        });
    }
}
function getProductsCat() {
    $.ajax({
        url: api_url + 'Data/getProductsCat',
        method: 'GET',
        dataType: 'json',
        success: function (dt) {
            if (dt.success) {
                var selProdCat = $("#inputProductSum");
                for (let n = 0; n < dt.data.length; n++) {
                    const el = dt.data[n];
                    var optProductCat = "<option value='" + el.idproducts_category + "'>" + el.category_name + "</option>";
                    selProdCat.append(optProductCat);
                }
            } else {
                returnErrorMessage(dt.msg);
            }
        },
        error: function (xhr) {
            showErrorWithNoAction(
                "Internal server error. Please contact administrator website. <br>" + xhr.status + ' ' + xhr.statusText
            );
        }
    });
}
function getProducts() {
    var val = $("#inputProductSum").val();
    getData();
    if (val != "0") {
        $.ajax({
            url: api_url + 'Data/getProducts',
            data: { idcat: val },
            method: 'GET',
            dataType: 'json',
            success: function (dt) {
                if (dt.success) {
                    var selProd = $("#inputProduct");
                    selProd.html('');
                    selProd.append('<option value="0">Select Product</option>');
                    for (let n = 0; n < dt.data.length; n++) {
                        const el = dt.data[n];
                        var optArco = "<option value='" + el.idproducts + "'>" + el.product_name + "</option>";
                        selProd.append(optArco);
                    }
                } else {
                    returnErrorMessage(dt.msg);
                }
            },
            error: function (xhr) {
                showErrorWithNoAction(
                    "Internal server error. Please contact administrator website. <br>" + xhr.status + ' ' + xhr.statusText
                );
            }
        });
    }
}

// Function Get Data
function getData(by) {
    var period = $("#inputDate").val(),
        periodSplit = period.split("-"),
        periodStart = datePHPJS('Y-m-d', new Date(periodSplit[0])),
        periodEnd = datePHPJS('Y-m-d', new Date(periodSplit[1])),
        column = $("#inputColumn").val(),
        row = $("#inputRow").val();
    var params = {stperiod: periodStart,endperiod: periodEnd,col:column,row: row};
    var inputParamArco = $("#inputArco").val(),
        inputParamMuco = $("#inputMuco").val(),
        inputParamStatus = $("#inputStatus").val(),
        inputParamProductSum = $("#inputProductSum").val(),
        inputParamProduct = $("#inputProduct").val();
    if (inputParamArco != "0") {
        params['idarco'] = inputParamArco;
    };
    if (inputParamStatus != "0") {
        params['idstatus'] = inputParamStatus;
    };
    if (inputParamMuco != "0") {
        params['idmuco'] = inputParamMuco;
    };
    if (inputParamProduct != "0") {
        params['idproduct'] = inputParamProduct;
    };
    if (inputParamProductSum != "0") {
        params['idproductsum'] = inputParamProductSum;
    };

    $("#bodyData").html('');
    var dte = datePHPJS('Y-m-d', strtotime(periodEnd) + 86400);
    $('.grouping').remove();

    $.ajax({
        url: api_url + 'report/po_summary',
        data: params,
        dataType: 'json',
        method: 'GET',
        success:function(data){
            if(data.success){
                setTable(data,column);
            }else{
                resetTable();
            }
        },
        error:function(xhr){
            showErrorWithNoAction(
                "Internal server error. Please contact administrator website. <br>" + xhr.status + ' ' + xhr.statusText
            );
        }
    })
}
function setTable(data,column) {
    var group = data.grouping;
    var period = $("#inputDate").val(),
        thRow = $("#tblRow"),
        thCol = $("#tblCol"),
        periodSplit = period.split("-"),
        periodStart = datePHPJS('Y-m-d', new Date(periodSplit[0])),
        periodEnd = datePHPJS('Y-m-d', new Date(periodSplit[1]));
    var idm = 0;
    thRow.text($('#inputRow option[value="'+$('#inputRow').val()+'"]').text());

    var dateCheck = "";

    //set column title date range
    for (var dg in data.groupingCol) {
        var groupName = data.groupingCol[dg]['nama'];
        var groupId = data.groupingCol[dg]['id'];
        if (groupName != "grand_total") {
            $('#tblCol').before('<th class="grouping">' + groupName + '</th>');
        }
    }

    for (var i in data.grouping) {
        var row = data.grouping[i]['nama'];
        var idrow = data.grouping[i]['id'];

        var html = '<tr>';
        html += '<td nowrap>' + (row == 'grand_total' ? '<b>Grand Total</b>' : row) + '</td><td style="display:none"></td>';
        
        for(var ii in data.groupingCol){
            var idcol = data.groupingCol[ii]['id'];
            var nilai = 0;

            if (data.data[idrow]!=null) {
                if (data.data[idrow][idcol]!=null) {

                    var data_td = data.data[idrow][idcol];

                    nilai = (data_td['total'] == null) ? 0 : replaceDuitTigaDigit(parseFloat(data_td['total']).toFixed(2));
                }
            }

            if(idcol!='grand_total'){
                html += '<td class="text-center" ' + (row == 'grand_total' ? 'style="font-weight:bold"' : '') + '>' + nilai +'</td>';
            }
        }

        var total_group = 0;
        if(data.data[idrow]!=null){
            if(data.data[idrow]['total_group']!=null){
                total_group = replaceDuitTigaDigit(parseFloat(data.data[idrow]['total_group']).toFixed(2));
            }
        }

        html += '<td class="text-center" style="font-weight:bold">' + total_group + '</td>';
        html += '</tr>';

        $("#bodyData").append(html);
    }

    clearColRowEmpty();    
}
function resetTable() {
    $("#bodyData").html('');
}
function clearColRowEmpty(){
    var jumtr = $("#bodyData tr").length;
    var jumtd = $("#bodyData tr:first td").length;
        
    //loop for column empty
    for(var itd=1;itd<jumtd-1;itd++){//skip first and last column

        var clc = 0;
        for(var itr=0;itr<jumtr;itr++){
            var td = $('#bodyData tr:eq('+itr+') td:eq('+itd+')').text();

            if(parseFloat(td)==0){
                clc++;
            }
        }

        if(clc==jumtr){//same as refered tr
            $('#bodyData:parent').find('tr').find('td:eq('+itd+')').hide();
            $('#bodyData').parent().find('th:eq('+(itd-1)+')').hide();
        }
    }

    jumtd = $("#bodyData tr:first td:visible").length;

    //loop for row empty
    for(var itr=0;itr<jumtr;itr++){

        var clc = 0;
        for(var itd=1;itd<jumtd-1;itd++){//skip first and last column
            var td = $('#bodyData tr:eq('+itr+') td:visible').eq(itd).text();

            if(parseFloat(td)==0){
                clc++;
            }
        }

        if(clc==jumtd-2){//same as refered td
            $('#bodyData:parent').find('tr:eq('+itr+')').hide();
        }
    }
}
</script>